{% extends 'layout.html' %}

{% block pageTitle %}
Travel and Dual Accommodation Expense claims
{% endblock %}

{% block pageScripts %}
<script>
  function change() // no ';' here
{
  var btn = document.getElementById("toggle-filter");
  if(btn.innerText=="Show filter"){
     btn.innerText="Hide filter";
    }
  else{
    btn.innerText="Show filter";
    }
}
</script>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">


    <div class="nhsuk-grid-column-full">

      {{ backLink({
        "href": "dashboard",
        "text": "Go back"
      }) }}

        <h1 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses</h1>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <p>This is a list of claims submitted by students. Claims are displayed in order of when they were submitted, oldest at the top.</p>
    </div>
    <div class="nhsuk-grid-column-full">
        <p><a class="nhsuk-link--no-visited-state" href="TDAE-previous-claims-list">View previously processed claims</a>
        </p>

        <button class="nhsuk-button nhsuk-button--secondary" id="toggle-filter" style="margin-bottom: 24px;" value="Show filter" onclick="change()">Show filter</button>

        <div class="moj-filter-layout">

            <div class="nhsuk-grid-column-full nhsuk-u-padding-0 moj-filter-layout__filter nhsbsa-hide-filter" id="filter-column">

              <div class="moj-filter">

                <div class="moj-filter__header">

                  <div class="moj-filter__header-title">
                    <h2 class="nhsuk-heading-m">Filter</h2>
                  </div>

                  <div class="moj-filter__header-action">

                  </div>

                </div>

                <div class="moj-filter__content">

                  <!--<div class="moj-filter__selected">

                    <div class="moj-filter__selected-heading">

                      <div class="moj-filter__heading-title">
                        <h2 class="nhsuk-heading-s">Selected filters</h2>
                      </div>

                      <div class="moj-filter__heading-action">
                        <p><a class="nhsuk-link nhsuk-link--no-visited-state" href="">Clear filters</a></p>
                      </div>

                    </div>

                    <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">Status</h3>

                    <ul class="moj-filter-tags">

                      <li><a class="nhsuk-tag nhsuk-tag--white" href="#"><span class="nhsuk-u-visually-hidden">Remove this filter</span> Complete</a></li>

                    </ul>

                  </div>-->

                  <div class="moj-filter__options">

                    <div style="float: left; width: 50%;" class="nhsuk-form-group nhsuk-u-padding-right-5">
                      <label class="nhsuk-label" for="student-name">
                        Student name
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="student-name" name="student-name" type="text">
                    </div>
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="course">
                        Course
                      </label>
                      <input class="nhsuk-input nhsuk-input--width-20" id="course" name="course" type="text">
                    </div>

                    <div class="nhsuk-form-group">

                      <fieldset class="nhsuk-fieldset">

                        <label class="nhsuk-label" for="student-name">
                          Status
                        </label>

                        <div class="nhsuk-hint" id="contact-hint">
                          Select the statuses you want shown.
                        </div>

                        <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-u-padding-bottom-5" data-module="nhsuk-checkboxes">

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" {% if data['filter'] == 'yes' %}checked{% endif %}>
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="status">
                              To be completed (5)
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="status-2">
                              University processing (1)
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="3">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="status-3">
                              Returned from NHSBSA (2)
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="4">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="status-3">
                              Returned to student (7)
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="5">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="status-3">
                              Submitted to NHSBSA (15)
                            </label>
                          </div>

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="6">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="status-3">
                              Payment approved (4)
                            </label>
                          </div>

                        </div>

                        <form action="TDAE-claims-list?filter=yes" method="POST">
                          <button style="float: left;" class="nhsuk-button" data-module="nhsuk-button">
                            Apply filters
                          </button>
                        </form>
                        {% if data['filter'] == 'yes' %}
                        <p style="float: left; padding-top: 15px; padding-left: 15px;"><a href="course-intake?filter=no">Reset filters</a></p>
                        {% endif %}

                      </fieldset>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>


                <table role="table" class="nhsuk-table-responsive">
                    <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Travel expense claims list</caption>
                    {% if data['filter'] == 'yes' %}
                    <div class="nhsuk-hint nhsuk-u-padding-top-3" id="Filtered-results">Filtered results contain 12 claims</div>
                    {% endif %}
                    <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" class="" scope="col">
                                Student name
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Course
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Claim submitted
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Status
                            </th>
                            <th role="columnheader" class="" scope="col">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Amara Ansari
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Nursing
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>15 November 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span>
                                {% if data['Ansari'] == 'submitted' %}
                                <strong class="nhsuk-tag nhsuk-tag--green">Submitted to NHSBSA</strong>
                                {% else %}
                                <strong class="nhsuk-tag nhsuk-tag--white">To be completed</strong>
                                {% endif %}
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span>
                                {% if data['Ansari'] == 'submitted' %}
                                <a class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Amara Ansari&status=Submitted to NHSBSA&evidence-completed=completed&university-completed=completed&approve-in-progress=completed&read-only=true">View
                                    claim</a>
                                {% else %}
                                <a class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Amara Ansari&status=To be completed&evidence-completed=&university-completed=&approve-in-progress=&read-only=">Process
                                    claim</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Ben Bloggs
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Nursing
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>22 November 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span>
                                {% if data['Bloggs'] == 'returned' %}
                                <strong class="nhsuk-tag nhsuk-tag--yellow">Returned to student</strong>
                                {% else %}
                                <strong class="nhsuk-tag nhsuk-tag--white">To be completed</strong>
                                {% endif %}
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span>
                                {% if data['Bloggs'] == 'returned' %}
                                <a class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Ben Bloggs&status=Returned to student&evidence-completed=in-progress&university-completed=completed&approve-in-progress=&read-only=true">View
                                    claim</a>
                                {% else %}
                                <a class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Ben Bloggs&status=To be completed&evidence-completed=&university-completed=&approve-in-progress=&read-only=&wrong-evidence=true">Process
                                    claim</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Philip Wilkes
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Dental
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>25 November 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong
                                    class="nhsuk-tag nhsuk-tag--blue">Being assessed</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Philip Wilkes&status=University processing&evidence-completed=&university-completed=completed&approve-in-progress=&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Mia Smith
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Medicine
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>28 November 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong
                                    class="nhsuk-tag nhsuk-tag--green">Submitted to NHSBSA</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Mia Smith&status=Submitted to NHSBSA&evidence-completed=completed&university-completed=completed&approve-in-progress=completed&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>George Hill
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Podiatry
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>01 December 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span>
                                <strong class="nhsuk-tag nhsuk-tag--yellow">Returned to student</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=George Hill&status=Returned to student&evidence-completed=in-progress&university-completed=completed&approve-in-progress=&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Chet Cheema
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Nurse
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>08 December 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span>
                                {% if data['Cheema'] == 'returned' %}
                                <strong class="nhsuk-tag nhsuk-tag--yellow">Returned to student</strong>
                                {% else %}
                                <strong class="nhsuk-tag nhsuk-tag--white">Returned from NHSBSA</strong>
                                {% endif %}
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span>
                                {% if data['Cheema'] == 'returned' %}
                                <a class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Chet Cheema&status=Returned to student&evidence-completed=in-progress&university-completed=completed&approve-in-progress=&read-only=true">View
                                    claim</a>
                                {% else %}
                                <a class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Chet Cheema&status=Returned from NHSBSA&evidence-completed=in-progress&university-completed=completed&approve-in-progress=&read-only=&wrong-evidence=false">
                                    Process claim</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Douglas Reynholm
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Medicine
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>09 December 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong
                                    class="nhsuk-tag">Payment approved</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Douglas Reynholm&status=Payment approved&evidence-completed=completed&university-completed=completed&approve-in-progress=completed&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Craig Breen
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Nursing
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>11 December 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong
                                    class="nhsuk-tag">Payment approved</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Craig Breen&status=Payment approved&evidence-completed=completed&university-completed=completed&approve-in-progress=completed&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Michelle Moutton
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Nursing
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>11 December 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong
                                    class="nhsuk-tag">Payment approved</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Michelle Moutton&status=Payment approved&evidence-completed=completed&university-completed=completed&approve-in-progress=completed&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Student name </span>Osian Pryce
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Course </span>Medical
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Claim submitted date </span>12 December 2022
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Status </span><strong
                                    class="nhsuk-tag">Payment approved</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                                <span class="nhsuk-table-responsive__heading">Action </span><a
                                    class="nhsuk-link--no-visited-state"
                                    href="TDAE-student-claim?name=Osian Pryce&status=Payment approved&evidence-completed=completed&university-completed=completed&approve-in-progress=completed&read-only=true">View
                                    claim</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

              <nav class="nav" role="navigation" aria-label="Pagination">

                <ul class="pagination">
                    <li class="pagination__item pagination-li"><a class="pagination__link current" href="#" aria-current="true"
                            aria-label="Page 1, current page">1</a></li>
                    <li class="pagination__item pagination-li"><a class="pagination__link" href="#" aria-label="Page 2">2</a></li>
                    <li class="pagination__item pagination-li"><a class="pagination__link" href="#" aria-label="Page 3">3</a></li>
                    <li class="pagination__item pagination-li"><a class="pagination__link" href="#" aria-label="Page 4">4</a></li>
                </ul>

                <a class="pagination__link" href="#" aria-label="Next page">Next<span aria-hidden="true"
                        role="presentation">&nbsp;&raquo;</span></a>

                <div class="pagination__summary navigation-mobile" style="text-align: right;">Showing 1 - 10 of 34 claims
                </div>
            </nav>



    </div>

</div>
{% endblock %}
