{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
University details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check reasons for {% if data['return-student'] != 'Decline claim' %}returning to university{% else %}declining the claim{% endif %}</h1>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Returning or declining?
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['return-student'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="TDAE-return-decline">
              Change<span class="nhsuk-u-visually-hidden"> reason</span>
            </a>
          </dd>
        </div>
        {% if data['return-student'] != 'Decline claim' %}
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Reason
            </dt>
            <dd class="nhsuk-summary-list__value">
              <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
                <li>Placement timesheets evidence</li>
                <li>Taxi costs (for DSA students)</li>
              </ul>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="TDAE-send-to-student">
                Change<span class="nhsuk-u-visually-hidden"> reason</span>
              </a>
            </dd>
          </div>
        {% endif %}

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Comments about the claim
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['return-more-detail'] }}
            </dd>

            <dd class="nhsuk-summary-list__actions">

              <a href="TDAE-details-for-return">
                Change<span class="nhsuk-u-visually-hidden"> details</span>
              </a>

            </dd>

          </div>

        </dl>

        {% if data['return-student'] == 'Decline claim' %}
      <a class="nhsuk-button" href="TDAE-sent-to-student">Return to student</a>
      {% else %}
      <a class="nhsuk-button" href="TDAE-sent-to-student">Return to university</a>
      {% endif %}



    </div>

  </div>
{% endblock %}
