{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Claim summary
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Authorising payment</h1>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Payment approval date
        </dt>
        <dd class="nhsuk-summary-list__value">
          <div id="currentDate"></div>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010003
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Alyssa Geary
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Course
        </dt>
        <dd class="nhsuk-summary-list__value">
          Adult Nursing
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-m">Placement costs</h2>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Taxi costs (DSA student)
        </dt>
        <dd class="nhsuk-summary-list__value">
          £65.20
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total cost
        </dt>
        <dd class="nhsuk-summary-list__value">
          <strong>£65.20</strong>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-m">Total amount to be reimbursed</h2>
    <!--<p>This amount is the total placement costs minus the university travel costs.</p>-->
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total amount
        </dt>
        <dd class="nhsuk-summary-list__value">
          <strong>£65.20</strong>
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-student-claim">Return to claim</a><br>
    <a class="nhsuk-button" href="TDAE-payment-authorised">Authorise payment</a>


  </div>

</div>

<script>
    // JavaScript code
    var currentDateElement = document.getElementById("currentDate");

    // Get the current date
    var currentDate = new Date();

    // Format the date as desired
    var options = { day: 'numeric', month: 'long', year: 'numeric' };
    var formattedDate = currentDate.toLocaleDateString(undefined, options);

    // Set the formatted date as the content of the element
    currentDateElement.textContent = formattedDate;
  </script>

{% endblock %}
