{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

        <form action="v6/TDAE-accommodation-travel-check-3" method="POST">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  {% if data['name'] === 'Emmit Mar' %}
                  <h1 class="nhsuk-heading-l">Can you process the accommodation travel journey 3 details?</h1>
                  {% else %}
                  <h1 class="nhsuk-heading-l">Can you process the accommodation travel journey 1 details?</h1>
                  {% endif %}
                  <div class="nhsuk-hint">Use the evidence and notes you have seen to choose whether you can accept these details.</div>
                  <div class="nhsuk-radios" data-module="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="evidence-match-yes" name="accommodation-travel-check-3" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="evidence-match-yes">
                        Yes
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="evidence-match-no" name="accommodation-travel-check-3" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="evidence-match-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
            </div>
            <button class="nhsuk-button" type="submit">
                Save and continue
            </button>
        </form>

  </div>

</div>
{% endblock %}
