{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Claim summary
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Authorising payment</h1>

    <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Student number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['student number'] }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Student name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['name'] }}
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Course
            </dt>
            <dd class="nhsuk-summary-list__value">
              Adult Nursing
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Payment to student
            </dt>
            <dd class="nhsuk-summary-list__value">
              £290.18
            </dd>
          </div>

          </dl>

      <a class="nhsuk-button" href="TDAE-payment-authorised">Authorise payment</a>


  </div>

</div>
{% endblock %}
