{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Payment authorised
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds"> 

    <!-- <form action="v3/TDAE-approve-pend-reject" method="POST"> -->

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                    Payment authorised for {{ data['name'] }}
                    <span class="nhsuk-heading-m nhsuk-u-margin-top-5">Student number: {{ data['student number'] }}</span>
                </h1>
                
            </div>
        </div>

        <p>Payment has been authorised and a notification has been sent to the student with the outcome of their claim.</p>

        <a class="nhsuk-button nhsuk-u-margin-right-4" href="student-course-details?Ansari=submitted">Student course details</a>


    <!-- </form> -->

    </div>

  </div>
{% endblock %}
