{% extends 'layout.html' %}

{% block pageTitle %}
Additional costs for your normal daily journey
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v2/TDAE-additional-costs" method="POST">

            

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-5">
                    <h1 class="nhsuk-heading-l">Additional costs for your normal daily journey</h1>
                </label>
				<p>These are costs to you which have covered car parking, tunnel or toll road charges.</p>
                <div class="nhsuk-hint" id="contact-hint">
                    For example, 10.00
                  </div>
                <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
            </div>

			<button class="nhsuk-button" type="submit">Next</button><br>
			<a href="TDAE-start-claim">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}