{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <!-- <form action="" method="POST"> -->

        <h1 class="nhsuk-heading-xl">Check your answers</h1>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Placement address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    675 Building stree 1,<br>
                    Building street 2,<br>
                    Town,<br>
                    County,<br>
                    NE33 3CD
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-term-time-address">
                        Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Claim start date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    21 / 11 / 2022
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-normal-place-study">
                        Change<span class="nhsuk-u-visually-hidden"> claim start date</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Claim end date
                </dt>
                <dd class="nhsuk-summary-list__value">
                    02 / 12 / 2022
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-normal-return-mileage">
                        Change<span class="nhsuk-u-visually-hidden"> claim end date</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Days claiming for
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Monday<br>
                    Thursday<br>
                    Friday
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-additional-costs">
                        Change<span class="nhsuk-u-visually-hidden"> days claiming for</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Placement return mileage
                </dt>
                <dd class="nhsuk-summary-list__value">
                    20
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-additional-costs">
                        Change<span class="nhsuk-u-visually-hidden"> placement return mileage</span>
                    </a>

                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Additional costs
                </dt>
                <dd class="nhsuk-summary-list__value">
                    15.00
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-additional-costs">
                        Change<span class="nhsuk-u-visually-hidden"> additional costs</span>
                    </a>

                </dd>

            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Total amount to claim</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Total
                </dt>
                <dd class="nhsuk-summary-list__value">
                    £5.00
                </dd>

                <dd class="nhsuk-summary-list__actions">


                </dd>

            </div>
        </dl>

        <h2 class="nhsuk-heading-m">Your evidence</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Car journey mileage
              </dt>
              <dd class="nhsuk-summary-list__value">
                my-mileage-receipt.jpg
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
          
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Parking
              </dt>
              <dd class="nhsuk-summary-list__value">
                parking-receipt.jpg
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
        
          
              </dd>
          
            </div>
          
          </dl>




        <a class="nhsuk-button" href="TDAE-student-declaration">Next</a><br>
        <a href="TDAE-start-claim">Cancel</a>

        <!-- </form> -->

    </div>

</div>
{% endblock %}