{% extends 'layout.html' %}

{% block pageTitle %}
What is the return mileage to your placement?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v2/TDAE-placement-return-mileage" method="POST">

            

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-5">
                    <h1 class="nhsuk-heading-l">What is the mileage to and from your placement?</h1>
                </label>
                <div class="nhsuk-hint" id="contact-hint">
                    This is the total miles it takes you to travel between your term-time address and placement. For example, 15.5.
                  </div>
                <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="placement-mileage" type="text">
            </div>

			<details class="nhsuk-details">
				<summary class="nhsuk-details__summary">
				  <span class="nhsuk-details__summary-text">
					How to work out your mileage
				  </span>
				</summary>
				<div class="nhsuk-details__text">
					<p>Ways you can check your mileage:</p>
					<ul class="nhsuk-list nhsuk-list--bullet">
						<li>reset the mileage trip on your car dashboard at the start of your journey to track the miles you do for a return journey</li>
						<li>enter your term-time address and placement address into Google maps and see the mileage results for that journey</li>
					</ul>
				</div>
			  </details>

			<button class="nhsuk-button" type="submit">Next</button><br>
			<a href="TDAE-start-claim">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}