// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/phase-banner';
@import 'components/multi-file-upload';
@import 'components/task-list';
@import 'components/moj-filter';
@import 'components/pagination';
@import 'components/full-width';
@import 'components/nhsbsa-manage';


// Reminder: import tabs from node_modules
@import 'components/tabs';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
///
///

@media(min-width:769px){
  .extra-cost-button {
    width:20%!important;
  }
}

.nhsuk-button--warning {
  background-color: #d4351c!important
}

.nhsuk-u-width-one-fifth {
  width: 100%!important
}

@media (min-width: 40.0625em) {
  .nhsuk-u-width-one-fifth {
      width:20%!important
  }
}

.nhsbsa-count-error-message{
  color: #d5281b;
}

.capitalize { text-transform: capitalize; }

/***** Action block *****/

.action-block {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #d8dde0;
}

.action-block .nhsuk-button {
  width: 100%;
  margin: 0 0 14px;
  margin-bottom: 32px !important;
}

/***** GOV input suffix *****/

.nhsuk-input__suffix-input{padding-top: 5px;}
.nhsuk-input__suffix{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;-webkit-box-sizing:border-box;box-sizing:border-box;display:initial;min-width:40px;min-width:2.5rem;height:40px;height:2.5rem;padding-bottom: 7px!important; padding:8px;border: 2px solid #4c6272;border-left: 0px;
  margin-left: -5px; background-color:#f3f2f1;text-align:center;white-space:nowrap;cursor:default;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto}@media print{.nhsuk-input__suffix{font-family:sans-serif}}@media(min-width: 40.0625em){.nhsuk-input__suffix{font-size:19px;font-size:1.1875rem;line-height:1.3157894737}}@media print{.nhsuk-input__suffix{font-size:14pt;line-height:1.15}}@media(max-width: 40.0525em)
  {.nhsuk-input__suffix{line-height:1.6}}@media(max-width: 19.99em)
  {.nhsuk-input__suffix{display:block;height:100%;white-space:normal}}
  @media(min-width: 20em){.nhsuk-input__suffix{border-left:0}}



/***** GOV input suffix END *****/

/***** GOV input prefix *****/

.nhsuk-input__prefix-input{padding-top: 5px;}
.nhsuk-input__prefix{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px; margin-right: -5px;font-size:1rem;line-height:1.25;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;min-width:40px;min-width:2.5rem;height:40px;height:2.5rem;padding-bottom: 7px!important; padding:6px;border: 2px solid #4c6272;background-color:#f3f2f1;text-align:center;white-space:nowrap;cursor:default;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto}@media print{.nhsuk-input__prefix{font-family:sans-serif}}@media(min-width: 40.0625em){.nhsuk-input__prefix{font-size:19px;font-size:1.1875rem;line-height:1.3157894737}}@media print{.nhsuk-input__prefix{font-size:14pt;line-height:1.15}}@media(max-width: 40.0525em){.nhsuk-input__prefix{line-height:1.6}}@media(max-width: 19.99em){.nhsuk-input__prefix{display:block;height:100%;white-space:normal}}@media(max-width: 19.99em){.nhsuk-input__prefix{border-bottom:0}}@media(min-width: 20em){.nhsuk-input__prefix{border-right:0}}

/***** GOV input prefix END *****/

/***** GOV Notification banner *****/

.nhsuk-notification-banner{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;margin-bottom:30px;border:5px solid #005eb8;background-color:#005eb8}@media print{.nhsuk-notification-banner{font-family:sans-serif}}@media(min-width: 40.0625em){.nhsuk-notification-banner{font-size:19px;font-size:1.1875rem;line-height:1.3157894737}}@media print{.nhsuk-notification-banner{font-size:14pt;line-height:1.15}}@media(min-width: 40.0625em){.nhsuk-notification-banner{margin-bottom:50px}}
.nhsuk-notification-banner:focus{outline:3px solid #fd0}
.nhsuk-notification-banner__header{padding:2px 15px 5px;border-bottom:1px solid rgba(0,0,0,0)}@media(min-width: 40.0625em){.nhsuk-notification-banner__header{padding:2px 20px 5px}}
.nhsuk-notification-banner__title{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:700;font-size:16px;font-size:1rem;line-height:1.25;margin:0;padding:0;color:#fff}@media print{.nhsuk-notification-banner__title{font-family:sans-serif}}@media(min-width: 40.0625em){.nhsuk-notification-banner__title{font-size:19px;font-size:1.1875rem;line-height:1.3157894737}}@media print{.nhsuk-notification-banner__title{font-size:14pt;line-height:1.15}}
.nhsuk-notification-banner__content{color:#0b0c0c;padding:15px;background-color:#fff}@media print{.nhsuk-notification-banner__content{color:#000}}@media(min-width: 40.0625em){.nhsuk-notification-banner__content{padding:20px}}.nhsuk-notification-banner__content>*{-webkit-box-sizing:border-box;box-sizing:border-box;max-width:605px}.nhsuk-notification-banner__content>:last-child{margin-bottom:0}.nhsuk-notification-banner__heading{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:700;font-size:18px;font-size:1.125rem;line-height:1.1111111111;margin:0 0 15px 0;padding:0}@media print{.nhsuk-notification-banner__heading{font-family:sans-serif}}@media(min-width: 40.0625em){.nhsuk-notification-banner__heading{font-size:24px;font-size:1.5rem;line-height:1.25}}@media print{.nhsuk-notification-banner__heading{font-size:18pt;line-height:1.15}}.nhsuk-notification-banner__link{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-decoration:underline;text-decoration-thickness:max(1px, .0625rem);text-underline-offset:.1em}@media print{.nhsuk-notification-banner__link{font-family:sans-serif}}.nhsuk-notification-banner__link:hover{text-decoration-thickness:max(3px, .1875rem, .12em);-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;text-decoration-skip:none}.nhsuk-notification-banner__link:focus{outline:3px solid rgba(0,0,0,0);color:#0b0c0c;background-color:#fd0;-webkit-box-shadow:0 -2px #fd0,0 4px #0b0c0c;box-shadow:0 -2px #fd0,0 4px #0b0c0c;text-decoration:none;-webkit-box-decoration-break:clone;box-decoration-break:clone}.nhsuk-notification-banner__link:link{color:#005eb8}.nhsuk-notification-banner__link:visited{color:#005eb8}.nhsuk-notification-banner__link:hover{color:#003078}.nhsuk-notification-banner__link:active{color:#0b0c0c}.nhsuk-notification-banner__link:focus{color:#0b0c0c}.nhsuk-notification-banner--success{border-color:#00703c;background-color:#00703c}.nhsuk-notification-banner--success .nhsuk-notification-banner__link:link,.nhsuk-notification-banner--success .nhsuk-notification-banner__link:visited{color:#00703c}.nhsuk-notification-banner--success .nhsuk-notification-banner__link:hover{color:#004e2a}.nhsuk-notification-banner--success .nhsuk-notification-banner__link:active{color:#00703c}.nhsuk-notification-banner--success .nhsuk-notification-banner__link:focus{color:#0b0c0c}

/***** GOV Notification banner END *****/

.nhsuk-button--small {
  font-size: 1em;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
}

/***** Text editor *****/

.trumbowyg-box {
  border: 2px solid #425563 !important;
  background-color: #ffffff; }

.trumbowyg-button-pane::after {
  height: 2px !important;
  background-color: #425563 !important; }

.trumbowyg-editor {
  word-wrap: anywhere;
  color: #212b32; }

  /***** Text editor END *****/

.nhsuk-select {
    &.nhsuk-select--custom-width {
        width: 100%;
        max-width: 100%;
    }
}

.nhsuk-custom-three-column {
    display: inline-block;
    width: 33%;
}

.nhsuk-custom-four-column {
    display: inline-block;
    width: 24%;
}

.nhsuk-inset-text {
    &.nhsuk-inset--custom-width {
        width: 100%;
        max-width: 100%;
    }
}

.nhsuk-button-custom {
    float: right;
}

// Modal
.overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    padding-top: 20vh;
    z-index: 1;
}

// Style button as a link to show 'Action required' journey
.nhsbsa-link--custom {
    font-size: 1.1875rem;
    text-align: left;
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #005eb8;
    text-decoration: underline;
    cursor: pointer;
}

// Screen with two forms to be inline - File: TDAE-evidence-week-cya
.nhsbsa-form--inline {
    display: inline-block;
}

.nhsbsa-hide-filter {
    display: none;
}

// single file upload
.nhsuk-file-upload {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    color: #0b0c0c;
    max-width: 100%;
    margin-left: -5px;
    padding: 5px;
}
.nhsuk-file-upload:focus {
outline: 3px solid #ffdd00;
box-shadow: inset 0 0 0 4px #0b0c0c;
}

// custom header
.nhsbsa-custom-header {
    width: 100%;
    display: block;
}
.nhsbsa-header--content {
    display: block;

    .nhsbsa-custom-header-link {

        a {
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

    }
}
.nhsbsa-custom-hr {
    margin-top: 60px;
    margin-bottom: 15px;
}


/* small checkbox from gov */
.nhsbsa-table-select > tbody > tr td:first-child {
    border-left: 3px solid transparent;
}

.nhsuk-checkboxes--small .nhsuk-checkboxes__item {
    min-height: 0;
    margin-bottom: 0;
    padding-left: 34px;
    float: left;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__item:after {
    content: "";
    display: block;
    clear: both;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__input {
    left: -10px;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label {
    margin-top: -2px;
    padding: 13px 15px 13px 1px;
    float: left;
  }

  @media(min-width: 40.0625em) {
    .nhsuk-checkboxes--small .nhsuk-checkboxes__label {
      padding: 11px 15px 10px 1px;
    }
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label:before {
    top: 8px;
    width: 24px;
    height: 24px;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__label:after {
    top: 15px;
    left: 6px;
    width: 12px;
    height: 6.5px;
    border-width: 0 0 3px 3px;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__hint {
    padding: 0;
    clear: both;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__conditional {
    margin-left: 10px;
    padding-left: 20px;
    clear: both;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__item:hover .nhsuk-checkboxes__input:not(:disabled)+.nhsuk-checkboxes__label:before {
    box-shadow: 0 0 0 10px #b1b4b6;
  }

  .nhsuk-checkboxes--small .nhsuk-checkboxes__item:hover .nhsuk-checkboxes__input:focus+.nhsuk-checkboxes__label:before {
    box-shadow: 0 0 0 3px #ffeb3b, 0 0 0 10px #b1b4b6
  }

  @media(hover: none),
  (pointer: coarse) {
    .nhsuk-checkboxes--small .nhsuk-checkboxes__item:hover .nhsuk-checkboxes__input:not(:disabled)+.nhsuk-checkboxes__label:before {
      box-shadow: initial;
    }

    .nhsuk-checkboxes--small .nhsuk-checkboxes__item:hover .nhsuk-checkboxes__input:focus+.nhsuk-checkboxes__label:before {
      box-shadow: 0 0 0 3px #ffeb3b;
    }
  }
/* Small checkboxes in table */
td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item > .nhsuk-checkboxes__label:before {
    top: 10px;
    left: 10px;
}
td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item > .nhsuk-checkboxes__label:after{
    top: 17px;
    left: 16px;
}
@media only screen and (min-width:613px) {
    td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item > .nhsuk-checkboxes__label:before {
        top: 2px;
        left: 10px;
    }
    td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item > .nhsuk-checkboxes__label:after{
        top: 8px;
        left: 16px;
    }
}
@media only screen and (min-width:769px) {
    td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item {
        margin-left: 10px;
    }
    td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item > .nhsuk-checkboxes__label:before {
        top: 0px;
    }
    td > .nhsuk-checkboxes--small > .nhsuk-checkboxes__item > .nhsuk-checkboxes__label:after{
        top: 7px;
    }
}
.nhsbsa-row--selected {
    background-color: #fff;
}
.nhsbsa-row--selected td:first-child {
    border-left:3px solid #225EB8 !important;
}

/* confirmation-panel */
.done-panel {
	background-color: #005EB8;
	text-align: center;
	color: white;
	padding: 30px;
	margin: 0px 0px 30px 0px;
}

.done-tick {
  background-image: url(../images/done-tick.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0 px;
  padding-left: 50px;
 }


.button-container {
  display: flex;

}


  /* Solid border */
hr.solid {
  border-top: 2px solid #d8dde0;
}
