// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/phase-banner';
@import 'components/multi-file-upload';
@import 'components/task-list';
@import 'components/moj-filter';
@import 'components/pagination';


// Reminder: import tabs from node_modules
@import 'components/tabs';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
/// 
///

/***** Text editor *****/

.trumbowyg-box {
  border: 2px solid #425563 !important;
  background-color: #ffffff; }

.trumbowyg-button-pane::after {
  height: 2px !important;
  background-color: #425563 !important; }

.trumbowyg-editor {
  word-wrap: anywhere;
  color: #212b32; }

  /***** Text editor END *****/

.nhsuk-select {
    &.nhsuk-select--custom-width {
        width: 100%;
        max-width: 100%;
    }
}

.nhsuk-custom-three-column {
    display: inline-block;
    width: 33%;
}

.nhsuk-custom-four-column {
    display: inline-block;
    width: 24%;
}

.nhsuk-inset-text {
    &.nhsuk-inset--custom-width {
        width: 100%;
        max-width: 100%;
    }
}

.nhsuk-button-custom {
    float: right;
}

// Modal
.overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    padding-top: 20vh;
    z-index: 1;
}

// Style button as a link to show 'Action required' journey
.nhsbsa-link--custom {
    font-size: 1.1875rem;
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #005eb8;
    text-decoration: underline;
    cursor: pointer;
}

// Screen with two forms to be inline - File: TDAE-evidence-week-cya
.nhsbsa-form--inline {
    display: inline-block;
}

.nhsbsa-hide-filter {
    display: none;
}
