{% extends 'layout-public.html' %}

{% block pageTitle %}
Academic year September 2023
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Your NHS Learning Support Fund
        reference number is SSRN0000059</span>Academic year September 2023 details</h1>

  </div>

</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <p>
      <strong>Course name</strong><br>
      Child Nursing<br><br><br>
      <strong>University</strong><br>
      Newcastle University<br><br>
      <strong>Academic year</strong><br>
      September 2023<br><br>
      <strong>Course details</strong><br>
      <a href="#">Edit</a>
    </p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <p>
      <strong>Attendance status</strong><br>
      University confirmation needed for term 1<br><br>
      <strong>Declaration</strong><br>
      <a href="#">View</a><br><br>
      <strong>Attendance</strong><br>
      Full Time<br><br>
    </p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <p>
      <strong>Course length</strong><br>
      3 years<br><br><br>
      <strong>Course year</strong><br>
      Year 3<br><br>
      <strong>Final year</strong><br>
      Yes<br><br>
    </p>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <hr>
    <h2 class="nhsuk-heading-l">Training Grant</h2>
    <h3 class="nhsuk-heading-m">Application for Training Grant</h3>
    <p>Training grant is a non-means tested grant of £5,000 per academic year. For more information, <a href="#">Please
        visit our website</a>.</p>

    <h2 class="nhsuk-heading-m">Application status</h2>
    <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
      <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Application status</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Application
          </th>
          <th role="columnheader" class="" scope="col">
            Status
          </th>
          <th role="columnheader" class="" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Application </span>Training Grant
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>Approved for payment
          </td>
          <!--<td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Upload further evidence</a>
          </td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h2 class="nhsuk-heading-l">Apply for further NHS Learning Support Funding</h2>
    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">Contents</h2>

      <ul class="nhsuk-tabs__list">
        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          <a class="nhsuk-tabs__tab" href="#tab-one">Parental Support</a>
        </li>
        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#tab-two">Travel and Dual Accommodation Expenses</a>
        </li>
        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#tab-three">Exceptional Support Fund</a>
        </li>
      </ul>

      <div class="nhsuk-tabs__panel" id="tab-one">
        <h3 class="nhsuk-heading-m">Parental Support</h3>
        <p>Parental Support is available to students who have parental responsibility for a child. Please ensure you
          have read the NHS Learning Support Fund guide relating to Parental Support before completing this application.
        </p>
        <a class="nhsuk-button" href="#">Apply</a>
      </div>
      <div class="nhsuk-tabs__panel" id="tab-two">
        <h3 class="nhsuk-heading-m">Travel and Dual Accommodation Expense (TDAE)</h3>
        <p>Travel and Dual Accommodation Expenses will reimburse excess costs incurred when undertaking clinical
          placement.</p>
        <h3 class="nhsuk-heading-m">When to submit a TDAE claim</h3>
        <p>You'll need to submit your form within six months of the last date of the placement period you are claiming
          for.</p>
        <a class="nhsuk-button nhsuk-u-margin-right-5" href="../TDAE-start-screen">Make a claim</a>
        <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-active-claims">View your active claims</a><br>
        <p><a href="TDAE-claim-history">View your claim history</a></p>
      </div>
      <div class="nhsuk-tabs__panel" id="tab-three">
        <h3 class="nhsuk-heading-m">Exceptional Support Fund</h3>
        <p>The Exceptional Support Fund (ESF) is available to eligible students experiencing unforeseen financial hardship during their studies, who have exhausted all other means of funding.</p>
        <p>You can apply for ESF at any point throughout the academic year, there's no closing date.</p>
        <p>We've put together an <a href="https://www.nhsbsa.nhs.uk/learning-support-fund/exceptional-support-fund" target="_blank" rel="noopener"> ESF application guide which is available on our website<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> to help you complete your application form.</p>
        <p>Read through this before submitting your application. It contains essential information about the types of evidence and supporting documentation you must provide with your claim.</p>
        <p><a id="downloadEsf" href="/nhslsf/apply/view/esf/form" target="_blank" rel="noopener">Download ESF application form<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a>
        <p>When completed post your ESF Application form to:</p>
        <p class="bold">NHS Learning Support Fund (ESF application)<br/>Student Services<br/>Hesketh House<br/>200 - 220 Broadway<br/>Fleetwood<br/>FY7 8SS</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
