{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <fieldset class="nhsuk-fieldset">

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                  Bank details changed for Emmit Marr
                </h1>
            </div>
        </div>

        <h2 class="nhsuk-heading-m">What happens next</h2>

        <p>We've emailed Emmit Marr to tell them we've changed their bank details.</p>

        <div class="nhsuk-form-group">
          <a class="nhsuk-button" href="student-details">Go to Student details</a>
        </div>
      </fieldset>

    </div>

  </div>
{% endblock %}
