{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <fieldset class="nhsuk-fieldset">
      <form action="v5/bank-details-new-details" method="POST">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Emmit Marr's new bank or building society details
          </h1>
        </legend>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-u-width-one-half">Name on the account</dt>
            <dd class="nhsuk-summary-list__value nhsuk-u-width-one-third">Emmit Marr</dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="app-link--copy" href="javascript:void(0);" aria-live="assertive" onclick="copyValue(this)">Copy<span class="nhsuk-u-visually-hidden"> name on the account</span></a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-u-width-one-half">Sort code</dt>
            <dd class="nhsuk-summary-list__value nhsuk-u-width-one-third">123456</dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="app-link--copy" href="javascript:void(0);" aria-live="assertive" onclick="copyValue(this)">Copy<span class="nhsuk-u-visually-hidden"> sort code</span></a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key nhsuk-u-width-one-half">Account number</dt>
            <dd class="nhsuk-summary-list__value nhsuk-u-width-one-third">12345678</dd>
            <dd class="nhsuk-summary-list__actions">
              <a class="app-link--copy" href="javascript:void(0);" aria-live="assertive" onclick="copyValue(this)">Copy<span class="nhsuk-u-visually-hidden"> account number</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="nhsuk-heading-m">Can you accept the new bank details?</h2>

        <div class="nhsuk-form-group">
          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="new-details-yes" name="new-details" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="new-details-yes">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="new-details-no" name="new-details" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="new-details-no">
                No
              </label>
            </div>

          </div>
        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">
              Save and continue
          </button><br>
          <p><a href="#">Cancel</a></p>
        </div>
      </form>
    </fieldset>

  </div>

</div>

  <style>

    .app-link--copy, .app-link--copy:link, .app-link--copy:active, .app-link--copy:visited, .app-link--copy:hover {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      border-bottom-color: #007f3b;
      box-shadow: 0 2px 0 #007f3b;
      margin-bottom: 16px;
      text-transform: none;
      background-color: #fff;
      border: 1px solid #007f3b;
      color: #007f3b;
      font-size: 16px;
      font-weight: 400;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
    }
    .app-link--copy:hover {
      background-color: #f0f4f5;
    }
    .app-link--copy:focus {
      background-color: #ffeb3b;
      box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
      color: #212b32;
      outline: 4px solid rgba(0, 0, 0, 0);
      text-decoration: none;
      border-color: #ffeb3b;
    }
  </style>

  <script>
    var lastClickedButton = null;

    function copyValue(element) {
        var valueElement = element.closest('.nhsuk-summary-list__row').querySelector('.nhsuk-summary-list__value');
        var valueToCopy = valueElement.textContent.trim();

        // Create a temporary textarea to copy the value to the clipboard
        var tempTextarea = document.createElement('textarea');
        tempTextarea.value = valueToCopy;
        document.body.appendChild(tempTextarea);
        tempTextarea.select();
        document.execCommand('copy');
        document.body.removeChild(tempTextarea);

        // Reset the text of the previously clicked button
        if (lastClickedButton) {
          lastClickedButton.textContent = 'Copy';
        }

        element.textContent = 'Copied';
        element.focus();
        lastClickedButton = element;
    }
  </script>

{% endblock %}
