{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">
			What is the student's mobile number?
		</h1>
		<div class="nhsuk-form-group">
      <div class="nhsuk-hint">For international numbers include the county code</div>
			<input class="nhsuk-input nhsuk-u-width-two-thirds" type="text" maxlength="20" inputmode="numeric" autocomplete="on" id="phone" name="phone" value="07971721420" />
    </div>
    <a class="nhsuk-button" href="change-phone-number-note?number=changed">Continue</a><br>
    <p><a href="student-details-change">Cancel</a></p>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
	<script>
		const sendBtn = document.getElementById('emailButton');
		const sendConfirm = document.getElementById('emailSentMsg');

		sendBtn.addEventListener("click", function (event) {
			sendConfirm.setAttribute("style", "display:block");
		});


	</script>
{% endblock %}
