{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Payment authorised
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    <!-- <form action="v4/TDAE-approve-pend-reject" method="POST"> -->

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                    Payment authorised for {{ data['name'] }}
                    <span class="nhsuk-heading-m nhsuk-u-margin-top-5">
                      Student reference number: 
                      {% if data['name'] === 'Emmit Mar' %}
                      SSRN0010001
                      {% elif data['name'] === 'Alyssa Geary' %}
                      SSRN0010003
                      {% elif data['name'] === 'Daniel Jackson' %}
                      SSRN0010004
                      {% else %}
                      SSRN0010002
                      {% endif %}
                    </span>
                </h1>

            </div>
        </div>

        <p>We have emailed {{ data['name'] }} to tell them their claim has been approved. They will receive their payment within the next 10 working days.</p>

        <a class="nhsuk-button nhsuk-u-margin-right-4" href="student-course-details?Ansari=submitted">Go to Course details</a>


    <!-- </form> -->

    </div>

  </div>
{% endblock %}
