{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Claim summary
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Authorising payment</h1>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Payment approval date
        </dt>
        <dd class="nhsuk-summary-list__value">
          <div id="currentDate"></div>
        </dd>
      </div>

      {% if data['name'] === 'Emmit Mar' %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010001
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Emmit Mar
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Course
        </dt>
        <dd class="nhsuk-summary-list__value">
          Adult Nursing
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Placement travel payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £96.02
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Hire car payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £120
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Taxi payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £258.50
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation travel payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £35.10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Overseas costs payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £95
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total payment to student
        </dt>
        <dd class="nhsuk-summary-list__value">
          £614.62
        </dd>
      </div>

      {% elif data['name'] === 'Alyssa Geary' %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010003
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Alyssa Geary
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Course
        </dt>
        <dd class="nhsuk-summary-list__value">
          Adult Nursing
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Placement travel payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £46.40
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Taxi journey payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Overseas costs payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £95
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total payment to student
        </dt>
        <dd class="nhsuk-summary-list__value">
          £151.40
        </dd>
      </div>


      {% elif data['name'] === 'Daniel Jackson' %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010004
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Daniel Jackson
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Course
        </dt>
        <dd class="nhsuk-summary-list__value">
          Adult Nursing
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £37.50
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation travel payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £27.98
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total payment to student
        </dt>
        <dd class="nhsuk-summary-list__value">
          £65.48
        </dd>
      </div>


      {% else %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student number
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['student number'] }}
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['name'] }}
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Course
        </dt>
        <dd class="nhsuk-summary-list__value">
          Adult Nursing
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £37.50
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation travel payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          £27.98
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total payment to student
        </dt>
        <dd class="nhsuk-summary-list__value">
          £65.48
        </dd>
      </div>
      {% endif %}

    </dl>

      <a class="nhsuk-button" href="TDAE-payment-authorised">Authorise payment</a>


  </div>

</div>

<script>
    // JavaScript code
    var currentDateElement = document.getElementById("currentDate");

    // Get the current date
    var currentDate = new Date();

    // Format the date as desired
    var options = { day: 'numeric', month: 'long', year: 'numeric' };
    var formattedDate = currentDate.toLocaleDateString(undefined, options);

    // Set the formatted date as the content of the element
    currentDateElement.textContent = formattedDate;
  </script>

{% endblock %}
