{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">University travel details</h1>

    {% if data['name'] === 'Emmit Mar' %}
    <dl class="nhsuk-summary-list">

      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          NHS Learning Support Fund reference number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010001
        </dd>
      </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Academic year
          </dt>
          <dd class="nhsuk-summary-list__value">
            2023/24
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Course
          </dt>
          <dd class="nhsuk-summary-list__value">
            Adult nursing
          </dd>
        </div>-->

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            Term time address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Stephenson House, NE2 1AW
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>Stephenson House</b><br>
                Stoddart St<br>
                Shieldfield<br>
                Newcastle upon Tyne<br>
                NE2 1AW
              </div>
            </details>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            University address
          </dt>
          <dd class="nhsuk-summary-list__value">
            The Medical School, NE2 4HH
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>The Medical School</b><br>
                Newcastle University<br>
                Framlington Place<br>
                Newcastle upon Tyne<br>
                NE2 4HH
              </div>
            </details>
            <!--<br><br>
            <p><a class="nhsuk-link--no-visited-state" href="https://www.google.com/maps/dir/NE11+0JY/NE22" target=”_blank”>Google Maps directions</a></p>-->
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Transport method
          </dt>
          <dd class="nhsuk-summary-list__value">
            Walk
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total daily travel costs
          </dt>
          <dd class="nhsuk-summary-list__value">
            £0
          </dd>
        </div>
      </dl>


      {% elif data['name'] === 'Alyssa Geary' %}
    <dl class="nhsuk-summary-list">

      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          NHS Learning Support Fund reference number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010003
        </dd>
      </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Academic year
          </dt>
          <dd class="nhsuk-summary-list__value">
            2023/24
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Course
          </dt>
          <dd class="nhsuk-summary-list__value">
            Adult nursing
          </dd>
        </div>-->

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            Term time address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Flat 12 / Room 6, NE2 1DT
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>Flat 12 / Room 6</b><br>
                Portland Road<br>
                Shieldfield<br>
                Newcastle upon Tyne<br>
                NE2 1DT
              </div>
            </details>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            University address
          </dt>
          <dd class="nhsuk-summary-list__value">
            The Medical School, NE2 4HH
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>The Medical School</b><br>
                Newcastle University<br>
                Framlington Place<br>
                Newcastle upon Tyne<br>
                NE2 4HH
              </div>
            </details>
            <!--<br><br>
            <p><a class="nhsuk-link--no-visited-state" href="https://www.google.com/maps/dir/NE11+0JY/NE22" target=”_blank”>Google Maps directions</a></p>-->
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Transport method
          </dt>
          <dd class="nhsuk-summary-list__value">
            Walk
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total daily travel costs
          </dt>
          <dd class="nhsuk-summary-list__value">
            £0
          </dd>
        </div>
      </dl>


      {% else %}
    <dl class="nhsuk-summary-list">

      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          NHS Learning Support Fund reference number
        </dt>
        <dd class="nhsuk-summary-list__value">
          SSRN0010004
        </dd>
      </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Academic year
          </dt>
          <dd class="nhsuk-summary-list__value">
            2023/24
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Course
          </dt>
          <dd class="nhsuk-summary-list__value">
            Adult nursing
          </dd>
        </div>-->

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            Term time address
          </dt>
          <dd class="nhsuk-summary-list__value">
            82 Meldon Terrace, NE6 5XQ
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>82 Meldon Terrace</b><br>
                Heaton<br>
                Newcastle upon Tyne<br>
                NE6 5XQ
              </div>
            </details>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            University address
          </dt>
          <dd class="nhsuk-summary-list__value">
            The Medical School, NE2 4HH
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>The Medical School</b><br>
                Newcastle University<br>
                Framlington Place<br>
                Newcastle upon Tyne<br>
                NE2 4HH
              </div>
            </details>
            <!--<br><br>
            <p><a class="nhsuk-link--no-visited-state" href="https://www.google.com/maps/dir/NE11+0JY/NE22" target=”_blank”>Google Maps directions</a></p>-->
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Transport method
          </dt>
          <dd class="nhsuk-summary-list__value">
            Walk
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total daily travel costs
          </dt>
          <dd class="nhsuk-summary-list__value">
            £0
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if data['read-only'] != 'true' %}
      <a class="nhsuk-button" href="TDAE-checked-university-details">Continue</a>
      {% endif %}

  </div>

</div>
{% endblock %}
