{% extends 'layout-HEI-top-nav.html' %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">NHS Learning Support Fund</span>Dashboard</h1>
        </div>

    </div>

    <div class="nhsuk-grid-row">

        <!--<div class="nhsuk-grid-column-one-third">
            <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
                <h2 class="nhsuk-heading-s">Navigation</h2>
                <nav>
                    <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
                        {% if data['user-role'] == 'COSA' or data['user-role'] == 'Admin' %}
                        <li><a href="courses">Courses</a></li>
                        {% endif %}
                        <li><a href="search-for-student">Student search</a></li>
                        {% if data['user-role'] == 'Admin' %}
                        <li><a href="user-search">User administration</a></li>
                        {% endif %}
                        <li><a href="change-password">Change password</a></li>
                        <li><a href="general-query">General queries</a></li>
                        {% if data['user-role'] == 'TDAE' or data['user-role'] == 'Admin' %}
                        <li><a href="TDAE-claims-list">TDAE claims</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>-->

        <div class="nhsuk-grid-column-full">

            <h2 class="nhsuk-heading-m">SHEFFIELD HALLAM UNIVERSITY</h2>

          {% if data['user-role'] == 'TDAE' %}
            <div class="nhsuk-grid-row">
                <div style="padding: 0 16px;" class="nhsuk-form-group" >
                    <p class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">34</p>
                    <p><strong>Active TDAE claims</strong></p>
                </div>
                <div style="padding: 0 16px;" class="nhsuk-form-group" >
                    <a class="nhsuk-button" href="TDAE-claims-list">View active TDAE claims</a>
                </div>
            </div>
          {% elif data['user-role'] == 'COSA' %}
            <div class="nhsuk-grid-row">
              <div style="width:40%" class="nhsuk-grid-column-one-third" >
                  <p class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">295</p>
                  <p><strong>Students needing action</strong></p>
              </div>
              <div style="width:20%" class="nhsuk-grid-column-one-third" >
                  <p class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">12</p>
                  <p><strong>Courses</strong></p>
              </div>
              <div style="width:40%" class="nhsuk-grid-column-one-third" >
                  <a class="nhsuk-button" href="courses">View course details</a>
              </div>
            </div>
          {% else %}
            <div class="nhsuk-grid-row">
                <div style="width:40%; text-align: center;" class="nhsuk-grid-column-one-third" >
                    <p class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">295</p>
                    <p><strong>Students needing action</strong></p>
                </div>
                <div style="width:20%; text-align: center;" class="nhsuk-grid-column-one-third" >
                    <p class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">12</p>
                    <p><strong>Courses</strong></p>
                </div>
                <div style="width:40%; text-align: center;'" class="nhsuk-grid-column-one-third" >
                  <p class="nhsuk-heading-xl nhsuk-u-margin-bottom-1">34</p>
                  <p><strong>Active TDAE claims</strong></p>
                </div>
            </div>
            <!--<div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  <a class="nhsuk-button" href="courses">View course details</a>
                </div>
                <div class="nhsuk-grid-column-one-half">
                  <a class="nhsuk-button" href="TDAE-claims-list">View active TDAE claims</a>
                </div>
            </div>-->
          {% endif %}
          <hr>
            <h3 class="nhsuk-heading-m">Notice board</h3>
            <p>Here you'll find answers to frequently asked questions and any messages from NHSBSA Student Services.</p>
            <p>If your query is not answered by the items on the notice board, you can raise a general query.</p>
            <ul class="nhsuk-list">
                <li><a href="">Changes to Travel and Dual Accommodation (TDAE) claim and approval proccess</a></li>
                <li><a href="">Pay Runs</a></li>
                <li><a href="">New Functions</a></li>
                <li><a href="">New HEI Portal</a></li>
            </ul>

        </div>

    </div>
{% endblock %}
