{% extends 'layout.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Visa fees details</h1>

    <dl class="nhsuk-summary-list">

      <dl class="nhsuk-summary-list">
		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">
				Visa fees
			</dt>
			<dd class="nhsuk-summary-list__value">
				£15
			</dd>
		</div>

		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">
				Evidence uploaded
			</dt>
			<dd class="nhsuk-summary-list__value">
				<a href="/images/hire-car-booking-confirmation.jpg" download="Visa fees evidence 18 February 2024">
					visa-screenshot.jpg
				</a>
			</dd>
		</div>

		<div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">
				Comments
			</dt>
			<dd class="nhsuk-summary-list__value">
				None provided
			</dd>
		</div>

    </dl>

      {% if (data['read-only'] != 'true') and (data['scenario'] != 'previous') %}
      <a class="nhsuk-button" href="TDAE-overseas-costs-summary">Continue</a>
      {% endif %}

  </div>

</div>
{% endblock %}
