{% extends 'layout.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Overseas details</h1>

    <dl class="nhsuk-summary-list">

      <dl class="nhsuk-summary-list">
				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
						Authorised by
					</dt>
					<dd class="nhsuk-summary-list__value">
						{% if data['authorised-by'] %}
							{{ data['authorised-by'] }}
							{% else %}
							John Doe
						{% endif %}
					</dd>
					{% if data['submit-claim'] != 'completed' %}
					<dd class="nhsuk-summary-list__actions">
						<a href="authorisation">
							Change<span class="nhsuk-u-visually-hidden">authorisation</span>
						</a>
					</dd>
					{% endif %}
				</div>

				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
						Authoriser's role
					</dt>
					<dd class="nhsuk-summary-list__value">
						{% if data['authoriser-role'] %}
							{{ data['authoriser-role'] }}
							{% else %}
							Placement co-ordinator
						{% endif %}
					</dd>
					{% if data['submit-claim'] != 'completed' %}
					<dd class="nhsuk-summary-list__actions">
						<a href="authorisation">
							Change<span class="nhsuk-u-visually-hidden">authoriser's role</span>
						</a>
					</dd>
					{% endif %}
				</div>

				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
						Overseas costs paid for
					</dt>
					<dd class="nhsuk-summary-list__value">
						{% if data['overseas-cost'] %}
							{{ data['overseas-cost'] }}
							{% else %}
							Visa fees
						{% endif %}
					</dd>
					{% if data['submit-claim'] != 'completed' %}
					<dd class="nhsuk-summary-list__actions">
						<a href="which-costs">
							Change<span class="nhsuk-u-visually-hidden">overseas costs paid for</span>
						</a>
					</dd>
					{% endif %}
				</div>

				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
						Evidence uploaded
					</dt>
					<dd class="nhsuk-summary-list__value">
						<a href="/images/hire-car-booking-confirmation.jpg" download="Authorisation of Overseas Costs April 2024">
							overseas-authorisation.jpg
						</a>
					</dd>
					{% if data['submit-claim'] != 'completed' %}
					<dd class="nhsuk-summary-list__actions">
						<a href="authorisation-evidence">
							Change<span class="nhsuk-u-visually-hidden">evidence uploaded</span>
						</a>
					</dd>
					{% endif %}
				</div>

    </dl>

      {% if (data['read-only'] != 'true') and (data['scenario'] != 'previous') %}
      <a class="nhsuk-button" href="TDAE-overseas-insurance-details">Continue</a>
      {% endif %}

  </div>

</div>
{% endblock %}
