{% extends 'layout-HEI.html' %}

{% block pageTitle %}
Send to student
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {% if data['name'] == 'Ben Bloggs' %}
      <form action="TDAE-claims-list?Bloggs=returned" method="POST">
      {% elif data['name'] == 'Chet Cheema' %}
      <form action="TDAE-claims-list?Cheema=returned" method="POST">
      {% else %}
      <form action="TDAE-claims-list" method="POST">
      {% endif %}

      {% if data['return-student'] != 'Decline claim' %}
          <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
              <div class="nhsuk-card__content">
                  <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                      Claim returned to
                      {% if data['name'] %}
                      {{ data['name'] }}
                      {% else %}
                      Joe Bloggs
                      {% endif %}
                  </h1>
              </div>
          </div>
      {% else %}
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                  Claim declined
              </h1>
          </div>
      </div>
      {% endif %}

      {% if data['return-student'] != 'Decline claim' %}
        <p>You've returned the claim to the student and told them why. We'll email the student to let them know.</p>
      {% else %}
        <p>You've declined this claim. We'll email the student to tell them why.</p>
      {% endif %}
      
            <button class="nhsuk-button" type="submit">Return to Active TDAE claims</button>
        </form>

        <a href="https://docs.google.com/document/d/1X8kw8t50C2Ts8ozpmwJP9sn6XbkoNgU1KgOTcFP7vAY/edit?usp=sharing" target="_blank"><p class="nhsuk-body-s">[Google Doc - Emails sent to student (opens in new tab)]</p></a>

    </div>

</div>
{% endblock %}
