{% extends 'layout-HEI.html' %}

{% block pageTitle %}
  Search for a student
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                User updated
              </h1>
          </div>
      </div>

      <a class="nhsuk-button" href="user-search">Return to User search</a>

    </div>

  </div>
{% endblock %}
