{% extends 'layout-public.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="dashboard" method="POST">

            <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
                <div class="nhsuk-card__content">
                    <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                        Bank or building society account details changed
                    </h1>
                </div>
            </div>

            <h2 class="nhsuk-heading-m">What happens next</h2>
            <p>Any NHS Learning Support Fund payments will be paid into this account after 7 days.</p>
            <p>If you have any payments due within the next 7 days, you need to contact us. This is to make sure they're not paid into the wrong account.</p>
            <p>You can contact us by:</p>
            <p>Telephone: 0300 330 0521<br>
            Text Relay service: 18001 0300 330 0521</p>

            <button class="nhsuk-button" type="submit">Go to your NHS Learning Support Fund account</button>
        </form>

    </div>

</div>
{% endblock %}
