{% extends 'layout-public.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

      <h1 class="nhsuk-heading-l">
              Choose your new username
            </h1>

            <p>For security reasons, you will need to sign back in to <span>NHS Learning Support Fund account</span> after you change your details.</p>

            <div class="nhsuk-form-group">
              <div class="nhsuk-hint" id="question-hint">Choose a username that is between 6 and 35 characters</div>



              <input name="username" id="username" class="nhsuk-input nhsuk-input--width-20" type="text"
              autocomplete="off" aria-required="true" aria-describedby="question-hint" value="Joetest" />
            </div>

        <a class="nhsuk-button" href="change-username-2fa">Continue</a><br>
        <p><a href="dashboard">Cancel</a></p>

    </div>

  </div>
{% endblock %}
