{% extends 'layout.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="change-email-confirmed" method="POST">

            <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Change your email address</span>Check your email to update your email address</h1>

            <p>In order to complete the change to your email address you must click on the link that has been sent to your email account. If you do not see this email in your inbox, Please check your spam folder before contacting our contact centre on telephone: 0300 330 0521.</p>

            <h2 class="nhsuk-heading-m">What to do if you do not receive the email</h2>
            <p>Firstly check you spam/junk mail as your email account may have filtered our email to this folder.</p>
            <p>If the email is not in your spam folder you can request another email to be sent by repeating this process. If you do not receive the email again then contact us via phone.</p>
            <p>You can contact us by:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Calling us on 0300 330 0521</li>
              <li>Using our text relay service on 18001 0300 330 0521</li>
            </ul>
            <p>We are open Monday to Friday 8am to 6pm and Saturday 9am to 3pm.</p>

            <button class="nhsuk-button" type="submit">Go to your NHS Learning Support Fund account</button>
        </form>

    </div>

</div>
{% endblock %}
