{% extends 'layout.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="dashboard" method="POST">

            <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
                <div class="nhsuk-card__content">
                    <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                        Email changed
                    </h1>
                </div>
            </div>

            <p>Your email address has been updated.</p>

            <button class="nhsuk-button" type="submit">Go to your NHS Learning Support Fund account</button>
        </form>

    </div>

</div>
{% endblock %}
