{% extends 'layout-public.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="dashboard" method="POST">

            <h1 class="nhsuk-heading-l">Check your emails</h1>

            <p>We've sent you an email with a confirmation link. You need to use this link to complete your update.</p>

            <h2 class="nhsuk-heading-m">What to do if you do not receive the email</h2>
            <p>Check your spam or junk folder, as the email may be there. If it's not, try to update your email address again.</p>
            <p>If you have any further problems, you can <a href="https://www.nhsbsa.nhs.uk/nhs-learning-support-fund-lsf/contact-us" target="_blank">contact us (opens in a new tab).</p>

            <button class="nhsuk-button" type="submit">Go to your NHS Learning Support Fund account</button>
        </form>

    </div>

</div>
{% endblock %}
