{% extends 'layout-public.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
				<h1 class="nhsuk-fieldset__heading">
					<span class="nhsuk-caption-l">
						Change your password
						<span class="nhsuk-u-visually-hidden"> - </span>
					</span>
					Choose your new password
				</h1>
			</legend>
			<div class="nhsuk-form-group">
				<label for="oldPassword" class="nhsuk-label" id="oldPassword-label">Current password</label>


				<input class="nhsuk-input nhsuk-input--width-20"
					id="oldPassword" type="password" autocomplete="on"
					aria-required="true" name="oldPassword" value="" />
			</div>

			<div class="nhsuk-form-group">
				<label for="newPassword" class="nhsuk-label" id="newPassword-label">New password</label>
				<div class="nhsuk-hint" id="question-hint">Between 8-35 characters</div>



				<input class="nhsuk-input nhsuk-input--width-20"
					id="newPassword" type="password" autocomplete="off"
					aria-required="true" aria-describedby="question-hint" name="newPassword" value="" />
			</div>

			<div class="nhsuk-form-group">
				<label for="passwordConfirm" class="nhsuk-label" id="passwordConfirm-label">Confirm new password</label>



				<input class="nhsuk-input nhsuk-input--width-20"
					id="passwordConfirm" type="password" autocomplete="off"
					aria-required="true" name="passwordConfirm" value="" />
			</div>

      <a class="nhsuk-button" href="change-password-2fa">Continue</a><br>
      <p><a href="dashboard">Cancel</a></p>

    </div>

  </div>
{% endblock %}
