{% extends 'layout.html' %}

{% block pageTitle %}
  Do you want to provide any related comments to your placement additional costs?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="information-mismatch-confirmed" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Have you corrected your NHS Learning Support Fund information?
                </h1>
              </legend>

              <div class="nhsuk-warning-callout">
                <h3 class="nhsuk-warning-callout__label">
                  <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    What you need to change
                  </span>
                </h3>
                <p>Your name on Learning Support Fund does not match University records.</p>
              </div>

              <div class="nhsuk-radios nhsuk-radios--inline">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="placement-related-comments-yes" name="placement-related-comments" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="placement-related-comments-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="placement-related-comments-no" name="placement-related-comments" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="placement-related-comments-no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Save and continue</button><br>

    </form>

    </div>

  </div>
{% endblock %}
