{% extends 'layout-public.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Create your account</span>What is your UK mobile phone number?</h1>

        <p>Enter the phone number you would like us to contact you on and that you will receive text messages to sign in.</p>

        <div class="nhsuk-form-group">
            <input class="nhsuk-input nhsuk-input--width-20" id="email-address" name="email-address" type="text">
        </div>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>We will send a security code to your phone number.</p>
        </div>

        <a class="nhsuk-button" href="phone-number-2fa">Continue</a><br>
        <p><a href="start-screen">Cancel</a></p>

    </div>

  </div>
{% endblock %}
