{% extends 'layout-public.html' %}

{% block pageTitle %}
Choose a username and password
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Recover your username</span>Check your email to recover your username</h1>

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-u-font-weight-bold" style="text-align: center; color: white;">Done</h2>
                <p style="text-align: center; color: white;">
                    If your email address is associated with an NHS Learning Support Fund account, we'll send you your username.
                </p>    
                <p class="nhsuk-card__heading nhsuk-u-font-weight-bold" style="text-align: center; color: white;">
                    <a style="color: white;" href="sign-in">Sign in</a>
                </p>
            </div>
        </div>

        <h2 class="nhsuk-heading-m">What to do if you do not receive the email</h2>
        <p>Firstly check your spam/junk mail as your email account may have filtered our email to this folder.</p>

        <p>If the email is not in your spam folder you can request another email to be sent by repeating this process. If you fo not receive the email again then contact us via phone.</p>

        <ul class="nhsuk-list nhsuk-u-font-weight-bold">
            <li>Telephone: 0300 330 0521</li>
            <li>Text relay service: 0800 7311 888</li>
        </ul>

        <p>We are open Monday to Friday 8am to 6pm and Saturday 9am to 3pm.</p>

    </div>

</div>
{% endblock %}