{% extends 'layout-public.html' %}

{% block pageTitle %}
Choose a username and password
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                NHS Learning Support Fund account created
              </h1>
              <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                Your student reference number is <strong>SSRN0000060</strong>
              </h2>
            </div>
        </div>

        <p>We have sent you a confirmation email to email@email.co.uk. You need activate your account using the link within the email within 72 hours. If you do not, you will need to create a new account.</p>

        <h2 class="nhsuk-heading-m">What to do if you do not receive the email</h2>
        <p>Check your spam or junk folder, as the email may be there. If it's not, you can request a new activation link after signing in to your account.</p>

        <p>If you still don't receive an email, try to create an account. You will need to use a different email address and create a new username.</p>

        <p>If you have any further problems, you can <a href="#">contact us</a>.</p>

        <p><a href="sign-in">Sign in to your NHS Learning Support account</a></p>


    </div>

</div>
{% endblock %}
