{% extends 'layout.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Sign in to NHS Learning Support Fund</h1>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="sign-in-username">
              Username or email address
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="sign-in-username" name="sign-in-username" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="sign-in-password">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="sign-in-password" name="sign-in-password" type="password">
        </div>

        <form action="v7/sign-in" method="POST">
          <button class="nhsuk-button" type="submit">Sign in</button><br>
        </form>

        <p><a href="forgotten-username">Forgotten your username?</a></p>
        <p><a href="forgotten-password">Forgotten your password?</a></p>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Register for an account</h2>
        <p>You can sign up for an NHS Learning Support Fund account by visiting our <a href="./start-screen">registration page</a>.</p>

    </div>

  </div>
{% endblock %}
