{% extends 'layout-public.html' %}

{% block pageTitle %}
  Register for an NHS Learning Support Fund account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Create an NHS Learning Support Fund account</h1>

        <p>Easily manage your information by signing up for an NHS Learning Support Fund account.</p>

        <p>Once you've registered for an NHS Learning Support Fund account, you'll be able to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>apply for elements of NHS Learning Support Fund</li>
            <li>update your personal details, including your bank account</li>
            <li>check when your payments are due</li>
        </ul>
        <p>You can also manage your personal details on your account. You need keep these up to date as wrong information could delay your payments.</p>
        <p>To register, you'll need to tell us:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>your email address</li>
            <li>your phone number than can receive text messages</li>
            <li>your date of birth</li>
            <li>your home address</li>
        </ul>

        <div class="nhsuk-warning-callout">
					<h2 class="nhsuk-warning-callout__label">Important<span class="nhsuk-u-visually-hidden">:</span></h2>
					<p>If you're a final year student and you may be extending your course, do not create an account. Visit our website for <a href="https://www.nhsbsa.nhs.uk/learning-support-fund" target="_blank" rel="noopener">more information on what you need to do (opens in a new tab)</a>.</p>
				</div>

        <p><strong>Registering takes around 5 minutes.</strong></p>

        <a class="nhsuk-button" href="contact-details">Start now</a>

        <div class="nhsuk-form-group">
							<div id="alreadyRegistered">
								<div class="nhsuk-action-link">
      		<a class="nhsuk-action-link__link" href="sign-in" id="signIn">
      			<svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      				<path d="M0 0h24v24H0z" fill="none"></path>
      				<path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      			</svg>
      			<span class="nhsuk-action-link__text">Sign in to your NHS Learning Support Fund account</span>
      		</a>
      	</div>

        <p>If you have any questions about NHS Learning Support Fund, you can <a href="#">contact us</a>.</p>

    </div>

  </div>
{% endblock %}
