{% extends 'layout-public.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <!-- <form action="" method="POST"> -->

        <h1 class="nhsuk-heading-l">Check your answers</h1>
        <p>Days you attended placement and evidence for additional costs you incurred these days.</p>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Days
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Monday, Tuesday, Thursday
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="TDAE-days-claiming">
                        Change<span class="nhsuk-u-visually-hidden"> days</span>
                    </a>

                </dd>

            </div>

        </dl>

        <h2 class="nhsuk-heading-m">Additional costs evidence</h2>
        <p>The evidence provided is related to the days you have selected above.</p>

        <dl class="nhsuk-summary-list">
            {% if data['evidence-deleted'] === 'yes' %}

            {% else %}
                <div class="nhsuk-summary-list__row">
                    <dd class="nhsuk-summary-list__value">
                        bus-ticket.jpg
                    </dd>

                    <dd class="nhsuk-summary-list__actions">

                        <a href="#">
                            View<span class="nhsuk-u-visually-hidden"> evidence</span>
                        </a>
                        or
                        <a href="TDAE-delete-evidence">
                            Delete<span class="nhsuk-u-visually-hidden"> evidence</span>
                        </a>

                    </dd>

                </div>
            {% endif %}
            {% if data['more-evidence-added'] === 'yes' %}
                <div class="nhsuk-summary-list__row">
                    <dd class="nhsuk-summary-list__value">
                        new-parking-ticket.jpg
                    </dd>

                    <dd class="nhsuk-summary-list__actions">

                        <a href="#">
                            View<span class="nhsuk-u-visually-hidden"> evidence</span>
                        </a>
                        or
                        <a href="TDAE-delete-evidence">
                            Delete<span class="nhsuk-u-visually-hidden"> evidence</span>
                        </a>

                    </dd>

                </div>
            {% endif %}
            <div class="nhsuk-summary-list__row">
                <dd class="nhsuk-summary-list__value">
                    parking-ticket-screenshot.jpg
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                        View<span class="nhsuk-u-visually-hidden"> evidence</span>
                    </a>
                    or
                    <a href="#">
                        Delete<span class="nhsuk-u-visually-hidden"> evidence</span>
                    </a>

                </dd>

            </div>
            <div class="nhsuk-summary-list__row">
                <dd class="nhsuk-summary-list__value">
                    parking-ticket-screenshot.jpg
                </dd>

                <dd class="nhsuk-summary-list__actions">

                    <a href="#">
                        View<span class="nhsuk-u-visually-hidden"> evidence</span>
                    </a>
                    or
                    <a href="#">
                        Delete<span class="nhsuk-u-visually-hidden"> evidence</span>
                    </a>

                </dd>

            </div>

        </dl>

        <form class="nhsbsa-form--inline" action="v7/TDAE-evidence-week-cya" method="POST">
            <button class="nhsuk-button" type="submit">Save and continue</button>
        </form>
        
        <form class="nhsbsa-form--inline" action="v7/TDAE-add-more-evidence" method="POST">
            <button class="nhsuk-button nhsuk-button--secondary" type="submit">Add more evidence</button>
        </form>

        <br>
        <a href="TDAE-start-claim">Cancel</a>

        <!-- </form> -->

    </div>

</div>
{% endblock %}