{% extends 'layout-public.html' %}

{% block pageTitle %}
Is your term time address the same?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v7/TDAE-accommodation-stays" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Did you pay for more than one separate accommodation booking?
                </h1>
              </legend>

              <div class="nhsuk-hint">Multiple bookings for the same accommodation count as separate stays.</div>

              <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="stays" type="radio" value="2" aria-controls="conditional-contact-1" aria-expanded="2">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-2" name="stays" type="radio" value="1" aria-controls="conditional-contact-2" aria-expanded="2">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>

              </div>

            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <a href="TDAE-claims-list">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
