{% extends 'layout-public.html' %}

{% block pageTitle %}
  Do you want to provide any related comments to your placement additional costs?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v7/TDAE-reuse-answers" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Would you like to reuse answers from a previous claim?
                </h1>
              </legend>

              <div class="nhsuk-hint" id="contact-hint">
                You can reuse certain answers from your last 10 claims.
              </div>

              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    What answers can I reuse?
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>You will be able to reuse:</p>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Term-time address</li>
                    <li>Placement addresses</li>
                    <li>University travel details</li>
                  </ul>
                </div>
              </details>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="reuse-answers-yes" name="reuse-answers" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="placement-related-comments-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="reuse-answers-no" name="reuse-answers" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="placement-related-comments-no">
                    No
                  </label>
                </div>

              </div>



            </fieldset>

          </div>



        <button class="nhsuk-button" type="submit">Continue</button><br>
        <a href="TDAE-claims-list">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
