{% extends 'layout.html' %}

{% block pageTitle %}
Which days does this evidence relate to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="v7/TDAE-evidence-match" method="POST">


            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Which costs is this evidence for?
                  </h1>
                </legend>

                <div class="nhsuk-hint" id="example-hint">
                  Select all that apply.
                </div>

              {% if data['evidenceNumber'] == '3' %}
              <div class="nhsuk-checkboxes">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    {{ data['public-transport-type'] }} ticket on Friday 6 October 2023
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    {{ data['public-transport-type'] }} ticket on Saturday 7 October 2023
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    {{ data['public-transport-type'] }} ticket on Sunday 8 October 2023
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    {{ data['public-transport-type'] }} ticket on Monday 9 October 2023
                  </label>
                </div>

              </div>
              {% elif data['evidenceNumber'] == '2' %}
              <div class="nhsuk-form-group">
                <div class="nhsuk-checkboxes">

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                      {{ data['public-transport-type'] }} ticket on Tuesday 7 October 2023
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      {{ data['public-transport-type'] }} ticket on Wednesday 8 October 2023
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      {{ data['public-transport-type'] }} ticket on Thursday 9 October 2023
                    </label>
                  </div>

                </div>
              </div>

              <div class="nhsuk-form-group">
                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Costs evidence has already been provided for
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <div class="nhsuk-checkboxes">

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                          {{ data['public-transport-type'] }} ticket on Monday 6 October 2023
                        </label>
                      </div>

                    </div>
                  </div>
                </details>
              </div>

              {% else %}
              <div class="nhsuk-checkboxes">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    {{ data['public-transport-type'] }} ticket on Friday 6 October 2023
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    {{ data['public-transport-type'] }} ticket on Saturday 7 October 2023
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    {{ data['public-transport-type'] }} ticket on Sunday 8 October 2023
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    {{ data['public-transport-type'] }} ticket on Monday 9 October 2023
                  </label>
                </div>

              </div>
              {% endif %}
              </fieldset>

            </div>

            <button class="nhsuk-button">Continue</button><br>
            <a href="TDAE-start-claim">Cancel</a>


    </form>

  </div>

</div>

</script>
{% endblock %}
