{% extends 'layout.html' %}

{% block pageTitle %}
Upload your evidence for week 2
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <!-- <form action="#" method="POST"> -->

    <h1 class="nhsuk-heading-l">Upload evidence for this accommodation</h1>

    <p>This could be receipts or a booking confirmation including the costs.</p>

    <p class="nhsuk-hint">Evidence must be:</p>
      <ul class="nhsuk-list nhsuk-list--bullet nhsuk-hint">
        <li>JPG, JPEG, BMP, PNG, TIF or PDF format</li>
        <li>no more than 8MB</li>
      </ul>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          I'm using an iPhone image
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you're using an Apple device, any photos you take of your evidence may be in HEIC format. This is also known as HEIF. We cannot accept photos in this format.</p>

        <p>To check if you need to change your Camera settings to make JPEG your default image format, visit <a href="https://support.apple.com/en-gb/HT207022#:~:text=Capturing%20this%20media">Apple Support's advice</a> on this.</p>
      </div>
    </details>

    <div class="nhsuk-form-group nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7">
      <label class="nhsuk-label nhsuk-u-visually-hidden" for="file-upload-1">
          Upload your evidence file
      </label>
      <input class="nhsuk-input" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <a class="nhsuk-button" href="TDAE-accommodation-comments">Upload evidence</a><br>

    <!-- {% if data['add-more-evidence'] === 'yes' %}
      <form action="v7/TDAE-more-evidence-added" method="POST">
        <button class="nhsuk-button" type="submit">Next</button><br>
      </form>
    {% else %}
      <form action="v7/TDAE-provide-journey-evidence" method="POST">
        <button class="nhsuk-button" type="submit">Next</button><br>
      </form>
    {% endif %} -->

    <a href="TDAE-start-claim">Cancel</a>

    <!-- </form> -->

  </div>

</div>

</script>
{% endblock %}
