{% extends 'layout.html' %}

{% block pageTitle %}
  Do you want to provide any related comments to your placement additional costs?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v7/TDAE-reuse-claim" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Which claim would you like to reuse answers from?
                </h1>
              </legend>

              <div class="nhsuk-hint" id="contact-hint">
                You can reuse certain answers from your last 10 claims.
              </div>


            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <a href="TDAE-claims-list">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
