{% extends 'layout-public.html' %}

{% block pageTitle %}
Additional costs for your normal daily journey
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v7/TDAE-placement-additional-costs" method="POST">



			<div class="nhsuk-form-group">
				<label class="nhsuk-label" for="placement-additional-costs">
					<h1 class="nhsuk-heading-l">
						<h1 class="nhsuk-heading-l">How much was the extra cost?</h1>
					</h1>
				</label>
				<label class="nhsuk-label" for="example">
					Cost in pounds
				</label>
				<div class="nhsuk-input__prefix" aria-hidden="true">£</div>
				<input class="nhsuk-input__prefix-input nhsuk-input nhsuk-input--width-5" id="placement-additional-costs" name="placement-additional-costs" type="text">
			</div>

			<button class="nhsuk-button" type="submit">Continue</button><br>
			<a href="TDAE-placement-itinerary">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}
