{% extends 'layout-public.html' %}

{% block pageTitle %}
Additional costs for your normal daily journey
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v7/TDAE-placement-additional-costs" method="POST">



			<div class="nhsuk-form-group">
				<label class="nhsuk-label" for="placement-additional-costs">
					<h1 class="nhsuk-heading-l">
						{% if data['additional-cost-single-day'] == "Yes" %}
							How much was this daily extra cost?
						{% else %}
							How much was this multiple day extra cost?
						{% endif %}
					</h1>
				</label>
				<label class="nhsuk-label" for="example">
					Cost in pounds
				</label>
				<div class="nhsuk-input__prefix" aria-hidden="true">£</div>
				<input class="nhsuk-input__prefix-input nhsuk-input nhsuk-input--width-5" id="placement-additional-costs" name="placement-additional-costs" type="text">
			</div>

			{% if 'overseas' in data['claiming-for'] %}
			<details class="nhsuk-details">
				<summary class="nhsuk-details__summary">
				  <span class="nhsuk-details__summary-text">
					My costs are in a foreign currency
				  </span>
				</summary>
				<div class="nhsuk-details__text">
				  <p>You need to enter all costs in pounds sterling.</p>

				  <p>If you used a card to pay costs, your bank statement should show you the correct value.</p>

				  <p>If you used cash, you need to convert your costs using the exchange rate on the day that you paid them.</p>
				</div>
			  </details>
			{% endif %}

			<button class="nhsuk-button" type="submit">Continue</button><br>
			<a href="TDAE-placement-itinerary">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}
