{% extends 'layout.html' %}

{% block pageTitle %}
  Which mode of transport do you take to and from your normal place of study?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

    <form action="v7/TDAE-same-journey" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Was your journey to and from your placement the same every day?
                </h1>
              </legend>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="mode-of-transport-walk" name="same-journey" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="mode-of-transport-walk">
                        Yes
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="mode-of-transport-drive" name="same-journey" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="mode-of-transport-drive">
                        No
                    </label>
                </div>

              </div>
            </fieldset>

          </div>

      <button class="nhsuk-button" type="submit">Continue</button><br>
      <a href="TDAE-start-claim">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
