{% extends 'layout-public.html' %}

{% block pageTitle %}
Your costs
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <!-- <form action="" method="POST"> -->

    <h1 class="nhsuk-heading-l">Total amount to be reimbursed</h1>
    <p>This is a breakdown of what you will be reimbursed for your travel and accommodation.</p>

    <dl class="nhsuk-summary-list">
      {% if checked('claiming-for', 'car') %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Placement <template id="">

          </template>ravel
        </dt>
        <dd class="nhsuk-summary-list__value">
          £33.60
        </dd>
      </div>
      {% endif %}
      {% if checked('claiming-for', 'Public transport') %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Placement travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          £41.28
        </dd>
      </div>
      {% endif %}
      {% if checked('claiming-for', 'hire-car') %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Hire car
        </dt>
        <dd class="nhsuk-summary-list__value">
          £295
        </dd>
      </div>
      {% endif %}
      {% if checked('claiming-for', 'Cycle') %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Placement travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          £15.84
        </dd>
      </div>
      {% endif %}
      {% if checked('claiming-for', 'accommodation') %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation
        </dt>
        <dd class="nhsuk-summary-list__value">
          £412.50
        </dd>
      </div>
      {% endif %}
      {% if checked('claiming-for', 'travel to accommodation') %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          £50.04
        </dd>
      </div>
      {% endif %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total amount to be reimbursed
        </dt>
        <dd class="nhsuk-summary-list__value">
          {% if checked('claiming-for', 'travel to accommodation') %}
            £462.54
          {% elif checked('claiming-for', 'accommodation') %}
            £525
          {% elif checked('claiming-for', 'hire-car') %}
            £328.60
          {% elif checked('claiming-for', 'Cycle') %}
            £15.84
          {% else %}
            £41.28
          {% endif %}
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-task-list">Change claim</a><br>
    <a class="nhsuk-button" href="TDAE-student-declaration">Save and continue</a><br>
    <p><a href="TDAE-start-claim">Cancel</a></p>

    <!-- </form> -->

  </div>

</div>

<style>

  @media (min-width: 40.0625em) {
    .nhsuk-summary-list__key {
        width: 50%;
    }
  }

</style>
{% endblock %}
