{% extends 'layout-public.html' %}

{% block pageTitle %}
Which type of evidence does this relate to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="TDAE-evidence-mini-cya" method="POST">

            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Which type of evidence does this relate to?
                  </h1>
                </legend>

                <div class="nhsuk-hint" id="example-hint">
                  Select all options that are relevant to your evidence.
                </div>

                <div class="nhsuk-checkboxes">

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="evidence-day-monday" name="evidence-type" type="checkbox" value="Car parking">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="evidence-day-monday">
                        Car parking
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="evidence-day-wednesday" name="evidence-type" type="checkbox" value="Tunnel and toll charges">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="evidence-day-wednesday">
                        Tunnel and toll charges
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="evidence-day-thursday" name="evidence-type" type="checkbox" value="Congestion and clean air charges">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="evidence-day-thursday">
                        Congestion and clean air charges
                    </label>
                  </div>

                </div>
              </fieldset>

            </div>

            <button class="nhsuk-button">Continue</button><br>
            <a href="TDAE-start-claim">Cancel</a>


    </form>

  </div>

</div>

</script>
{% endblock %}
