{% extends 'layout.html' %}

{% block pageTitle %}
Additional costs for your normal daily journey
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-full">

		<form action="v7/TDAE-public-transport-overview" method="POST">

	<div class="nhsuk-form-group">
			<h1 class="nhsuk-heading-l">
				<h1 class="nhsuk-heading-l">Your public transport tickets</h1>
			</h1>

			<p>These are the public transport tickets you have added so far.</p>

			{% if data['multiple'] == 'yes' %}
			<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
			  <caption class="nhsuk-table__caption">Bus tickets</caption>
			  <thead role="rowgroup" class="nhsuk-table__head">
			    <tr role="row">
						<th role="columnheader" class="" scope="col">
			        Ticket type
			      </th>
			      <th role="columnheader" class="" scope="col">
			        Dates
			      </th>
			      <th role="columnheader" class="" scope="col">
			        Cost
			      </th>
						<th role="columnheader" class="" scope="col">
			        Action
			      </th>
			    </tr>
			  </thead>
			  <tbody class="nhsuk-table__body">
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Multiple day ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
								Friday 6 October 2023<br>
								Saturday 7 October October 2023<br>
								Sunday 8 October 2023<br>
								Monday 9 October 2023
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£12
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
								<a href="TDAE-public-transport-check">Change</a> or <a href="TDAE-public-transport-remove">remove</a>
							</td>
				    </tr>
			  </tbody>
			</table>
			{% endif %}

			{% if data['daily'] == 'yes' %}
			<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
			  <caption class="nhsuk-table__caption">Train tickets</caption>
			  <thead role="rowgroup" class="nhsuk-table__head">
			    <tr role="row">
						<th role="columnheader" class="" scope="col">
			        Ticket type
			      </th>
			      <th role="columnheader" class="" scope="col">
			        Dates
			      </th>
			      <th role="columnheader" class="" scope="col">
			        Ticket cost
			      </th>
						<th role="columnheader" class="" scope="col">
			        Action
			      </th>
			    </tr>
			  </thead>
			  <tbody class="nhsuk-table__body">
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Friday 6 October 2023
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
								<a href="TDAE-public-transport-check">Change</a> or <a href="TDAE-public-transport-remove">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Saturday 7 October 2023
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
								<a href="TDAE-public-transport-check">Change</a> or <a href="TDAE-public-transport-remove">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Sunday 8 October 2023
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
								<a href="TDAE-public-transport-check">Change</a> or <a href="TDAE-public-transport-remove">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Monday 9 October 2023
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
								<a href="TDAE-public-transport-check">Change</a> or <a href="TDAE-public-transport-remove">remove</a>
							</td>
				    </tr>
			  </tbody>
			</table>
			{% endif %}

			{% if data['multiple'] == 'yes' %}
			<details class="nhsuk-details">
			  <summary class="nhsuk-details__summary">
			    <span class="nhsuk-details__summary-text">
			      What am I reimbursed for a multiple day ticket?
			    </span>
			  </summary>
			  <div class="nhsuk-details__text">
			    <p>We divide the cost of your ticket by the number of days it's valid for. We then multiply this by the number of days you used the ticket.</p>
					<p>For example, if you bought a weekly ticket lasting 7 days for £7, the daily cost is £1. If you used this ticket on 5 days, then you will be reimbursed £5.</p>
					<p>We will automatically calculate this for you.</p>
			  </div>
			</details>
			{% endif %}

			<div class="nhsuk-form-group">

				<h2 class="nhsuk-heading-s">Do you want to add another ticket?</h2>

				<div class="nhsuk-radios">

					<div class="nhsuk-radios__item">
							<input class="nhsuk-radios__input" id="public-transport-add-another" name="public-transport-add-another" type="radio" value="Yes">
							<label class="nhsuk-label nhsuk-radios__label" for="public-transport-add-another-yes">
								Yes
							</label>
					</div>

					<div class="nhsuk-radios__item">
						<input class="nhsuk-radios__input" id="public-transport-add-another-no" name="public-transport-add-another" type="radio" value="No">
						<label class="nhsuk-label nhsuk-radios__label" for="public-transport-add-another-no">
							No
						</label>
					</div>

				</div>
			</div>
			<div class="nhsuk-form-group">
			<button class="nhsuk-button">Save and continue</button>
			</div>

		</form>

	</div>

</div>
{% endblock %}
