{% extends 'layout-public.html' %}

{% block pageTitle %}
Which type of evidence does this relate to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="v7/TDAE-placement-community-mileage-day" method="POST">

            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="community-mileage-day-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Which day do you want to add community travel for?
                  </h1>
                </legend>

                <div class="nhsuk-radios">

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-1" name="community-mileage-day" type="radio" value="Monday 14 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-1">
                      Monday 14 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-2" name="community-mileage-day" type="radio" value="Tuesday 15 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-2">
                      Tuesday 15 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-3" name="community-mileage-day" type="radio" value="Wednesday 16 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-3">
                      Wednesday 16 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-3" name="community-mileage-day" type="radio" value="Thursday 17 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-3">
                      Thursday 17 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-3" name="community-mileage-day" type="radio" value="Sunday 20 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-3">
                      Sunday 20 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-3" name="community-mileage-day" type="radio" value="Monday 21 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-3">
                      Monday 21 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-3" name="community-mileage-day" type="radio" value="Tuesday 22 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-3">
                      Tuesday 22 August 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="community-mileage-day-3" name="community-mileage-day" type="radio" value="Wednesday 23 August 2023">
                    <label class="nhsuk-label nhsuk-radios__label" for="community-mileage-day-3">
                      Wednesday 23 August 2023
                    </label>
                  </div>
                </div>
              </fieldset>

            </div>

            <button class="nhsuk-button">Continue</button><br>
            <a href="TDAE-start-claim">Cancel</a>


    </form>

  </div>

</div>

</script>
{% endblock %}
