{% extends 'layout-public.html' %}

{% block pageTitle %}
Which days does this evidence relate to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="v7/TDAE-placement-address-days-cya" method="POST">


            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Your placement travel dates
                  </h1>
                </legend>

                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Period 1 placement travel dates
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          Friday 6 October 2023<br>
                          Saturday 7 October 2023<br>
                          Sunday 8 October 2023<br>
                          Monday 9 October 2023
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a href="TDAE-placement-days">
                                Change<span class="nhsuk-u-visually-hidden"> week 1 placement travel days</span>
                            </a>
                        </dd>
                    </div>
                    {% if data['placement-week'] == '2' %}
                      <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                              Period 2 placement travel dates
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                              Wednesday 14 June 2023,<br>
                              Thursday 15 June 2023,<br>
                              Friday 16 June 2023<br>
                              Saturday 17 June 2023<br>
                              Sunday 18 June 2023<br>
                          </dd>
                          <dd class="nhsuk-summary-list__actions">
                              <a href="TDAE-placement-days">
                                  Change<span class="nhsuk-u-visually-hidden"> week 2 placement travel days</span>
                              </a>
                              or
                              <a href="TDAE-week-warning">
                                  remove<span class="nhsuk-u-visually-hidden"> week 2 placement travel days</span>
                              </a>
                          </dd>
                      </div>
                    {% endif %}

                </dl>

                <h2 class="nhsuk-heading-l">Placement addresses</h2>

                <dl class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="font-weight: 400; width: 50%;">
                      <strong>Placement address 1</strong><br>
                      {% if data['placement-building-name'] %}
                        {{ data['placement-building-name'] }}<br>
                        {{ data['placement-address-line-1'] }}<br>
                        {% if data['placement-address-line-2'] %}
                          {{ data['placement-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-address-line-3'] %}
                          {{ data['placement-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-address-town'] }}<br>
                        {{ data['placement-address-postcode'] }}<br>
                      {% else %}
                      Newcastle Hospital<br>
                      Newcastle Street<br>
                      Newcastle Tyne and Wear<br>
                      NE12 3AB
                      {% endif %}
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Friday 6 October 2023<br>
                      Saturday 7 October 2023
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a href="TDAE-placement-address-days?address-days=1">
                        Change<span class="nhsuk-u-visually-hidden"> placement address 1</span>
                      </a>
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="font-weight: 400; width: 50%;">
                      <strong>Placement address 2</strong><br>
                      {% if data['placement-2-building-name'] %}
                        {{ data['placement-2-building-name'] }}<br>
                        {{ data['placement-2-address-line-1'] }}<br>
                        {% if data['placement-2-address-line-2'] %}
                          {{ data['placement-2-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-2-address-line-3'] %}
                          {{ data['placement-2-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-2-address-town'] }}<br>
                        {{ data['placement-2-address-postcode'] }}<br>
                      {% else %}
                      Alnwick Hospital<br>
                      Infirmary Drive<br>
                      Alnwick<br>
                      NE66 2NS
                      {% endif %}
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Sunday 8 October 2023<br>
                      Monday 9 October 2023
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a href="TDAE-placement-address-days?address-days=2">
                        Change<span class="nhsuk-u-visually-hidden"> placement address 2</span>
                      </a>
                    </dd>
                  </div>

                </dl>

                <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-placement-week-days?placement-week=2">Add more dates</a><br>
                <button class="nhsuk-button">Continue</button><br>
                <a class="nhsuk-button nhsuk-button--warning" href="TDAE-dates-warning">Reset all placement travel days</a>


    </form>

  </div>

</div>

</script>
{% endblock %}
