{% extends 'layout.html' %}

{% block pageTitle %}
  Do you want to provide any related comments to your placement additional costs?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v7/TDAE-placement-address-cya" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Placement addresses
                </h1>
              </legend>

              <dl class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Placement address 1
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['placement-building-name'] %}
                        {{ data['placement-building-name'] }}<br>
                        {{ data['placement-address-line-1'] }}<br>
                        {% if data['placement-address-line-2'] %}
                          {{ data['placement-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-address-line-3'] %}
                          {{ data['placement-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-address-town'] }}<br>
                        {{ data['placement-address-postcode'] }}<br>
                      {% else %}
                      123 Practice Placement<br>
                      Newcastle Tyne and Wear<br>
                      NE12 3AB
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a href="TDAE-placement-address">
                        Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                      </a>{% if data['placement-2-building-name'] %} or
                      <a href="TDAE-placement-address-cya">
                        Remove<span class="nhsuk-u-visually-hidden"> placement address</span>
                      </a>{% endif %}
                    </dd>
                  </div>
                  {% if data['placement-2-building-name'] %}
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Placement address 2
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {% if data['placement-2-building-name'] %}
                          {{ data['placement-2-building-name'] }}<br>
                          {{ data['placement-2-address-line-1'] }}<br>
                          {% if data['placement-2-address-line-2'] %}
                            {{ data['placement-2-address-line-2'] }}<br>
                          {% endif %}
                          {% if data['placement-2-address-line-3'] %}
                            {{ data['placement-2-address-line-3'] }}<br>
                          {% endif %}
                          {{ data['placement-2-address-town'] }}<br>
                          {{ data['placement-2-address-postcode'] }}<br>
                        {% else %}
                        123 Practice Placement<br>
                        Newcastle Tyne and Wear<br>
                        NE12 3AB
                        {% endif %}
                      </dd>
                      <dd class="nhsuk-summary-list__actions">
                        <a href="TDAE-placement-address">
                          Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                        </a> or
                        <a href="TDAE-placement-address-cya">
                          Remove<span class="nhsuk-u-visually-hidden"> placement address</span>
                        </a>
                      </dd>
                    </div>
                  {% endif %}

                  {% if data['placement-3-building-name'] %}
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Placement address 3
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['placement-3-building-name'] %}
                        {{ data['placement-3-building-name'] }}<br>
                        {{ data['placement-3-address-line-1'] }}<br>
                        {% if data['placement-3-address-line-2'] %}
                          {{ data['placement-3-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-3-address-line-3'] %}
                          {{ data['placement-3-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-3-address-town'] }}<br>
                        {{ data['placement-3-address-postcode'] }}<br>
                      {% else %}
                      123 Practice Placement<br>
                      Newcastle Tyne and Wear<br>
                      NE12 3AB
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a href="TDAE-placement-address">
                        Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                      </a> or
                      <a href="TDAE-placement-address-cya">
                        Remove<span class="nhsuk-u-visually-hidden"> placement address</span>
                      </a>
                    </dd>
                  </div>
                  {% endif %}

                  {% if data['placement-4-building-name'] %}
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Placement address 4
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['placement-4-building-name'] %}
                        {{ data['placement-4-building-name'] }}<br>
                        {{ data['placement-4-address-line-1'] }}<br>
                        {% if data['placement-4-address-line-2'] %}
                          {{ data['placement-4-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-4-address-line-3'] %}
                          {{ data['placement-4-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-4-address-town'] }}<br>
                        {{ data['placement-4-address-postcode'] }}<br>
                      {% else %}
                      123 Practice Placement<br>
                      Newcastle Tyne and Wear<br>
                      NE12 3AB
                      {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                      <a href="TDAE-placement-address">
                        Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                      </a> or
                      <a href="TDAE-placement-address-cya">
                        Remove<span class="nhsuk-u-visually-hidden"> placement address</span>
                      </a>
                    </dd>
                  </div>
                  {% endif %}

              </dl>

              <h2 class="nhsuk-heading-m">
                Do you want to add another placement address?
              </h2>

              <div class="nhsuk-hint">Select yes if you are claiming for costs relating to spoke placements as well as your hub placement.</div>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="placement-related-comments-yes" name="add-another" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="placement-related-comments-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="placement-related-comments-no" name="add-another" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="placement-related-comments-no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button>
        <p><a href="TDAE-claims-list">Cancel</a></p>

    </form>

    </div>

  </div>
{% endblock %}
