{% extends 'layout.html' %}

{% block pageTitle %}
  TDAE User Journey
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Version 2</span>TDAE User Journey</h1>

        <div class="nhsuk-form-group">
            <iframe width="768" height="432" src="https://miro.com/app/live-embed/uXjVPDrGVvc=/?moveToViewport=24020,-9838,28034,8727&embedId=115905192746" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
        <a class="nhsuk-button" href="./v7/TDAE-start-screen">TDAE Prototype</a>

    </div>

  </div>
{% endblock %}
