{% extends 'layout-public.html' %}

{% block pageTitle %}
  Choose a username and password
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Create your account</span>Create a username and password</h1>

        <p>You will use these details to sign in to your account.</p>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="username">
              Username
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="username" name="username" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="password">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="confirm-password">
              Confirm Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="confirm-password" name="confirm-password" type="password">
        </div>
        <a class="nhsuk-button" href="registration-cya">Continue</a><br>
        <p><a href="start-screen">Cancel</a></p>

    </div>

  </div>
{% endblock %}
