{% extends 'layout.html' %}

{% block pageTitle %}
Claim details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Accommodation travel journey 1 details</h1>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Journey
        </dt>
        <dd class="nhsuk-summary-list__value">
          Term time address to accommodation
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date travelled
        </dt>
        <dd class="nhsuk-summary-list__value">
          4 February 2024
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Term time address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Stephenson House, NE2 1AW
          <details class="nhsuk-details" style="margin-bottom: 0;">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Stephenson House<br>
              Stoddart Street<br>
              Shieldfield<br>
              Newcastle upon Tyne<br>
              NE2 1AW
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Accommodation address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Premier Inn Alnwick Hotel, NE66 2PF
          <details class="nhsuk-details" style="margin-bottom: 0;">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Premier Inn Alnwick Hotel<br>
              Willowburn Industrial Estate<br>
              South Road<br>
              Alnwick<br>
              NE66 2PF
            </div>
          </details>
        </dd>
      </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Transport method
          </dt>
          <dd class="nhsuk-summary-list__value">
            Car<br>
            Public transport
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total driving mileage
          </dt>
          <dd class="nhsuk-summary-list__value">
            6
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total extra costs
          </dt>
          <dd class="nhsuk-summary-list__value">
            £20
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Public transport type
          </dt>
          <dd class="nhsuk-summary-list__value">
            Train
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total public transport costs
          </dt>
          <dd class="nhsuk-summary-list__value">
            £12.50
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Evidence
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="/images/parking-receipt-and-train-ticket.jpg" target="_blank" rel="noopener">parking-receipt-and-train-ticket.jpg<span class="nhsuk-u-visually-hidden">opens in new tab</span></a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Student comments
          </dt>
          <dd class="nhsuk-summary-list__value">
            I bought a weekly parking ticket to park my car at Newcastle Central Station.
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total cost
          </dt>
          <dd class="nhsuk-summary-list__value">
            £29.98
          </dd>
        </div>
      </dl>

      {% if data['read-only'] != 'true' %}
      <a class="nhsuk-button" href="TDAE-accommodation-travel-check">Continue</a>
      {% endif %}

  </div>

</div>
{% endblock %}
