{% extends 'layout.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Hire vehicle details</h1>

    <p>These are the details for the student's vehicle hire.</p>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total amount<!-- spent on hire vehicles-->
        </dt>
        <dd class="nhsuk-summary-list__value">
          £120
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date hired
        </dt>
        <dd class="nhsuk-summary-list__value">
          30 November 2023
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Authorised by
        </dt>
        <dd class="nhsuk-summary-list__value">
          John Doe
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Reason for booking
        </dt>
        <dd class="nhsuk-summary-list__value">
          I had an emergency situation
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Evidence
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">View <span class="nhsuk-u-visually-hidden">(opens in new tab) evidence</span></a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student comments
        </dt>
        <dd class="nhsuk-summary-list__value">
          My car broke down and is currently at the garage being repaired.
        </dd>
      </div>

    </dl>

      {% if (data['read-only'] != 'true') and (data['scenario'] != 'previous') %}
      <a class="nhsuk-button" href="TDAE-checked-hire-vehicle">Continue</a>
      {% endif %}

  </div>

</div>
{% endblock %}
