{% extends 'layout.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

        <form action="v7/TDAE-evidence-match-2" method="POST">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-heading-l">Has the student given the correct details and evidence for their period 2 placement travel?</h1>
                  </legend>
                  <div class="nhsuk-radios" data-module="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="evidence-match-yes" name="evidence-match-2" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="evidence-match-yes">
                        Yes
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="evidence-match-no" name="evidence-match-2" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="evidence-match-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
            </div>
            <button class="nhsuk-button" type="submit">
                Save and continue
            </button>
        </form>

  </div>

</div>
{% endblock %}
