{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		<!-- <form action="" method="POST"> -->

            <h1 class="nhsuk-heading-xl">Check your answers</h1>
            
            <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Term time address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    123 Building stree 1,<br>
                    Building street 2,<br>
                    Town,<br>
                    County,<br>
                    NE33 3AB
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="TDAE-term-time-address">
                      Change<span class="nhsuk-u-visually-hidden"> term time address</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Normal place of study
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    543 Building stree 1,<br>
                    Building street 2,<br>
                    City,<br>
                    County,<br>
                    NE33 3BC
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="TDAE-normal-place-study">
                      Change<span class="nhsuk-u-visually-hidden"> normal place of study</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Normal return mileage
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    20
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="TDAE-normal-return-mileage">
                      Change<span class="nhsuk-u-visually-hidden"> normal return mileage</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Daily additional costs
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    £0.50
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="TDAE-additional-costs">
                      Change<span class="nhsuk-u-visually-hidden"> additional costs total</span>
                    </a>
              
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Normal additional costs comments
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Provided
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="TDAE-normal-comments-view">
                      View<span class="nhsuk-u-visually-hidden"> additional costs comments</span>
                    </a>
              
                  </dd>
              
                </div>
              
              </dl>
            
      <form action="v3/TDAE-normal-summary-cya" method="POST">
			  <button class="nhsuk-button" type="submit">Save and continue</button><br>
			  <a href="TDAE-start-claim">Cancel</a>
      </form>

		<!-- </form> -->

	</div>

</div>
{% endblock %}