
{% extends 'layout-HEI.html' %}

{% block pageTitle %}
  Done
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">NHS Learning Support Fund</span>Change request already submitted</h1>

        <p>We are already dealing with a change request for this student. Further change requests will be enabled once we have completed this work. If there is additional information you feel you need to share about this student now, then please contact us on 0300 330 0521</p>

    </div>

  </div>
{% endblock %}
