{% extends 'layout-HEI-v10.html' %}

{% block pageTitle %}
Resubmitted claim information
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <form action="TDAE-student-claim-resubmitted?Jackson=locked" method="POST">

          <h1 class="nhsuk-heading-l">Resubmitted claim information</h1>

          <p>This claim has been previously processed, returned to the student and resubmitted.</p>

          <p>Sections where the student has made changes have been reset to 'Not started'. Previously processed sections with no changes can still be reviewed but remain 'Completed'.</p>

          <p>You can view comments on why the claim was returned in the Claim notes and history.</p>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>If you submit this claim you'll be declaring that the full claim has been checked and is correct to the best of your knowledge.</p>
          </div>

          <button class="nhsuk-button" type="submit">Continue</button><br>

      </form>

    </div>

</div>
{% endblock %}
