{% extends 'layout-HEI-v10.html' %}

{% block pageTitle %}
    What is the reason to send the claim back to the student?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="TDAE-details-for-return" method="POST">

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="return-more-detail">
              <h1 class="nhsuk-heading-l">Sections with incorrect details or evidence</h1>
            </label>

            <!--<div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
                <ul class="nhsuk-list">
                  <li>Taxi journey details or evidence</li>
                </ul>
            </div>-->

            <div class="nhsuk-list">The student will see that they need to review these sections.</div>

            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Taxi costs (for DSA students) details or evidence</li>
            </ul>

          <h2 class="nhsuk-heading-m">Are these sections correct?</h2>

          <div class="nhsuk-hint">If you select No, you'll return to the task list.</div>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="return-sections" name="return-sections" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="return-sections">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="return-sections-no" name="return-sections" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="return-sections-no">
                No
              </label>
            </div>

          </div>
                  </div>


        <button class="nhsuk-button" type="submit">Continue</button><br>

    </form>

    </div>

    <script>
        const textarea = document.querySelector('#additionalCostsComment');
        const countRemaining = document.getElementById('charactersRemaining');
        const staticMsg = document.querySelector('#char-count-screen-reader');
        const maxCharacters = 500;
        let timeoutId;

        function updateCharacterCount() {
          const textEntered = textarea.value;
          const newLines = textEntered.match(/(\r\n|\n|\r)/g);
          const addition = newLines?.length || 0;
          const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

          if (remainingCharacters >= 0) {
            countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
            countRemaining.classList.remove('nhsbsa-count-error-message');
            countRemaining.classList.add('nhsuk-hint');
            textarea.classList.remove('nhsuk-textarea--error');
          } else {
            countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
            countRemaining.classList.add('nhsbsa-count-error-message');
            countRemaining.classList.remove('nhsuk-hint');
            textarea.classList.add('nhsuk-textarea--error');
          }
        }

        function updateScreenReaderMessage() {
          clearTimeout(timeoutId);
          timeoutId = setTimeout(() => {
            const textEntered = textarea.value;
            const newLines = textEntered.match(/(\r\n|\n|\r)/g);
            const addition = newLines?.length || 0;
            const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
            // TO DO ADD FIX FOR 1 CHARACTER
            if (remainingCharacters < 0) {
              staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
            } else {
              staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
            }
          }, 500);
        }

        textarea.addEventListener('input', () => {
          updateCharacterCount();
          updateScreenReaderMessage();
        });

        // Update character count if textarea has a value on page load
        window.addEventListener('load', () => {
          updateCharacterCount();
          updateScreenReaderMessage();
        });
      </script>

  </div>
{% endblock %}
