{% extends 'layout-HEI.html' %}

{% block pageTitle %}
Claim details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Placement car mileage details for period 2</h1>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Term time address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Stephenson House, NE2 1AW
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Stephenson House<br>
              Stoddart Street<br>
              Shieldfield<br>
              Newcastle upon Tyne <br>
              NE2 1AW
            </div>
          </details>
        </dd>
      </div>
    </dl>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Full placement address
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Alnwick Hospital<br>
        Infirmary Drive<br>
        Alnwick<br>
        NE66 2NS</p>
      </div>
    </details>

    <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-4">
      <caption class="nhsuk-table__caption">Journey to and from placement</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Date
          </th>
          <th role="columnheader" class="" scope="col">
            Placement address
          </th>
          <th role="columnheader" class="" scope="col">
            Mileage to placement
          </th>
          <th role="columnheader" class="" scope="col">
            Mileage from placement
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell" style="white-space: nowrap;">
            <span class="nhsuk-table-responsive__heading">Date </span>Monday 21 <br>August 2023
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Placement address </span>Alnwick Hospital
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Mileage to placement </span>16.4
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Mileage from placement </span>16.4
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="nhsuk-heading-s">Community mileage</h2>

    <p>No community mileage has been added.</p>

    <a class="nhsuk-button" href="TDAE-placement-additional-cost-evidence-table-2">Continue</a>

  </div>

</div>
{% endblock %}
