{% extends 'layout-HEI-v10.html' %}

{% block pageTitle %}
Claim details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Placement mileage details for period 1</h1>

    <p>This information outlines the students mileage to and from placement and in the community during period 1.</p>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Term time address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Stephenson House, NE2 1AW
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Stephenson House<br>
              Stoddart Street<br>
              Shieldfield<br>
              Newcastle upon Tyne <br>
              NE2 1AW
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Student comments
        </dt>
        <dd class="nhsuk-summary-list__value">
          Some sort of comment here about the mileage / additional costs.
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-s">Monday 14 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Type of travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          Car
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage to placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage from placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Community mileage
        </dt>
        <dd class="nhsuk-summary-list__value">
          112
        </dd>
      </div>-->
    </dl>

    <h2 class="nhsuk-heading-s">Tuesday 15 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Type of travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          Car
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage to placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage from placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Community mileage
        </dt>
        <dd class="nhsuk-summary-list__value">
          112
        </dd>
      </div>-->
    </dl>

    <h2 class="nhsuk-heading-s">Wednesday 16 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Type of travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          Car
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage to placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage from placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Community mileage
        </dt>
        <dd class="nhsuk-summary-list__value">
          112
        </dd>
      </div>-->
    </dl>

    <h2 class="nhsuk-heading-s">Thursday 17 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Type of travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          Car
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage to placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage from placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <!--<div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Community mileage
        </dt>
        <dd class="nhsuk-summary-list__value">
          112
        </dd>
      </div>-->
    </dl>

    <h2 class="nhsuk-heading-s">Sunday 20 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Alnwick Hospital, NE66 2NS
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Alnwick Hospital<br>
              Infirmary Drive<br>
              Alnwick<br>
              NE66 2NS
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Type of travel
        </dt>
        <dd class="nhsuk-summary-list__value">
          Car
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage to placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          16
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Mileage from placement
        </dt>
        <dd class="nhsuk-summary-list__value">
          16
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Community mileage
        </dt>
        <dd class="nhsuk-summary-list__value">
          32
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button" href="TDAE-placement-additional-cost-evidence">Continue</a>

  </div>

</div>
{% endblock %}
