{% extends 'layout-HEI-v10.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

        <form action="TDAE-student-claim" method="POST">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <h1 class="nhsuk-heading-l">Which part of their placement travel is incorrect?</h1>

                  <p>This helps the student know what they need to change.</p>

                  <div class="nhsuk-hint">Select all that apply</div>

                  <div class="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                        Term time or placement address
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                        Placement travel details
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                        Placement travel evidence
                      </label>
                    </div>

                  </div>
                </fieldset>
            </div>
            <button class="nhsuk-button" type="submit">
                Save and continue
            </button>
        </form>

  </div>

</div>
{% endblock %}
