{% extends 'layout-HEI-v10.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

        <form action="TDAE-student-claim-full" method="POST">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-heading-l">No placement travel costs for period 2</h1>
                  </legend>

                  <!--<div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>-->
                    <p>{% if data['name'] %}{{ data['name'] }}{% else %}Joe Bloggs{% endif %} has not claimed any placement travel costs from 27 January 2025 to 2 February 2025.</p>
                  <!--</div>-->
                  <p>If this is a mistake, select No. You can then return the claim to the student.</p>

                  <h2 class="nhsuk-heading-m">Do you want to continue without these details?</h2>

                  <div class="nhsuk-radios" data-module="nhsuk-radios">
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="dates-skipped-yes" name="dates-skipped" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="dates-skipped-yes">
                        Yes
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="dates-skipped-no" name="dates-skipped" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="dates-skipped-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
            </div>
            <button class="nhsuk-button" type="submit">
                Save and continue
            </button>
        </form>

  </div>

</div>
{% endblock %}
