{% extends 'layout-HEI-v10.html' %}

{% block pageTitle %}
  Search for a student
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
          "href": "javascript:history.go(-1)",
          "text": "Go back"
      }) }}

      <h1 class="nhsuk-heading-l">Check user</h1>

      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            joe.bloggs@gmail.com
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Joe Bloggs
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Job or department
          </dt>
          <dd class="nhsuk-summary-list__value">
            Placement co-ordinator
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Phone number
          </dt>
          <dd class="nhsuk-summary-list__value">
            07771234567
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            User tasks
          </dt>
          <dd class="nhsuk-summary-list__value">
            <ul class="nhsuk-list">
              <li>Confirm student attendance</li>
              <li>Travel and Dual Accommodation Expenses claims</li>
            </ul>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            User permission
          </dt>
          <dd class="nhsuk-summary-list__value">
            Edit access
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Courses responsible for
          </dt>
          <dd class="nhsuk-summary-list__value">
            Adult nursing
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Active login
          </dt>
          <dd class="nhsuk-summary-list__value">
            Yes
          </dd>
        </div>

      </dl>

      <a class="nhsuk-button nhsuk-button--secondary" href="update-user">Change user details</a><br>
      <a class="nhsuk-button" href="update-user-confirmation">Update user</a><br>
      <!--<a class="nhsuk-button" href="create-user-role">Continue</a><br>-->
      <p><a href="user-search-results">Cancel</a></p>


    </div>

  </div>
{% endblock %}
