{% extends 'layout.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="v6/COSA-declaration" method="POST">

        <h1 class="nhsuk-heading-xl">Student declaration</h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Declaration
              </span>
            </h3>
            <!--<p>I declare that the information I have provided is correct and complete.</p>
            <p>I understand and accept that if I withhold information from NHSBSA Student Services and / or provide false or misleading information, financial support may be refused or withdrawn, and any future applications may be rejected.</p>
            <p>I understand and accept if I withhold information from NHSBSA Student Services and / or provide false or misleading information disciplinary action may be taken against me and I may be liable to criminal prosecution.</p>
            -->
            <p>I declare that the information I have provided is correct and complete.</p>

            <p>I understand and accept that if I withhold information from NHSBSA Student Services, or provide false or misleading information:</p>
            <ul>
              <li>Financial support may be refused</li>
              <li>Financial support may be withdrawn</li>
              <li>Future applications may be rejected</li>
              <li>Disciplinary action may be taken against me</li>
              <li>I may be liable to prosecution</li>
            </ul>
          </div>



        <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-7">
            <input class="nhsuk-checkboxes__input" id="COSA-declaration" name="COSA-declaration" type="checkbox" value="accepted">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="COSA-declaration">
              Accept declaration
            </label>
        </div>

        <button class="nhsuk-button" type="submit">Submit attendance confirmation</button><br>
        <a href="TDAE-start-claim">Cancel</a>

        </form>

    </div>

</div>
{% endblock %}
