{% extends 'layout.html' %}

{% block pageTitle %}
Which days does this evidence relate to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="v6/TDAE-placement-address-days" method="POST">


            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Which day did you travel to placement address {% if data['address-days'] == '2' %}2{% else %}1{% endif %}?
                  </h1>
                </legend>

                <dl class="nhsuk-summary-list">
                  {% if data['address-days'] == '2' %}
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Placement address 2
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['placement-2-building-name'] %}
                        {{ data['placement-2-building-name'] }}<br>
                        {{ data['placement-2-address-line-1'] }}<br>
                        {% if data['placement-2-address-line-2'] %}
                          {{ data['placement-2-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-2-address-line-3'] %}
                          {{ data['placement-2-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-2-address-town'] }}<br>
                        {{ data['placement-2-address-postcode'] }}<br>
                      {% else %}
                      Alnwick Hospital<br>
                      Ashington Road<br>
                      Alnwick<br>
                      NE6 4EA
                      {% endif %}
                    </dd>
                  </div>
                  {% else %}
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Placement address 1
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      {% if data['placement-building-name'] %}
                        {{ data['placement-building-name'] }}<br>
                        {{ data['placement-address-line-1'] }}<br>
                        {% if data['placement-address-line-2'] %}
                          {{ data['placement-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['placement-address-line-3'] %}
                          {{ data['placement-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['placement-address-town'] }}<br>
                        {{ data['placement-address-postcode'] }}<br>
                      {% else %}
                      Newcastle Hospital<br>
                      Newcastle Street<br>
                      Newcastle Tyne and Wear<br>
                      NE12 3AB
                      {% endif %}
                    </dd>
                  </div>
                  {% endif %}
                </dl>

                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      What if I travelled to two placement addresses the same day?
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <p>If you were at multiple placement addresses during the same day. Choose one placement address and add the mileage travelling to the other placement address as community mileage.</p>

                  </div>
                </details>

                <div class="nhsuk-hint" id="example-hint">
                  Select all the days that you travelled to placement address 1.
                </div>


                <div class="nhsuk-checkboxes">
                  {% if data['address-days'] != '2' %}
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                      Monday 5 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                      Tuesday 6 June 2023
                    </label>
                  </div>
                  {% endif %}
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Wednesday 7 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Thursday 8 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                      Friday 9 June 2023
                    </label>
                  </div>

                </div>
              </fieldset>

            </div>

            
            <button class="nhsuk-button">Continue</button><br>
            


    </form>

  </div>

</div>

</script>
{% endblock %}
