{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <!-- <form action="" method="POST"> -->

        <h1 class="nhsuk-heading-xl">Check your answers</h1>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Placement return mileage
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['placement-mileage'] %}
                    {{ data['placement-mileage'] }}
                  {% else %}
                    30
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="TDAE-placement-return-mileage">
                        Change<span class="nhsuk-u-visually-hidden"> placement return mileage</span>
                    </a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Daily additional costs
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['often-additional-costs']  === 'yes' %}
                    £{{ data['placement-additional-costs'] }}
                  {% else %}
                    No additional costs
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="TDAE-placement-additional-costs-often">
                        Change<span class="nhsuk-u-visually-hidden"> additional costs</span>
                    </a>
                </dd>
            </div>
            {% if data['often-additional-costs']  === 'yes' %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Placement additional costs comments
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['placement-related-comments']  === 'yes' %}
                    Provided
                  {% else %}
                    Not provided
                  {% endif %}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  {% if data['placement-related-comments']  === 'yes' %}
                    <a href="TDAE-placement-comments-view">
                        View<span class="nhsuk-u-visually-hidden"> additional costs comments</span>
                    </a>
                  {% else %}
                    <a href="TDAE-placement-additional-comments">
                        Change<span class="nhsuk-u-visually-hidden"> additional costs comments</span>
                    </a>
                  {% endif %}
                </dd>
            </div>
            {% endif %}

        </dl>

        <h2 class="nhsuk-heading-m">Total travel costs reimbursed to you</h2>
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Travel total
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if data['mode-of-transport'] !== 'drive' %}
                £28.20
              {% else %}
                £15.18
              {% endif %}
            </dd>
          </div>

        </dl>

        <form action="v6/TDAE-placement-journey-cya" method="POST">
            <button class="nhsuk-button" type="submit">Save and continue</button><br>
            <a href="#">Cancel</a>
        </form>

        <!-- </form> -->

    </div>

</div>
{% endblock %}
