{% extends 'layout.html' %}

{% block pageTitle %}
Additional costs comments for your normal journey
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <!-- <form action="v6/TDAE-" method="POST"> -->

        <h1 class="nhsuk-heading-xl">Accommodation comments</h1>
        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Comments
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['accomodation-comments-added'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">

                <a href="TDAE-accommodation-comments">
                  Change<span class="nhsuk-u-visually-hidden"> comments</span>
                </a>

              </dd>

            </div>

        </dl>

        <a class="nhsuk-button" href="TDAE-accommodation-check">Return to check your answers</a><br>

    <!-- </form> -->

    </div>

  </div>
{% endblock %}
