{% extends 'layout.html' %}

{% block pageTitle %}
Upload your evidence for week 2
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <!-- <form action="#" method="POST"> -->

    <h1 class="nhsuk-heading-l">Upload evidence for period 1</h1>

    <p class="nhsuk-hint">Evidence must be:</p>
      <ul class="nhsuk-list nhsuk-list--bullet nhsuk-hint">
        <li>JPG, JPEG, BMP, PNG, TIF or PDF format</li>
        <li>no more than 8MB</li>
      </ul>

    <div class="nhsuk-form-group nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7">
      <label class="nhsuk-label nhsuk-u-visually-hidden" for="file-upload-1">
          Upload your evidence file
      </label>
      <input class="nhsuk-input" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          I do not have evidence
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>If you do not give us evidence for your extra cost, we may not be able to reimburse you for that cost.</p>
        <p>You can <a href="TDAE-no-evidence-cost">remove the cost from your claim or tell us why you cannot give us evidence</a>.</p>

      </div>
    </details>

    <a class="nhsuk-button" href="v6/TDAE-placement-evidence">Upload evidence</a><br>

    <a href="TDAE-start-claim">Cancel</a>

    <!-- </form> -->

  </div>

</div>

</script>
{% endblock %}
