{% extends 'layout.html' %}

{% block pageTitle %}
Which days does this evidence relate to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <form action="v6/TDAE-no-evidence-cost" method="POST">


            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Which cost do you not have evidence for?
                  </h1>
                </legend>

                <div class="nhsuk-hint" id="example-hint">
                  Select the cost you cannot provide evidence for.
                </div>


                <div class="nhsuk-radios">

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" name="example" type="checkbox" value="email">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                      Car parking Monday 5 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" name="example" type="checkbox" value="phone">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                      Car parking Tuesday 6 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                      Car parking Wednesday 7 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                      Car parking Thursday 8 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-3" name="example" type="checkbox" value="text message">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                      Car parking Friday 9 June 2023
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" name="example" type="checkbox" value="email">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                      Congestion and clean air charges
                    </label>
                  </div>

                </div>
              </fieldset>

            </div>

            <button class="nhsuk-button">Continue</button><br>


    </form>

  </div>

</div>

</script>
{% endblock %}
