{% extends 'layout.html' %}

{% block pageTitle %}
Additional costs for your normal daily journey
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v6/TDAE-placement-journey-cya" method="POST">



			<div class="nhsuk-form-group">
					<h1 class="nhsuk-heading-l">
						<h1 class="nhsuk-heading-l">Check placement journey</h1>
					</h1>

					<dl class="nhsuk-summary-list">

					  <div class="nhsuk-summary-list__row">
					    <dt class="nhsuk-summary-list__key">
					      Mileage to placement
					    </dt>
					    <dd class="nhsuk-summary-list__value">
					      8.2
					    </dd>
					    <dd class="nhsuk-summary-list__actions">
					      <a href="TDAE-placement-to-mileage">
					        Change<span class="nhsuk-u-visually-hidden"> Mileage to placement</span>
					      </a>
					    </dd>
					  </div>

						<div class="nhsuk-summary-list__row">
					    <dt class="nhsuk-summary-list__key">
					      Mileage returning from placement
					    </dt>
					    <dd class="nhsuk-summary-list__value">
					      8.2
					    </dd>
					    <dd class="nhsuk-summary-list__actions">
					      <a href="TDAE-placement-return-mileage">
					        Change<span class="nhsuk-u-visually-hidden"> Mileage returning from placement</span>
					      </a>
					    </dd>
					  </div>

						<div class="nhsuk-summary-list__row">
					    <dt class="nhsuk-summary-list__key">
					      Days travelling
					    </dt>
					    <dd class="nhsuk-summary-list__value">
								Monday 5 June 2023<br>
								Tuesday 6 June 2023<br>
								Wednesday 7 June 2023<br>
								Thursday 8 June 2023<br>
								Friday 9 June 2023
					    </dd>
					    <dd class="nhsuk-summary-list__actions">
					      <a href="TDAE-placement-journey-days">
					        Change<span class="nhsuk-u-visually-hidden"> Additional cost amount</span>
					      </a>
					    </dd>
					  </div>

					</dl>

			</div>
			<button class="nhsuk-button" type="submit">Add journey mileage</button><br>
			<a href="TDAE-start-claim">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}
