{% extends 'layout.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="v6/TDAE-claim-submitted" method="POST">

            <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
                <div class="nhsuk-card__content">
                    <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                        Claim submitted
                    </h1>
                </div>
            </div>

            <h2 class="nhsuk-heading-m">What happens next?</h2>
            <p>Your claim will be checked by your university and the NHS Business Services Authority. We will email you if more information is needed.</p>
            <p>You can check the progress of your claim in your account.</p>

            <button class="nhsuk-button" type="submit">View your active claims</button>
        </form>

    </div>

</div>
{% endblock %}
