{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <!-- <form action="" method="POST"> -->

        <h1 class="nhsuk-heading-xl">Check your answers</h1>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  Receive travel support from Disabled Students Allowance
              </dt>
              <dd class="nhsuk-summary-list__value">
                No
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-dsa-help">
                  Change<span class="nhsuk-u-visually-hidden"> if you receive travel support from Disabled Students Allowance</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last day incurred costs
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['incur-cost-day'] %}
                {{ data['incur-cost-day'] }} <span class="cya-month">{{ data['incur-cost-month'] }}</span> {{ data['incur-cost-year'] }}
                {% else %}
                21 April 2023
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-incur-costs">
                  Change<span class="nhsuk-u-visually-hidden"> when did you first incur your costs</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Academic year
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="capitalize">
                  {% if data['academic-year'] == 'yes' %}
                    2022/23
                  {% else %}
                    2023/24
                  {% endif %}
                </span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-academic-year">
                  Change<span class="nhsuk-u-visually-hidden"> academic year</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                What will you be claiming for
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="capitalize">{{ data['claiming-for'] }}</span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-travel-accommodation">
                  Change<span class="nhsuk-u-visually-hidden"> are you claiming for a car journey?</span>
                </a>
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Placement address
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['placement-building-name'] %}
                  {{ data['placement-building-name'] }}<br>
                  {{ data['placement-address-line-1'] }}<br>
                  {% if data['placement-address-line-2'] %}
                    {{ data['placement-address-line-2'] }}<br>
                  {% endif %}
                  {% if data['placement-address-line-3'] %}
                    {{ data['placement-address-line-3'] }}<br>
                  {% endif %}
                  {{ data['placement-address-town'] }}<br>
                  {{ data['placement-address-postcode'] }}<br>
                {% else %}
                123 Practice Placement<br>
                Newcastle Tyne and Wear<br>
                NE12 3AB
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-placement-address">
                  Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                </a>
              </dd>
            </div>

        </dl>

        <form action="TDAE-task-list" method="POST">
            <button class="nhsuk-button" type="submit">Save and continue</button><br>
            <a href="#">Cancel</a>
        </form>

        <!-- </form> -->

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        const months = {
          "01": "January",
  				"02": "February",
  				"03": "March",
  				"04": "April",
  				"05": "May",
  				"06": "June",
  				"07": "July",
  				"08": "August",
  				"09": "September",
  				"1": "January",
  				"2": "February",
  				"3": "March",
  				"4": "April",
  				"5": "May",
  				"6": "June",
  				"7": "July",
  				"8": "August",
  				"9": "September",
  				"10": "October",
  				"11": "November",
  				"12": "December",
        };

        $(".cya-month").text(function () {
          const month = $(this).text();
          console.log("month:", month);
          console.log("months[month]:", months[month]);
          return months[month];
        });
      });
      </script>


</div>
{% endblock %}
