{% extends 'layout.html' %}

{% block pageTitle %}
  Which mode of transport do you take to and from your normal place of study?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

    <form action="v6/TDAE-dates-warning" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Are you sure you want to reset placement dates?
                </h1>
              </legend>

              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>By resetting placement dates all placement travel details and evidence you have added to your claim will be removed.</p>
              </div>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="dates-warning-yes" name="dates-warning" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="dates-warning-yes">
                        Yes
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="dates-warning-no" name="dates-warning" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="dates-warning-no">
                        No
                    </label>
                </div>

              </div>
            </fieldset>

          </div>

      <button class="nhsuk-button" type="submit">Save and continue</button><br>
      <a href="TDAE-start-claim">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
