{% extends 'layout.html' %}

{% block pageTitle %}
Choose a username and password
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                Your student reference number is
              </h1>
              <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                <strong>SSRN0000060</strong>
              </h2>
            </div>
        </div>

        <h2 class="nhsuk-heading-m">What happens next?</h2>
        <p>An email has been sent to your registered email address containing a link to activate your account. You must activate your account within 72 hours or you will have to re-register.</p>

        <h2 class="nhsuk-heading-m">What to do if you do not receive the email</h2>
        <p>Check your spam/junk mail as your email account may hvae filtered our email to this folder.</p>
        <p>If the activation email is not in your spam/junk mail, you can request a new activation link from your account.</p>
        <p>if you have tried these steps and still don't receive an activation email, you should register again.</p>
        <p>you will need to use a different email address and username</p>
        <p>If your account registration is still unsuccessful, then you can contact us on the details below.</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Telephone: 0300 330 0521</li>
            <li>Text relay service: 0800 7311 888</li>
        </ul>

        <p>We are open Monday to Friday 8am to 6pm and Saturday 9am to 3pm.</p>

        <p><a href="sign-in">Return to the NHS Learning Support Fund log in screen</a></p>


    </div>

</div>
{% endblock %}