{% extends 'layout.html' %}

{% block pageTitle %}
  Which mode of transport do you take to and from your normal place of study?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

    <form action="v7-demo/TDAE-public-transport-ticket" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-heading-l">
                  What type of ticket is this?
                </h1>
              </legend>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="public-transport-ticket-daily" name="public-transport-ticket" type="radio" value="Daily ticket">
                  <label class="nhsuk-label nhsuk-radios__label" for="public-transport-ticket-daily">
                    Daily ticket
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="public-transport-ticket-daily-hint">
                    This includes one way, return and daily tickets.
                  </div>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="public-transport-ticket-multiple" name="public-transport-ticket" type="radio" value="Multiple day ticket">
                  <label class="nhsuk-label nhsuk-radios__label" for="public-transport-ticket-multiple">
                    Multiple day ticket
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint" id="public-transport-ticket-multiple-hint">
                    This includes weekly, monthly and annual passes.
                  </div>
                </div>

              </div>
            </fieldset>

          </div>

      <button class="nhsuk-button" type="submit">Continue</button><br>
      <a href="TDAE-start-claim">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
