{% extends 'layout.html' %}

{% block pageTitle %}
What is the return mileage to your placement?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Your placement travel details</h1>

	</div>
</div>

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-full">
		<p>You can add information about journey mileage, extra costs you paid or community travel details for each day of your placement.</p>
	</div>
	<div class="nhsuk-grid-column-full">
		{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
		<details class="nhsuk-details">
		  <summary class="nhsuk-details__summary">
		    <span class="nhsuk-details__summary-text">
		      Placement addresses
		    </span>
		  </summary>
		  <div class="nhsuk-details__text">
				<dl class="nhsuk-summary-list">
					<div class="nhsuk-summary-list__row">
						<dt class="nhsuk-summary-list__key">
							Placement address 1
						</dt>
						<dd class="nhsuk-summary-list__value">
							Newcastle Hospital<br>
							Newcastle Street<br>
							Newcastle Tyne and Wear<br>
							NE1 1AA
						</dd>
					</div>
					<div class="nhsuk-summary-list__row">
						<dt class="nhsuk-summary-list__key">
							Placement address 2
						</dt>
						<dd class="nhsuk-summary-list__value">
							Alnwick Hospital<br>
							Infirmary Drive<br>
							Alnwick<br>
							NE66 2NS
						</dd>
					</div>
				</dl>
		  </div>
		</details>
		{% endif %}

		{% if checked('claiming-for', 'Cycle') %}
			<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
				<caption class="nhsuk-table__caption">Placement travel details and costs</caption>
				<thead role="rowgroup" class="nhsuk-table__head">
					<tr role="row">
						<th role="columnheader" class="" scope="col">
							Date
						</th>
						<th role="columnheader" class="" scope="col">
							Placement address
						</th>
						<th role="columnheader" class="" scope="col">
							Travel details
						</th>
						<th role="columnheader" class="" scope="col">
							Value
						</th>
						<th role="columnheader" class="" scope="col">
							Action
						</th>
					</tr>
				</thead>
				<tbody class="nhsuk-table__body">
					{% if data['cycle-journey'] == '1' %}
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Date </span>Friday 6 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage to placement
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Friday 6 October 2023</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage returning from placement
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Date </span>Saturday 7 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage to placement
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><div><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Saturday 7 October 2023</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage returning from placement
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span>Sunday 8 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 2, NE66 2NS
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span>Monday 9 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 2, NE66 2NS
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
							</td>
						</tr>
					{% elif data['cycle-journey'] == '2' %}
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Date </span>Friday 6 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage to placement
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Friday 6 October 2023</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage returning from placement
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Date </span>Saturday 7 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage to placement
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Saturday 7 October 2023</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage returning from placement
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>5.2 miles
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Newcastle Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Date </span>Sunday 8 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 2, NE66 2NS
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage to placement
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>8 miles
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Alnwick Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Sunday 8 October 2023</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 2, NE66 2NS</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage returning from placement
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>8 miles
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Alnwick Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Date </span>Monday 9 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 2, NE66 2NS
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage to placement
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>8 miles
							</td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Alnwick Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Monday 9 October 2023</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 2, NE66 2NS</span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Cycle mileage returning from placement
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>8 miles
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><div><a href="TDAE-placement-cycle-journey-cya?placement-cycle-mileage-address=Alnwick Hospital">Change</a> or <a href="#">remove</a></div>
							</td>
						</tr>
					{% else %}
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span>Friday 6 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span>Saturday 7 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span>Sunday 8 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 2, NE66 2NS
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
							</td>
						</tr>
						<tr role="row" class="nhsuk-table__row">
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Date </span>Monday 9 October 2023
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span>Address 2, NE66 2NS
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel cost </span>
							</td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span>
							</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		{% elif checked('claiming-for', 'car') %}
		<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
			<caption class="nhsuk-table__caption">Placement travel details and costs</caption>
			<thead role="rowgroup" class="nhsuk-table__head">
				<tr role="row">
					<th role="columnheader" class="" scope="col">
						Date
					</th>
					<th role="columnheader" class="" scope="col">
						Travel details
					</th>
					<th role="columnheader" class="" scope="col">
						Value
					</th>
					<th role="columnheader" class="" scope="col">
						Action
					</th>
				</tr>
			</thead>
			<tbody class="nhsuk-table__body">
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Date </span>Friday 6 October 2023
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage to placement
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Friday 6 October 2023</span>
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage returning from placement
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Date </span>Saturday 7 October 2023
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage to placement
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Saturday 7 October 2023</span>
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage returning from placement
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Date </span>Sunday 8 October 2023
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage to placement
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Sunday 8 October 2023</span>
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage returning from placement
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Date </span>Monday 9 October 2023
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage to placement
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
					<tr role="row" class="nhsuk-table__row">
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Monday 9 October 2023</span>
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel type </span>Mileage returning from placement
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Travel cost </span>10 miles
						</td>
						<td role="cell" class="nhsuk-table__cell">
							<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-same-journey">Change</a> or <a href="#">remove</a>
						</td>
					</tr>
			</tbody>
		</table>
		{% else %}
			<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-5">
			  <caption class="nhsuk-table__caption">Placement travel details and costs</caption>
			  <thead role="rowgroup" class="nhsuk-table__head">
			    <tr role="row">
			      <th role="columnheader" class="" scope="col">
			        Date
			      </th>
						{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
						<th role="columnheader" class="" scope="col">
			        Placement address
			      </th>
						{% endif %}
			      <th role="columnheader" class="" scope="col">
			        Travel details
			      </th>
			      <th role="columnheader" class="" scope="col">
			        Value
			      </th>
						<th role="columnheader" class="" scope="col">
			        Action
			      </th>
			    </tr>
			  </thead>
			  <tbody class="nhsuk-table__body">
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Date </span>Friday 6 October 2023
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							{% endif %}
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily train ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Friday 6 October 2023</span>
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							{% endif %}
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Multiple day bus ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£3
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Date </span>Saturday 7 October 2023
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
				      </td>
							{% endif %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily train ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
				      </td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Saturday 7 October 2023</span>
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							{% endif %}
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Multiple day bus ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£3
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Date </span>Sunday 8 October 2023
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
				      </td>
							{% endif %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily train ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
				      </td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Sunday 8 October 2023</span>
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							{% endif %}
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Multiple day bus ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£3
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
							</td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Date </span>Monday 9 October 2023
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Placement address </span>Address 1, NE1 1AA
				      </td>
							{% endif %}
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Daily train ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£8.60
				      </td>
							<td role="cell" class="nhsuk-table__cell" style="border: 0; padding-bottom: 0px;">
				        <span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
				      </td>
				    </tr>
						<tr role="row" class="nhsuk-table__row">
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Date </span><span class="nhsuk-u-visually-hidden">Monday 9 October 2023</span>
				      </td>
							{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Placement address </span><span class="nhsuk-u-visually-hidden">Address 1, NE1 1AA</span>
							</td>
							{% endif %}
				      <td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Travel type </span>Multiple day bus ticket
				      </td>
				      <td role="cell" class="nhsuk-table__cell">
				        <span class="nhsuk-table-responsive__heading">Travel cost </span>£3
				      </td>
							<td role="cell" class="nhsuk-table__cell">
								<span class="nhsuk-table-responsive__heading">Action </span><a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
							</td>
				    </tr>
			  </tbody>
			</table>
		{% endif %}

		<div  class="action-block">
			<h2 class="nhsuk-heading-s">What you can do</h2>
			<div class="nhsuk-grid-row">
				{% if checked('claiming-for', 'car') %}
				<div class="nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="v7-demo/add-journey-mileage">Add driving mileage</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'Cycle') %}
				<div class="nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="v7-demo/add-cycle-journey-mileage">Add cycling mileage</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'Public transport') %}
				<div class="nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-public-transport-overview">Add public transport tickets</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'car') %}
				<div class="extra-cost-button nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-placement-evidence-type">Add extra costs</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'community') %}
				<div class="nhsuk-grid-column-one-quarter">
				<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-placement-community-mileage-day">Add community travel</a>
				</div>
				{% endif %}
				<!--<div class="nhsuk-grid-column-one-quarter" style="width: 30%;">
				<a href="TDAE-placement-additional-comments" class="nhsuk-button">Complete placement travel details</a>
				</div>-->
			</div>
			<!--<p><a href="#">Save and come back later</a></p>-->
			<h3 class="nhsuk-heading-xs">Change previous answers</h3>
			<!--<p>You can: </p>-->
				{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
					<p><a href="TDAE-placement-address-days-cya">Change placement travel dates or addresses</a></p>
				{% else %}
					<p><a href="TDAE-check-dates">Change placement travel dates</a></p>
				{% endif %}
		</div>

		<a href="TDAE-placement-additional-comments" class="nhsuk-button">Save placement travel details</a>
		<p><a href="#">Save and come back later</a></p>

	</div>


</div>

{% endblock %}
