{% extends 'layout.html' %}

{% block pageTitle %}
What is the return mileage to your placement?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v7-demo/TDAE-placement-cycle-same-mileage" method="POST">



      <div class="nhsuk-form-group">
				<label class="nhsuk-label" for="placement-mileage">
          <h1 class="nhsuk-heading-l">What is your daily cycling mileage to and from your placement?</h1>
        </label>

        <div class="nhsuk-hint" id="contact-hint">
          You should calculate this as a return journey from your term time address to your placement.
	      </div>

				<input class="nhsuk-input__suffix-input nhsuk-input nhsuk-input--width-5" id="placement-cycle-same-mileage" name="placement-cycle-same-mileage" type="text">
				<div class="nhsuk-input__suffix" aria-hidden="true">miles</div>
      </div>

			<details class="nhsuk-details">
				<summary class="nhsuk-details__summary">
				  <span class="nhsuk-details__summary-text">
					How to work out your mileage
				  </span>
				</summary>
				<div class="nhsuk-details__text">
					<p>You can check the mileage of your journey by:</p>
					<ul>
						<li>getting directions for your journey on Google Maps</li>
						<li>checking the distance travelled on your exercise tracking app, such as Strava</li>
					</ul>
				</div>
		  </details>

			<button class="nhsuk-button" type="submit">Save and continue</button><br>
			<a href="TDAE-task-list">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}
