{% extends 'layout.html' %}

{% block pageTitle %}
  Do you receive travel support from Disabled Students Allowance?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v7-demo/TDAE-dsa-help" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Do you receive travel support from Disabled Students Allowance?
                </h1>
              </legend>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="dsa-yes" name="dsa-support" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="dsa-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="dsa-no" name="dsa-support" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="dsa-no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <a href="TDAE-start-claim">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
