{% extends 'layout.html' %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        {% if data['submit-claim'] != 'completed' %}
            <h1 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses task list</h1>
        {% else %}
            <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-9">Travel and Dual Accommodation Expenses task list</h1>
        {% endif %}

        {% if data['submit-claim'] != 'completed' %}
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Claim tasks incomplete</h2>
            <p class="nhsuk-body nhsuk-u-margin-bottom-7">You have completed 0 of 4 sections.</p>
        {% endif %}


        <ol class="app-task-list">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Claim overview
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item nhsuk-u-clear">
                        <span class="app-task-list__task-name">
                            <a class="nhsuk-link--no-visited-state"href="TDAE-eligibility-cya" aria-describedby="eligibility-status">
                                Check online eligibility
                            </a>
                        </span>
                        <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                    </li>
                    <li class="app-task-list__item nhsuk-u-clear">
                        <span class="app-task-list__task-name">
                            {% if data['placement-address'] === 'completed' %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-placement-address" aria-describedby="eligibility-status">
                                    Placement address
                                </a>
                            {% else %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-placement-address" aria-describedby="eligibility-status">
                                    Placement address
                                </a>
                            {% endif %}
                        </span>
                        {% if data['placement-address'] === 'completed' %}
                        <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% elif data['placement-address'] === 'in-progress' %}
                        <strong class="nhsuk-tag nhsuk-tag--blue app-task-list__tag" id="eligibility-status">In
                            Progress</strong>
                        {% else %}
                        <strong class="nhsuk-tag nhsuk-tag--white app-task-list__tag" id="eligibility-status">Not
                            started</strong>
                        {% endif %}
                    </li>
                </ul>
            </li>
{% if data['claiming-travel'] === 'yes' %}
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Travel costs
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item nhsuk-u-clear">
                        <span class="app-task-list__task-name">
                            {% if data['university-details'] === 'completed' %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-normal-summary-cya" aria-describedby="eligibility-status">
                                    University travel details
                                </a>
                            {% else %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-normal-transport" aria-describedby="eligibility-status">
                                    University travel details
                                </a>
                            {% endif %}
                        </span>
                        {% if data['university-details'] === 'completed' %}
                        <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% elif data['university-details'] === 'in-progress' %}
                        <strong class="nhsuk-tag nhsuk-tag--blue app-task-list__tag" id="eligibility-status">In
                            Progress</strong>
                        {% else %}
                        <strong class="nhsuk-tag nhsuk-tag--white app-task-list__tag" id="eligibility-status">Not
                            started</strong>
                        {% endif %}
                    </li>
                    <li class="app-task-list__item nhsuk-u-clear">
                        <span class="app-task-list__task-name">
                            {% if data['travel-details'] === 'completed' %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-placement-journey-cya" aria-describedby="eligibility-status">
                                    Placement travel details
                                </a>
                            {% else %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-placement-return-mileage" aria-describedby="eligibility-status">
                                    Placement travel details
                                </a>
                            {% endif %}
                        </span>
                        {% if data['travel-details'] === 'completed' %}
                        <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% elif data['travel-details'] === 'in-progress' %}
                        <strong class="nhsuk-tag nhsuk-tag--blue app-task-list__tag" id="eligibility-status">In
                            Progress</strong>
                        {% else %}
                        <strong class="nhsuk-tag nhsuk-tag--white app-task-list__tag" id="eligibility-status">Not
                            started</strong>
                        {% endif %}
                    </li>
                    <li class="app-task-list__item nhsuk-u-clear">
                        <span class="app-task-list__task-name">
                            {% if data['travel-details'] === 'completed' %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-placement-journey-cya" aria-describedby="eligibility-status">
                                    Placement travel evidence
                                </a>
                            {% else %}
                                <a class="nhsuk-link--no-visited-state"href="TDAE-placement-return-mileage" aria-describedby="eligibility-status">
                                    Placement travel evidence
                                </a>
                            {% endif %}
                        </span>
                        {% if data['travel-details'] === 'completed' %}
                        <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% elif data['travel-details'] === 'in-progress' %}
                        <strong class="nhsuk-tag nhsuk-tag--blue app-task-list__tag" id="eligibility-status">In
                            Progress</strong>
                        {% else %}
                        <strong class="nhsuk-tag nhsuk-tag--white app-task-list__tag" id="eligibility-status">Not
                            started</strong>
                        {% endif %}
                    </li>
                </ul>
            </li>
{% endif %}
{% if data['claiming-accommodation'] === 'yes' %}
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Accommodation costs
                </h2>
                <ul class="app-task-list__items">



                        <li class="app-task-list__item nhsuk-u-clear">
                            <span class="app-task-list__task-name">
                                {% if data['accommodation-details'] === 'completed' %}
                                    <a class="nhsuk-link--no-visited-state" href="#" aria-describedby="eligibility-status">
                                        Placement accommodation details and evidence
                                    </a>
                                {% else %}
                                    <a class="nhsuk-link--no-visited-state"href="#" aria-describedby="eligibility-status">
                                        Placement accommodation details and evidence
                                    </a>
                                {% endif %}
                            </span>
                            {% if data['accommodation-details'] === 'completed' %}
                            <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                            {% elif data['accommodation-details'] === 'in-progress' %}
                            <strong class="nhsuk-tag nhsuk-tag--blue app-task-list__tag" id="eligibility-status">In
                                Progress</strong>
                            {% else %}
                            <strong class="nhsuk-tag nhsuk-tag--white app-task-list__tag" id="eligibility-status">Not
                                started</strong>
                            {% endif %}
                        </li>

                </ul>
            </li>
                    {% endif %}

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Submit claim
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item nhsuk-u-clear">
                        <span class="app-task-list__task-name">
                            {% if data['university-details'] === 'completed' and data['placement-details'] === 'completed' and data['add-travel-date-evidence'] === 'completed' %}
                            <a class="nhsuk-link--no-visited-state"class="app-task-list__task-name" href="TDAE-placement-cost-summary">
                                Submit your claim
                            </a>
                            {% else %}
                            <span class="app-task-list__task-name">
                                Submit your claim
                            </span>
                            {% endif %}
                        </span>

                        {% if data['submit-claim'] === 'completed' %}
                            <strong class="nhsuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
                        {% elif data['university-details'] === 'completed' and data['placement-details'] === 'completed' and data['add-travel-date-evidence'] === 'completed' %}
                            <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__tag" id="eligibility-status">Not Started</strong>
                        {% else %}
                        <strong class="nhsuk-tag nhsuk-tag--grey app-task-list__tag" id="eligibility-status">Cannot
                            start yet</strong>
                        {% endif %}
                    </li>
                </ul>
            </li>

        </ol>

    </div>

</div>
{% endblock %}
