{% extends 'layout.html' %}

{% block pageTitle %}
  Please select the course you are studying at Birmingham City University
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">SSRN0000059 - Joe Bloggs</span>Please select the course you are studying at Birmingham City University</h1>

        <p>If this is your first time applying for funding please select the university you plan to attend. These details can be changed at a later date if needed.</p>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="university-course">
              Course
            </label>
            <select class="nhsuk-select" id="university-course" name="university-course">
              <option value="1" selected>Please select...</option>
              <option value="2">Child Nursing</option>
              <option value="3">Mental Health Nursing</option>
            </select>
        </div>

        <a class="nhsuk-button" href="academic-year-funding">Continue</a><br>
        <a href="dashboard">Cancel</a>


    </div>

  </div>
{% endblock %}
