.nhsuk-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
}
.nhsuk-phase-banner__content {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    color: #0b0c0c;
    display: table;
    margin: 0;
}