{% extends 'layout-public.html' %}

{% block pageTitle %}
  What is your National Insurance number?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                  National Insurance number changed
              </h1>
          </div>
      </div>

      <a class="nhsuk-button" href="dashboard?questionnaire-completed=Completed#tab-two">Go to NHS Learning Support Fund account</a><br>

    </div>

  </div>
{% endblock %}
