{% extends 'layout-public.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

        <h1 class="nhsuk-heading-l">Check your phone</h1>

        {% if data['send-again'] == 'true' %}
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>New code sent.</p>
          </div>
        {% endif %}

        <p>We've sent a text message with a security code to <b>07971936920</b>.</p>

        <p>If you want to change where the text message is sent, you can <a href="phone-number">change the mobile number</a>.</p>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Not received a text message?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can <a href="phone-number-2fa?send-again=true">request a new one</a>.</p>
          </div>
        </details>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="sign-in-username">
              Security code
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              This is a 5 digit code
            </div>
            <input class="nhsuk-input nhsuk-input--width-10" id="security-code" name="security-code" type="text">
        </div>

        <a class="nhsuk-button" href="full-name">Continue</a><br>
        <p><a href="start-screen">Cancel</a></p>

    </div>

  </div>
{% endblock %}
