{% extends 'layout-public.html' %}

{% block pageTitle %}
Choose a username and password
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                  Password reset email sent to joe.bloggs@email.com
              </h1>
              <!--<p  style="font-size: 1.5rem; text-align: center; color: white;" class="nhsuk-card__heading nhsuk-u-font-weight-normal">
                You're now signed out of your NHS Learning Support Fund Account.
              </p>-->
          </div>
      </div>

      {% if data['new-email'] == "sent" %}
        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>New email sent.</p>
        </div>
      {% endif %}

      <p>We've sent you an email with a link to reset your password.  You can then sign in to your NHS Learning Support Account using the new password.</p>

      <h2 class="nhsuk-heading-m">What to do if you do not receive the email</h2>

      <p>We'll only email you if the email address you entered is linked with an account. Check that you have entered the correct address.</p>

      <p>If you did, check your spam or junk folder as the email may be there. If it's not, you can <a href="forgotten-password">send a new email</a>.</p>

      <p>If you have any further problems, you can contact us by:</p>

      <ul class="nhsuk-list">
          <li>Telephone: 0300 330 0521</li>
          <li>Text relay service: 0800 7311 888</li>
      </ul>

      <p>We're open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>

      <p><a href="sign-in">Return to Sign in</a></p>

      <a href="recovery-sent-password-2fa">[link from email]</a>

    </div>

</div>
{% endblock %}
