{% extends 'layout.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Sign in to NHS Learning Support Fund</h1>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="sign-in-username">
            Username or email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="sign-in-username" name="sign-in-username" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="sign-in-password">Password</label>
          <input class="nhsbsa-input__password nhsuk-input nhsuk-input--width-20" id="sign-in-password" name="sign-in-password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none">
          <button type="button" class="js-disabled nhsbsa-button__password nhsuk-button" data-module="nhsuk-button" aria-controls="sign-in-password" aria-label="Show password">Show</button>
        </div>

        <style>
          .nhsbsa-button__password {
            padding: 4px;
            width:100%;
            margin-top:10px;
            background:#005eb8;
            box-shadow: 0 4px 0 #003d78;
            color: #fff;
          }
          .nhsbsa-button__password:hover {
            background: #004d98;
            color: #fff;
          }
          .nhsbsa-button__password:active {
            background: #003d78;
            color: #fff;
          }
          @media (min-width: 40.0625em) {
            .nhsbsa-button__password {
              padding: 2px;
            }
          }
          @media only screen and (min-width:441px) {
            .nhsbsa-button__password {
              width: auto;
              min-width: 80px;
              margin-top: 0px;
              margin-left: 15px;
            }
          }
          @media screen and (max-width: 825px) and (min-width: 769px) {
            .nhsbsa-button__password {
              width: 100%;
              min-width: 70px;
              margin-top: 20px;
              margin-left: 0px;
            }
          }
        </style>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var buttons = document.querySelectorAll('.nhsbsa-button__password');
          
            buttons.forEach(function(button) {
              button.addEventListener('click', function() {
                var input = this.previousElementSibling;
          
                // Toggle input type between 'password' and 'text'
                input.type = input.type === 'password' ? 'text' : 'password';
          
                if (input.type === 'text') {
                  this.textContent = 'Hide';
                  this.setAttribute('aria-label', 'Hide password');
                  } else {
                  this.textContent = 'Show';
                  this.setAttribute('aria-label', 'Show password');
                }
              });
            });
          });
        </script>
        <noscript>
          <style>
            .js-disabled {
              display:none;
            }
          </style>
        </noscript>

        <form action="v8/sign-in" method="POST">
          <button class="nhsuk-button" type="submit">Sign in</button><br>
        </form>

        <p><a href="forgotten-username">Forgotten your username?</a></p>
        <p><a href="forgotten-password">Forgotten your password?</a></p>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Register for an account</h2>
        <p>You can sign up for an NHS Learning Support Fund account by visiting our <a href="./start-screen">registration page</a>.</p>

    </div>

  </div>
{% endblock %}
