{% extends 'layout-public.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		<!-- <form action="" method="POST"> -->

		<h1 class="nhsuk-heading-xl">Hire car bookings</h1>

		{% if data['hire-car-details'] === 'action' %}
			<div class="nhsuk-warning-callout">
				<h3 class="nhsuk-warning-callout__label">
					<span role="text">
						<span class="nhsuk-u-visually-hidden">Important: </span>
						University feedback
					</span>
				</h3>
				<p>This is the comment left by the University when returning to student.</p>
			</div>
		{% endif %}

		{% if data['vehicle-number'] != '2' %}
		<!-- Hire Car Booking 1 -->
				<details class="nhsuk-details nhsuk-expander">
					<summary class="nhsuk-details__summary">
						<span class="nhsuk-details__summary-text">
							30 November 2023
						</span>
					</summary>

								 <!-- cost of first hire car booking -->
						<div class="nhsuk-details__text">
							<dl class="nhsuk-summary-list">
								<div class="nhsuk-summary-list__row">
									<dt class="nhsuk-summary-list__key">
										Total amount
									</dt>
									<dd class="nhsuk-summary-list__value">
										{% if data['hire-vehicle-cost'] %}
											£{{ data['hire-vehicle-cost'] }}
											{% else %}
											£120
										{% endif %}
									</dd>
								</div>

								<!-- start and end date of first hire car booking -->
								<div class="nhsuk-summary-list__row">
									<dt class="nhsuk-summary-list__key">
										Booking start and end date
									</dt>
									<dd class="nhsuk-summary-list__value">
										{% if data['hire-vehicle-start-day'] %}
											{{ data['hire-vehicle-start-day'] }} <span class="cya-month">{{ data['hire-vehicle-start-month'] }}</span> {{ data['hire-vehicle-start-year'] }}
										{% else %}
											30 November 2023
										{% endif %}
									</dd>
								</div>

								<!-- reason for first hire car booking -->
								<div class="nhsuk-summary-list__row">
									<dt class="nhsuk-summary-list__key">
										Reason for booking
									</dt>
									<dd class="nhsuk-summary-list__value">
										{% if data['reason-for-hire'] %}
											{{ data['reason-for-hire'] }}
											{% else %}
											My own car had an issue
										{% endif %}
									</dd>
								</div>

							</dl>
							<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-hire-car-check">Change booking</a>
						</div>
					</details>



		<!-- Expanders for more than one hire car booking -->
			{% else %}
		<!-- Hire Car Booking 1 -->
				<details class="nhsuk-details nhsuk-expander">
				  <summary class="nhsuk-details__summary">
				    <span class="nhsuk-details__summary-text">
				      30 November 2023
				    </span>
				  </summary>

								 <!-- cost of first hire car booking -->
						<div class="nhsuk-details__text">
							<dl class="nhsuk-summary-list">
								<div class="nhsuk-summary-list__row">
									<dt class="nhsuk-summary-list__key">
										Total amount
									</dt>
									<dd class="nhsuk-summary-list__value">
										{% if data['hire-vehicle-cost'] %}
											£{{ data['hire-vehicle-cost'] }}
											{% else %}
											£120
										{% endif %}
									</dd>
								</div>

								<!-- start and end date of first hire car booking -->
								<div class="nhsuk-summary-list__row">
									<dt class="nhsuk-summary-list__key">
										Booking start and end date
									</dt>
									<dd class="nhsuk-summary-list__value">
										{% if data['hire-vehicle-start-day'] %}
											{{ data['hire-vehicle-start-day'] }} <span class="cya-month">{{ data['hire-vehicle-start-month'] }}</span> {{ data['hire-vehicle-start-year'] }}
										{% else %}
											30 November 2023
										{% endif %}
									</dd>
								</div>

								<!-- reason for first hire car booking -->
								<div class="nhsuk-summary-list__row">
									<dt class="nhsuk-summary-list__key">
										Reason for booking
									</dt>
									<dd class="nhsuk-summary-list__value">
										{% if data['reason-for-hire'] %}
											{{ data['reason-for-hire'] }}
											{% else %}
											My own car had an issue
										{% endif %}
									</dd>
								</div>

							</dl>
							<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-hire-car-check"  style="float: left; margin-right:20px;">Change booking</a>
							<a class="nhsuk-button nhsuk-button--warning" href="TDAE-hire-car-remove-booking-1">Remove booking</a>
					  </div>
					</details>
				</div>





<!-- Hire car booking 2 -->
	<div class="nhsuk-grid-column-two-thirds">
		<details class="nhsuk-details nhsuk-expander">
			<summary class="nhsuk-details__summary">
			  <span class="nhsuk-details__summary-text">
				1 December 2023 to 3 December 2023
			  </span>
			</summary>


		   <!-- cost of second hire car booking -->
  <div class="nhsuk-details__text">
	  <dl class="nhsuk-summary-list">
		  <div class="nhsuk-summary-list__row">
			  <dt class="nhsuk-summary-list__key">
				  Total amount
			  </dt>
			  <dd class="nhsuk-summary-list__value">
				  {% if data['hire-vehicle-cost'] %}
					  £{{ data['hire-vehicle-cost'] }}
					  {% else %}
					  £175
				  {% endif %}
			  </dd>
		  </div>

		  <!-- start and end date of second hire car booking -->
		  <div class="nhsuk-summary-list__row">
			  <dt class="nhsuk-summary-list__key">
				  Booking start and end date
			  </dt>
			  <dd class="nhsuk-summary-list__value">
				  {% if data['hire-vehicle-start-day'] %}
					  {{ data['hire-vehicle-start-day'] }} <span class="cya-month">{{ data['hire-vehicle-start-month'] }}</span> {{ data['hire-vehicle-start-year'] }}
				  {% else %}
					  1 December 2023
				{% endif %}

				to <br>

				  {% if data['hire-vehicle-end-day'] %}
					  {{ data['hire-vehicle-end-day'] }} <span class="cya-month">{{ data['hire-vehicle-end-month'] }}</span> {{ data['hire-vehicle-end-year'] }}
				  {% else %}
					  3 December 2023
				  {% endif %}
			  </dd>
		  </div>

		  <!-- second hire car booking authorised by -->
		  <div class="nhsuk-summary-list__row">
			  <dt class="nhsuk-summary-list__key">
				  Authorised by
			  </dt>
			  <dd class="nhsuk-summary-list__value">
				  {% if data['authorised-by'] %}
					  {{ data['authorised-by'] }}
					  {% else %}
					  John Doe
				  {% endif %}
			  </dd>
		  </div>

		  <!-- reason for second hire car booking -->
		  <div class="nhsuk-summary-list__row">
			  <dt class="nhsuk-summary-list__key">
				  Reason for booking
			  </dt>
			  <dd class="nhsuk-summary-list__value">
				  {% if data['reason-for-hire'] %}
					  {{ data['reason-for-hire'] }}
					  {% else %}
					  My own car had an issue
				  {% endif %}
			  </dd>
		  </div>

		  <!-- Additional comments for second hire car booking -->
		  <div class="nhsuk-summary-list__row">
			<dt class="nhsuk-summary-list__key">
				Comments
			</dt>
			<dd class="nhsuk-summary-list__value">
				{% if data['additionalCostsComment'] %}
					{{ data['additionalCostsComment'] }}
					{% else %}
					My car took longer at the garage to get repaired then they originally said it would.
				{% endif %}
			</dd>
		</div>

				  </dl>
					<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-hire-car-check"  style="float: left; margin-right:20px;">Change booking</a>
				  <a class="nhsuk-button nhsuk-button--warning" href="TDAE-hire-car-remove-booking-2">Remove booking</a>
			</div>
		  </details>


			{% endif %}

			<h2 class="nhsuk-heading-m">Total hire car costs to be reimbursed</h2>
	    <dl class="nhsuk-summary-list">

				<div class="nhsuk-summary-list__row">
					<dt class="nhsuk-summary-list__key">
						Amount to be reimbursed
					</dt>
					<dd class="nhsuk-summary-list__value">
						{% if data['vehicle-number'] != '2' %}
							£120
						{% else %}
							£295
						{% endif %}
					</dd>
				</div>
	    </dl>

				<div class="button-container">
					{% if data['submit-claim'] != 'completed' %}
						<form action="v8/TDAE-hire-car-check" method="POST">
							<button style="margin-right:20px;" class="nhsuk-button style=padding-right:10px;" type="submit">
								Save and continue
							</button>
						</form>
						<form action="/lsf-public/v8/TDAE-hire-car-cost?vehicle-number=2" method="POST">
							<button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
								Add another hire car booking
							</button>
						</form>
					{% endif %}
				</div>

				<p><a href="TDAE-task-list?hire-car=in-progress">Return to task list</a></p>

		<!-- </form> -->

	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			const months = {
				"01": "January",
				"02": "February",
				"03": "March",
				"04": "April",
				"05": "May",
				"06": "June",
				"07": "July",
				"08": "August",
				"09": "September",
				"1": "January",
				"2": "February",
				"3": "March",
				"4": "April",
				"5": "May",
				"6": "June",
				"7": "July",
				"8": "August",
				"9": "September",
				"10": "October",
				"11": "November",
				"12": "December",
			};

			$(".cya-month").text(function () {
				const month = $(this).text();
				console.log("month:", month);
				console.log("months[month]:", months[month]);
				return months[month];
			});
		});
		</script>

</div>
{% endblock %}
