{% extends 'layout-public.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Check your answers</h1>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Claim dates
              </dt>
              <dd class="nhsuk-summary-list__value">
                  2 February 2024 to<br>
                  31 March 2024
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-incur-costs">
                  Change<span class="nhsuk-u-visually-hidden"> claim start date</span>
                </a>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Academic year
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {% if data['academic-year'] == 'yes' %}
                    2022 to 2023
                  {% else %}
                    2023 to 2024
                  {% endif %}
                </span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                {% if data['academic-year'] %}
                <a href="TDAE-academic-year">
                  Change<span class="nhsuk-u-visually-hidden"> academic year</span>
                </a>
                {% endif %}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Paid costs for
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="capitalize">{{ data['claiming-for'] }}</span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-travel-accommodation?change=yes">
                  Change<span class="nhsuk-u-visually-hidden"> paid costs for</span>
                </a>
              </dd>
            </div>
<!--
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Reused answers from previous claim
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{ data['reused-details'] }}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-reuse-details">
                  Change<span class="nhsuk-u-visually-hidden"> are you claiming for a car journey?</span>
                </a>

              </dd>
            </div>
-->

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                  Placement address
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {% if data['international'] == 'true' %}
                      {% if data['international-placement-building-name'] %}
                          {{ data['international-placement-building-name'] }}<br>
                          {{ data['international-placement-address-line-1'] }}<br>
                          {% if data['international-placement-address-line-2'] %}
                              {{ data['international-placement-address-line-2'] }}<br>
                          {% endif %}
                          {% if data['international-placement-address-line-3'] %}
                              {{ data['international-placement-address-line-3'] }}<br>
                          {% endif %}
                          {{ data['international-placement-address-town'] }}<br>
                          {% if data['international-placement-address-region'] %}
                              {{ data['international-placement-address-region'] }}<br>
                          {% endif %}
                          {% if data['international-placement-address-postcode'] %}
                              {{ data['international-placement-address-postcode'] }}<br>
                          {% endif %}
                          {{ data['international-placement-address-country'] }}
                      {% else %}
                          <!-- Default international address -->
                          Mnazi Mmoja Hospital<br>
                          Kaunda Road<br>
                          Zanzibar<br>
                          R5JR R2G<br>
                          Tanzania
                      {% endif %}
                  {% else %}
                      {% if data['placement-building-name'] %}
                          {{ data['placement-building-name'] }}<br>
                          {{ data['placement-address-line-1'] }}<br>
                          {% if data['placement-address-line-2'] %}
                              {{ data['placement-address-line-2'] }}<br>
                          {% endif %}
                          {% if data['placement-address-line-3'] %}
                              {{ data['placement-address-line-3'] }}<br>
                          {% endif %}
                          {{ data['placement-address-town'] }}<br>
                          {{ data['placement-address-postcode'] }}<br>
                      {% else %}
                          <!-- Default UK address -->
                          Alnwick Hospital<br>
                          Infirmary Drive<br>
                          Alnwick<br>
                          NE66 2NS
                      {% endif %}
                  {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                  <a href="TDAE-placement-address-cya">
                      Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                  </a>
              </dd>
            </div>

            <!-- If user only selects Overseas from 'Which costs did you pay for screen' do not display term-time address details -->
            {% if 'car' in data['claiming-for'] or 'Public transport' in data['claiming-for'] or 'Cycle' in data['claiming-for'] or 'community' in data['claiming-for'] or 'accommodation' in data['claiming-for'] or 'travel to accommodation' in data['claiming-for'] or 'taxi' in data['claiming-for'] or 'hire-car' in data['claiming-for'] %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Term time address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {% if data['term-building-name'] %}
                        {{ data['term-building-name'] }}<br>
                        {{ data['term-address-line-1'] }}<br>
                        {% if data['term-address-line-2'] %}
                            {{ data['term-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['term-address-line-3'] %}
                            {{ data['term-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['term-address-town'] }}<br>
                        {{ data['term-address-postcode'] }}<br>
                    {% else %}
                        <p>Stephenson House<br>
                            Stoddart St<br>
                            Shieldfield<br>
                            Newcastle upon Tyne<br>
                            NE2 1AW</p>
                    {% endif %}
                </dd>
                {% if data['submit-claim'] != 'completed' %}
                <dd class="nhsuk-summary-list__actions">
                    <a href="TDAE-term-time-address">
                        Change<span class="nhsuk-u-visually-hidden"> term time address</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
            

        </dl>

        <form action="TDAE-task-list" method="POST">
            <button class="nhsuk-button" type="submit">Save and continue</button><br>
            <a href="#">Cancel</a>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        const months = {
          "01": "January",
  				"02": "February",
  				"03": "March",
  				"04": "April",
  				"05": "May",
  				"06": "June",
  				"07": "July",
  				"08": "August",
  				"09": "September",
  				"1": "January",
  				"2": "February",
  				"3": "March",
  				"4": "April",
  				"5": "May",
  				"6": "June",
  				"7": "July",
  				"8": "August",
  				"9": "September",
  				"10": "October",
  				"11": "November",
  				"12": "December",
        };

        $(".cya-month").text(function () {
          const month = $(this).text();
          console.log("month:", month);
          console.log("months[month]:", months[month]);
          return months[month];
        });
      });
      </script>


</div>
{% endblock %}
