{% extends 'layout-public.html' %}

{% block pageTitle %}
  What will you be claiming for?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

    <form action="v8/TDAE-overseas-eligibility-pause" method="POST">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Overseas costs
            </h1>
          </legend>

          <p>If your placement was outside the United Kingdom, the Isle of Man, or the Channel Islands, you can claim costs for:</p>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>insurance</li>
            <li>medical tests</li>
            <li>vaccinations</li>
            <li>visa fees</li>
          </ul>

          <p>If you paid for travel or accommodation in the UK and Islands or the host country, you should claim these costs separately by selecting <b>Change what costs you pay for</b>.</p>

          <p>You cannot claim for any other costs you paid for while overseas, such as:</p>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>travel from the UK or Islands to the host country, such as air fares</li>
            <li>placement arrangement or administrative fees</li>
            <li>additional tuition fees charged by the placement provider</li>
            <li>food, tips, or general spending</li>
            <li>phone call charges</li>
          </ul>

        </fieldset>

      </div>

      <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-start-claim">Change what costs you paid for</a>
      <br>
      <button class="nhsuk-button" type="submit">Continue</button><br>
      <a href="TDAE-start-claim">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
