{% extends 'layout-public.html' %}

{% block pageTitle %}
Is your term time address the same?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v8/TDAE-accommodation-comment" method="POST">

      <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Do you want to tell us anything more about your costs for this booking?
              </h1>
            </legend>

            <div class="nhsuk-hint">You can include any comments about your costs for this booking. For example, whether you shared the costs with someone else.</div>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>Do not tell us about other accommodation bookings. You can add these details soon.</p>
            </div>
            
              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="same-term-address-yes" name="accommodation-comment" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="same-term-address-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="same-term-address-no" name="accommodation-comment" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="same-term-address-no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <a href="TDAE-claims-list">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
