{% extends 'layout-public.html' %}

{% block pageTitle %}
Evidence you have uploaded
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    <style>
		ul, .nhsuk-list--circle {
		  list-style-type: circle;
		    pUploading-left: 20px;
		}

		.nhsuk-list-style-none{
		  list-style: none;
		}
		</style>

    {% if data['end-of-upload-2'] === 'yes' %}
      <form action="v8/TDAE-evidence-mini-cya-complete" method="POST">
    {% else %}
      <form action="v8/TDAE-evidence-mini-cya" method="POST">
    {% endif %}

      <h1 class="nhsuk-heading-l">Uploaded evidence{% if data['placement-week'] == '2' %} for period 1{% endif %}</h1>

      {% if data['evidenceNumber'] == '2' or data['evidenceNumber'] == '3' or data['claiming-for'] == 'car' %}
        <p>You have uploaded evidence for all the extra costs. You can still upload more evidence if you want to.</p>
      {% else %}
        <p>You still need to give us evidence for:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Train tickets</li>
          <li class="nhsuk-list-style-none">
            <ul class="nhsuk-list nhsuk-list--circle nhsuk-u-margin-bottom-0">
              <li>Friday 6 October 2023</li>
              <li>Saturday 7 October 2023</li>
              <li>Sunday 8 October 2023</li>
              <li>Monday 9 October 2023</li>
            </ul>
          </li>
        </ul>
      {% endif %}

      {% if data['evidenceNumber'] !== '2' and data['claiming-for'] != 'car' %}
        <a class="nhsuk-button" href="TDAE-placement-evidence?evidenceNumber=2">Upload evidence</a>
      {% endif %}

      </div>

      <div class="nhsuk-grid-column-full">

        <h2 class="nhsuk-heading-m">Evidence you have uploaded</h2>

        {% if data['claiming-for'] == 'car' %}
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Evidence uploaded</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                  Cost type and date
              </th>
              <th role="columnheader" class="" scope="col">
                  File
              </th>
              <th role="columnheader" class="" scope="col">
                  Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">
                  Parking charges on Friday 6 October 2023
              </td>
              <td class="nhsuk-table__cell ">
                <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                  parking-tickets.jpg
                </a></p>
              </td>
              <td class="nhsuk-table__cell ">
                  <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                  <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">
                  Parking charges on Saturday 7 October 2023
              </td>
              <td class="nhsuk-table__cell ">
                <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                  parking-tickets.jpg
                </a></p>
              </td>
              <td class="nhsuk-table__cell ">
                  <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                  <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">
                  Parking charges on Sunday 8 October 2023
              </td>
              <td class="nhsuk-table__cell ">
                <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                  parking-tickets.jpg
                </a></p>
              </td>
              <td class="nhsuk-table__cell ">
                  <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                  <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell ">
                  Parking charges on Monday 9 October 2023
              </td>
              <td class="nhsuk-table__cell ">
                <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                  parking-tickets.jpg
                </a></p>
              </td>
              <td class="nhsuk-table__cell ">
                  <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                  <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
              </td>
            </tr>
          </tbody>
        </table>


        {% else %}

          <table class="nhsuk-table">
              <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Evidence uploaded</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                      Cost type and date
                  </th>
                  <th role="columnheader" class="" scope="col">
                      File
                  </th>
                  <th role="columnheader" class="" scope="col">
                      Action
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell ">
                      Bus ticket from Friday 6 October 2023 to Thursday 12 October 2023
                  </td>
                  <td class="nhsuk-table__cell ">
                    <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                      Ticket07-0323.jpg
                    </a></p>
                  </td>
                  <td class="nhsuk-table__cell ">
                      <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                      <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
                  </td>
                </tr>
                {% if data['evidenceNumber'] === '2' %}
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell ">
                      Train ticket on Friday 6 October 2023
                  </td>
                  <td class="nhsuk-table__cell ">
                    <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                      snapshot-032-07-03-2023.jpg
                    </a></p>
                    {% if data['evidence-type'] == 'further' %}
                      <a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                        Ticket07-0323.jpg
                      </a>
                    {% endif %}
                  </td>
                  <td class="nhsuk-table__cell ">
                      <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                      {% if data['evidence-type'] == 'further' %}<p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>{% endif %}
                      <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell ">
                      Train ticket on Saturday 7 October 2023
                  </td>
                  <td class="nhsuk-table__cell ">
                    <a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                      snapshot-032-07-03-2023.jpg
                    </a>
                  </td>
                  <td class="nhsuk-table__cell ">
                    <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                    <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell ">
                      Train ticket on Sunday 8 October 2023
                  </td>
                  <td class="nhsuk-table__cell ">
                    <a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                      snapshot-032-07-03-2023.jpg
                    </a>
                  </td>
                  <td class="nhsuk-table__cell ">
                    <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                    <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
                  </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell ">
                      Train ticket on Monday 9 October 2023
                  </td>
                  <td class="nhsuk-table__cell ">
                    <a class="nhsuk-link--no-visited-state" href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
                      snapshot-032-07-03-2023.jpg
                    </a>
                  </td>
                  <td class="nhsuk-table__cell ">
                    <p class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="TDAE-evidence-remove">Remove</a></p>
                    <a class="nhsuk-link--no-visited-state" href="TDAE-placement-evidence?evidence-type=further">Upload more evidence</a>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
            {% endif %}

            {% if data['no-evidence'] == 'true' %}
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Costs you have no evidence for</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">Reason</th>
                    <th role="columnheader" class="" scope="col">Cost type</th>
                    <th role="columnheader" class="" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Lost my receipt</td>
                    <td class="nhsuk-table__cell">Parking charges on Thursday 04 January 2024</td>
                    <td class="nhsuk-table__cell">
                      <a id="removeReason0" href="#">Remove<span class="nhsuk-u-visually-hidden"> reason 1</span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            {% endif %}

              {% if data['evidenceNumber'] === '2' or data['evidenceNumber'] === '3' or data ['claiming-for'] == 'car' %}
                <a class="nhsuk-button" href="TDAE-evidence-comment?week-1=completed">Save and continue</a>
              {% endif %}

  </div>

</div>

</script>
{% endblock %}
