{% extends 'layout-public.html' %}

{% block pageTitle %}
Your costs
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Amounts to be reimbursed</h1>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Overseas costs
        </dt>
        <dd class="nhsuk-summary-list__value">
          £95
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total amount to be reimbursed
        </dt>
        <dd class="nhsuk-summary-list__value">
          £95
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-task-list">Change claim</a><br>
    <a class="nhsuk-button" href="TDAE-student-declaration">Save and continue</a><br>
    <p><a href="TDAE-start-claim">Cancel</a></p>

  </div>

</div>

<style>

  @media (min-width: 40.0625em) {
    .nhsuk-summary-list__key {
        width: 50%;
    }
  }

</style>
{% endblock %}
