{% extends 'layout-public.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		<!-- <form action="" method="POST"> -->

		<h1 class="nhsuk-heading-xl">Check your answers</h1>

		{% if data['accommodation-details'] === 'action' %}
			<div class="nhsuk-warning-callout">
			  <h3 class="nhsuk-warning-callout__label">
			    <span role="text">
			      <span class="nhsuk-u-visually-hidden">Important: </span>
			      University feedback
			    </span>
			  </h3>
			  <p>You have provided a hotel receipt meaning this should be commercial accommodation instead of non-commercial.</p>
			</div>
		{% endif %}

		<dl class="nhsuk-summary-list">
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Start date
				</dt>
				<dd class="nhsuk-summary-list__value">
					4 February 2024
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-start-date">
						Change<span class="nhsuk-u-visually-hidden"> start date</span>
					</a>
				</dd>
				{% endif %}
			</div>

			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					End date
				</dt>
				<dd class="nhsuk-summary-list__value">
					9 February 2024
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-end-date">
						Change<span class="nhsuk-u-visually-hidden"> end date</span>
					</a>
				</dd>
				{% endif %}
			</div>

			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Accommodation address
				</dt>
				<dd class="nhsuk-summary-list__value">
					Premier Inn Alnwick Hotel<br>
					Willowburn Industrial Estate<br>
					South Road<br>
					Alnwick<br>
					NE66 2PF
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-address">
						Change<span class="nhsuk-u-visually-hidden"> accommodation address</span>
					</a>
				</dd>
				{% endif %}
			</div>

			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Accommodation type
				</dt>
				<dd class="nhsuk-summary-list__value">
					Commercial
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-type">
						Change<span class="nhsuk-u-visually-hidden"> accommodation type</span>
					</a>
				</dd>
				{% endif %}
			</div>

			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Same cost every night
				</dt>
				<dd class="nhsuk-summary-list__value">
						Yes
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-same-cost">
						Change<span class="nhsuk-u-visually-hidden"> accommodation type</span>
					</a>
				</dd>
				{% endif %}
			</div>

			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Nights stayed
				</dt>
				<dd class="nhsuk-summary-list__value">
					5
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<span class="nhsuk-u-visually-hidden">Cannot be changed</span>
				</dd>
				{% endif %}
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Nightly cost
				</dt>
				<dd class="nhsuk-summary-list__value">
					£90
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-cost">
						Change<span class="nhsuk-u-visually-hidden"> cost per night</span>
					</a>
				</dd>
				{% endif %}
			</div>
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Capped nightly cost to be reimbursed
				</dt>
				<dd class="nhsuk-summary-list__value">
					£82.50
				</dd>
				<dd class="nhsuk-summary-list__actions">

				</dd>
			</div>

			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Comments
				</dt>
				<dd class="nhsuk-summary-list__value">
					{% if data['accomodation-comments-added'] %}
						Comment added<br>
					 <details class="nhsuk-details">
						<summary class="nhsuk-details__summary">
							<span class="nhsuk-details__summary-text">
								View comment
							</span>
						</summary>
						<div class="nhsuk-details__text">
							<p>This is a comment that is over 100 characters therefore it is in a details dropdown.</p>
						</div>
					</details>
					{% else %}
						None provided
					{% endif %}
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-add-comments">
						Change<span class="nhsuk-u-visually-hidden"> additional costs comments</span>
					</a>
				</dd>
				{% endif %}
			</div>
<!--
			{% if data['accommodation-details'] == 'in-progress' %}
				<div class="nhsuk-summary-list__row" style="background-color: #fff9c4;">
					<dt class="nhsuk-summary-list__key">
						Evidence uploaded
					</dt>
					<dd class="nhsuk-summary-list__value">
							Not uploaded yet
					</dd>
					{% if data['submit-claim'] != 'completed' %}
					<dd class="nhsuk-summary-list__actions">
						<a href="TDAE-accommodation-evidence">
							Change<span class="nhsuk-u-visually-hidden"> Evidence uploaded</span>
						</a>
					</dd>
					{% endif %}
				</div>
			{% else %}
			<div class="nhsuk-summary-list__row">
				<dt class="nhsuk-summary-list__key">
					Evidence uploaded
				</dt>
				<dd class="nhsuk-summary-list__value">
					<a href="/images/Hotel-booking-confirmation.pdf" download="Emmit Mar accommodation evidence 17 Apr 2023 to 22 Apr 2023">
						hotel-receipt.pdf
					</a>
				</dd>
				{% if data['submit-claim'] != 'completed' %}
				<dd class="nhsuk-summary-list__actions">
					<a href="TDAE-accommodation-evidence">
						Change<span class="nhsuk-u-visually-hidden"> Evidence uploaded</span>
					</a>
				</dd>
				{% endif %}
			</div>
			{% endif %}
-->
			</dl>

			{% if data['accommodation-details'] == 'in-progress' %}
				<a class="nhsuk-button" href="TDAE-accommodation-evidence?accommodation-details=completed">Add evidence</a>
			{% else %}
				{% if data['submit-claim'] != 'completed' %}
					<form action="TDAE-accommodation-evidence-overview" method="POST">
						<button class="nhsuk-button" type="submit">Save and continue to evidence</button>
					</form>
				{% endif %}
			{% endif %}

			<p><a href="TDAE-task-list-full">Cancel</a></p>

		<!-- </form> -->

	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			const months = {
				"01": "January",
				"02": "February",
				"03": "March",
				"04": "April",
				"05": "May",
				"06": "June",
				"07": "July",
				"08": "August",
				"09": "September",
				"1": "January",
				"2": "February",
				"3": "March",
				"4": "April",
				"5": "May",
				"6": "June",
				"7": "July",
				"8": "August",
				"9": "September",
				"10": "October",
				"11": "November",
				"12": "December",
			};

			$(".cya-month").text(function () {
				const month = $(this).text();
				console.log("month:", month);
				console.log("months[month]:", months[month]);
				return months[month];
			});
		});
		</script>

</div>
{% endblock %}
