{% extends 'layout-public.html' %}

{% block pageTitle %}
Your placement travel details (Showing 6-10 of 15 dates)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">Your placement travel details</h1>
	</div>
</div>

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<p>You can add information about journey mileage, extra costs you paid or community travel details for each day of your placement.</p>
	</div>
	<div class="nhsuk-grid-column-full">
		<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-bottom-0">
			<caption>
				<span class="nhsuk-heading-m">Placement travel details and costs</span>
				<span class="nhsuk-u-visually-hidden"> - </span>
				<span class="nhsuk-hint">Showing 6-10 of 15 dates</span>
			</caption>
			<thead role="rowgroup" class="nhsuk-table__head">
				<tr role="row">
					<th role="columnheader" class="" scope="col">Date</th>
					<th role="columnheader" class="" scope="col">Travel details</th>
					<th role="columnheader" class="" scope="col">Value</th>
					<th role="columnheader" class="" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody class="nhsuk-table__body">
				<tr role="row" class="nhsuk-table__row">
					<th rowspan="2" scope="row" class="nhsbsa-row__header nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Date </span>
						Wednesday 11 October 2023
					</th>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Daily train ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£8.60
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Multiple day bus ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£1.72
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>

				<tr role="row" class="nhsuk-table__row">
					<th rowspan="2" scope="row" class="nhsbsa-row__header nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Date </span>
						Thursday 12 October 2023
					</th>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Daily train ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£8.60
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Multiple day bus ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£1.72
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>

				<tr role="row" class="nhsuk-table__row">
					<th rowspan="2" scope="row" class="nhsbsa-row__header nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Date </span>
						Friday 13 October 2023
					</th>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Daily train ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£8.60
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Multiple day bus ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£1.72
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>

				<tr role="row" class="nhsuk-table__row">
					<th rowspan="2" scope="row" class="nhsbsa-row__header nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Date </span>
						Saturday 14 October 2023
					</th>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Daily train ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£8.60
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Multiple day bus ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£1.72
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>

				<tr role="row" class="nhsuk-table__row">
					<th rowspan="2" scope="row" class="nhsbsa-row__header nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Date </span>
						Sunday 15 October 2023
					</th>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Daily train ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£8.60
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>
				<tr role="row" class="nhsuk-table__row">
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel type </span>
						Multiple day bus ticket
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Travel cost </span>
						£1.72
					</td>
					<td role="cell" class="nhsuk-table__cell">
						<span class="nhsuk-table-responsive__heading">Actions </span>
						<div class="link-container">
							<a href="TDAE-public-transport-check">Change</a> or <a href="#">remove</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<nav class="nav nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-5" role="navigation" aria-label="Pagination">
			<a class="pagination__link" href="/lsf-public/v8/TDAE-placement-itinerary-dev-alt1"  aria-label="Next page"><span aria-hidden="true" role="presentation">&laquo;&nbsp;</span>Previous</a>
			<ul class="pagination">
				<li class="pagination__item pagination-li"><a class="pagination__link" href="/lsf-public/v8/TDAE-placement-itinerary-dev-alt1" aria-label="Page 1">1</a></li>
				<li class="pagination__item pagination-li"><a class="pagination__link current" href="#" aria-label="Page 2, current page" aria-current="true">2</a></li>
				<li class="pagination__item pagination-li"><a class="pagination__link" href="/lsf-public/v8/TDAE-placement-itinerary-dev-alt3" aria-label="Page 3">3</a></li>
			</ul>
			<a class="pagination__link"href="/lsf-public/v8/TDAE-placement-itinerary-dev-alt3" aria-label="Next page">Next<span aria-hidden="true" role="presentation">&nbsp;&raquo;</span></a>
			<div class="pagination__summary navigation-mobile" style="text-align: right;">Showing 6 - 10 of 15 dates</div>
		</nav>
	</div>
	<div class="nhsuk-grid-column-full">
		<div  class="action-block">
			<h2 class="nhsuk-heading-s">What you can do</h2>
			<div class="nhsuk-grid-row">
				{% if checked('claiming-for', 'car') %}
				<div class="nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="v8/add-journey-mileage">Add car journey mileage</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'Cycle') %}
				<div class="nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="v8/add-cycle-journey-mileage">Add cycling journey mileage</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'Public transport') %}
				<div class="nhsuk-grid-column-one-quarter">
					<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-public-transport-overview">Add public transport tickets</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'car') or checked('claiming-for', 'Cycle') %}
				<div class="nhsuk-grid-column-one-quarter" style="width: 20%;">
					<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-placement-evidence-type">Add extra costs</a>
				</div>
				{% endif %}
				{% if checked('claiming-for', 'community') %}
				<div class="nhsuk-grid-column-one-quarter">
				<a class="nhsuk-button nhsuk-button--secondary" href="TDAE-placement-community-mileage-day">Add Community travel</a>
				</div>
				{% endif %}
				<!--<div class="nhsuk-grid-column-one-quarter" style="width: 30%;">
				<a href="TDAE-placement-additional-comments" class="nhsuk-button">Complete placement travel details</a>
				</div>-->
			</div>
			<!--<p><a href="#">Save and come back later</a></p>-->
			<h3 class="nhsuk-heading-xs">Change previous answers</h3>
			<!--<p>You can: </p>-->
				{% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
					<p><a href="TDAE-placement-address-days-cya">Change placement travel dates or addresses</a></p>
				{% else %}
					<p><a href="TDAE-check-dates">Change placement travel dates</a></p>
				{% endif %}
		</div>

		<a href="TDAE-placement-additional-comments" class="nhsuk-button">Save placement travel details</a>
		<p><a href="#">Save and come back later</a></p>
	</div>
</div>

<style>
	.nhsbsa-row__header{
		font-weight: normal;
	}
	@media only screen and (min-width:769px) {
		.nhsbsa-row__header{
			vertical-align: middle;
		}
	}
	@media only screen and (max-width:768px) {
		.nhsbsa-row__header{
			text-align: right;
			padding-right:0;
			padding-left: 0;
			display:flex;
			justify-content: space-between;
			border: 1px solid	#4c6272;
			outline: 5px solid	#4c6272;
			margin-bottom: 5px;
			background: #4c6272;
			/* padding: 10px; */
			font-weight: 800;
			color: #fff;
		}
		.nav {
    	flex-direction: row;
    	align-items: center;
		}
		.pagination__summary {
			font-size: 16px;
			text-align:right;
		}
	}
</style>
{% endblock %}
