<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Learning Support Fund
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Learning Support Fund</span>Portal
    </h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
    <p class="nhsuk-body-l">An online portal accessed by University employees</p>

    <hr>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 10</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Continuous Improvements
          <span class="nhsuk-caption-l nhsuk-caption--bottom"></span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE timesheets</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all evidence is representative of the associated cost - more to show functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v10/TDAE-student-claim-full?name=Daniel%20Jackson&status=To%20be%20completed&evidence-completed=&university-completed=completed&approve-in-progress=&read-only=&wrong-evidence=true&breakdown=walk">TDAE claim (full list of costs)</a>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 9</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) Version 3 Taxis and Overseas Costs
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 Taxis</li>
          <li>TDAE Version 3 Overseas</li>
          <li>Added the claim dates and value to each individual claim</li>
          <li>New dashboard and central navigation</li>
          <li>The ability to add additional comments when checking costs that require (pre)authorisation</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 Taxis</li>
          <li>TDAE Version 3 Overseas</li>
          <li>New dashboard and central navigation</li>
          <li>The ability to add additional comments when checking each section of the claim</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>HEIs appreciate the context that is now able to be provided through the digital platform. For example, the reason why a student needed to book a taxi, who authorised the taxi/overseas costs, and any further comments from the student about these costs as they can be a bit trickier to handle.</li>
          <li>Whilst it's more of an important feature for the NHSBSA Processors/CCS Agents, HEIs also appreciate being able to see the claim dates and values as sometimes they find students will refer to their claims using these two attributes when sending emails and such.</li>
          <li>HEIs like the new centralised navigation system seen across the top navigation menu. They now find it easier to get from one section of the portal to another e.g., Student Search to </li>
          <li>HEIs really like the ability to add additional comments when checking costs that require (pre)authorisation. HEIs have explained that a lot of students will write the bare minimum throughout their claim so having the ability to provide some extra context like any email correspondence between themselves and the student will be great for transparency between the student, HEI and NHSBSA.</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all evidence is representative of the associated cost - more to show functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v9/sign-in">Learning Support Fund Portal</a>

        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v9/sign-in?user-role=TDAE">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Sign in as TDAE user</span>
          </a>
        </div>

        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v9/sign-in?user-role=COSA">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Sign in as COSA user</span>
          </a>
        </div>

        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v9/sign-in?user-role=Admin">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Sign in as Admin user</span>
          </a>
        </div>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 8</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) Version 3 Hire Car scenario
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 Hire Car</li>
          <li>TDAE Version 3 Placement mileage scenario also included</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 Hire Car</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>HEIs find hire cars easier to check with the new information that is provided. They like that the student can provide specific details around the hire car booking start and end date, who the booking was authorised by so that they can communicate further with this person if needs be, and the reason for the booking.
            HEIs also like that the student can provide further detail of their hire car booking/cost using a free text box to provide that extra bit of context if needs be.
          </li>
          <li>HEIs really like that they can see the student's placement mileage journey via a Google Maps link as it speedens this checking element up.</li>
          <li>HEIs also like that the system will show the <a href="v8/TDAE-placement-additional-cost-evidence-table">Placement extra costs</a> page even if it the student has not claimed for any extra costs during their journey. It just provides that extra piece of info whilst checking other parts of the claim.</li>
          <li>Again, HEIs mentioned that they particularly like that the breakdown shows how the system has calculated the total costs to be reimbursed to the student with the university journey deducted as this provides extra piece of mind whilst checking.</li>

        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all evidence is representative of the associated cost - more to show functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v8/sign-in">Learning Support Fund Portal</a>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 7 demo</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) Version 3 public transport demo
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 public transport</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all evidence is representative of the associated cost - more to show functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v7-demo/sign-in">Learning Support Fund Portal</a>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 7</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) Version 3
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 Public Transport Placement Travel</li>
          <li>TDAE Version 3 Accommodation Bookings</li>
          <li>TDAE Version 3 Accommodation Travel journeys</li>
          <li>The ability to add a feedback note to the student's claim and view the claim notes and history</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 3 Public Transport Placement Travel</li>
          <li>TDAE Version 3 Accommodation Bookings</li>
          <li>TDAE Version 3 Accommodation Travel journeys</li>
          <li>The ability to add a feedback note to the student's claim and view the claim notes and history</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>HEIs appreciate the duplicate public transport ticket warnings with links to check the previous claim. They think this will reduce the back-and-forth element between the student, university and NHSBSA.</li>
          <li>HEIs also like being able to view the breakdown of journey costs as it reduce their workload - A lot of the time, HEIs will double check student's calculation through the current paper PDF form, so the new system will take that element away.</li>
          <li>HEIs really like the ability to add a feedback note to the student's claim and view the claim notes and history as it's useful to have that extra context and to see various comments left by other members of staff or the NHSBSA.</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all evidence is representative of the associated cost - more to show functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v7/sign-in">Learning Support Fund Portal</a>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 6</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) Version 2
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>COSA termly attendance confirmation</li>
          <li>TDAE Version 2</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE Version 2 with minimum 4 user sessions</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>COSA is not getting user tested in advance of going live and is raised as risk.</li>
          <li>COSA term 1 will not work as prototype. Student confirmation will not be required as outlined in ticket <a href="https://bsa2468.atlassian.net/browse/P3LCL-2591">P3LCL-2591</a></li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v6/sign-in">Learning Support Fund Portal</a>


        <!--<div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="https://miro.com/app/board/uXjVPDrGVvc=/?moveToWidget=3458764552771314391&cot=14">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v4)</span>
          </a>
        </div>-->
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 5</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) Version 1
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Warning callout for claims submitted over 6 months after placement dates (Placement details)</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v5/sign-in">Learning Support Fund Portal</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="https://miro.com/app/board/uXjVPDrGVvc=/?moveToWidget=3458764552771314391&cot=14">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v5)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 4</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Include mileage in University and Placement details</li>
          <li>Green return to student button when return to student status</li>
          <li>Updated Evidence based on data collected in student journey</li>
          <li>Filter added to course intake results and reset filters link when filters applied</li>
          <li>Claims submitted from HEI to BSA will appear in course feedback / history even if no comment and component changed to expander which opens on default if returned from NHSBSA</li>
          <li>Content added clarifying where university and placement journeys are to and from</li>
          <li>Content added clarifying ordering of claims list</li>
          <li>Total cost of claim breakdown details</li>
          <li>Removed evidence to appear in details under expanders</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v4/sign-in">Learning Support Fund Portal</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="#">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v4)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 3</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital process for HEIs to approve or reject TDAE claims from students, including returning a claim to student and university returning a claim.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Statuses claims list and task list <a href="https://miro.com/app/board/uXjVPDrGVvc=/?moveToWidget=3458764544424734361&cot=14">(Miro link)</a></li>
          <li>Return to student - decline claim</li>
          <li>Additional cost comments added</li>
          <li>Content changes</li>
          <li>Claims list pagination and filter</li>
          <li>Change request - additional funding journey multiple pages</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Three scenarios of happy path, return to student based on fault picked up by HEi and return to student based on feedback returned from NHSBSA <a href="https://miro.com/app/board/uXjVPDrGVvc=/?moveToWidget=3458764545068384672&cot=14">(Miro link)</a></li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v3/sign-in">Learning Support Fund Portal</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="#">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v3)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 2</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital  process for HEIs to approve or reject TDAE claims from students.</span>
        </h2>
        <!-- <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Personas
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">

            </ul>
          </div>
        </details> -->
        <!-- <h3 class="nhsuk-heading-m">Hypothesis A</h3>
        <p style="background: #DEE0E2; padding: 20px;"></p> -->
        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v2/sign-in">Learning Support Fund Portal</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="user-journey">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v2)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 1</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Updating the toolkit
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Taking a replica of the LSF Portal and transferring to the
            new toolkit.</span>
        </h2>
        <!-- <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Personas
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">

                </ul>
              </div>
            </details> -->
        <!-- <h3 class="nhsuk-heading-m">Hypothesis A</h3>
            <p style="background: #DEE0E2; padding: 20px;"></p> -->
        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>A replica of the current LSF Portal using the old NHSBSA toolkit, and transferring this over to the new
            NHS toolkit.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>A design crit will be completed for all LSF Portal screens and version 2 of the system will be created to
            be more inline with the new toolkit, as there are some outdated elements on various screens.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v1/sign-in">Learning Support Fund Portal</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="user-journey">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v1)</span>
          </a>
        </div>
      </div>
    </details>

  </div>
</div>
{% endblock %}
