{% extends 'layout.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/docs",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Version 1</span>User Journey</h1>

        <div class="nhsuk-form-group">
            <iframe width="768" height="432" src="https://miro.com/app/live-embed/uXjVPIGA_Bs=/?moveToViewport=-9284,-3127,19855,9377&embedId=878932761512" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
        <a class="nhsuk-button" href="./v1/sign-in">Learning Support Fund Portal</a>

    </div>

  </div>
{% endblock %}
