{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}

    
    <h1 class="nhsuk-heading-l">University travel details</h1>

    
    <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            Term time address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Stephenson House, NE2 1AW
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>Stephenson House</b><br>
                Stoddart Street<br>
                Shieldfield<br>
                Newcastle upon Tyne <br>
                NE2 1AW
              </div>
            </details>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" style="width: 40%;">
            University address
          </dt>
          <dd class="nhsuk-summary-list__value">
            The Medical School, NE2 4HH
            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  View full address
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <b>The Medical School</b><br>
                Newcastle University<br>
                Framlington Place<br>
                Newcastle upon Tyne<br>
                NE2 4HH
              </div>
            </details>
            <!--<br><br>
            <p><a class="nhsuk-link--no-visited-state" href="https://www.google.com/maps/dir/NE11+0JY/NE22" target=”_blank”>Google Maps directions</a></p>-->
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Transport method
          </dt>
          <dd class="nhsuk-summary-list__value">
            Walk
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Total daily travel costs
          </dt>
          <dd class="nhsuk-summary-list__value">
            £0
          </dd>
        </div>
      </dl>


      <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-student-claim">Return to claim details</a>


  </div>

</div>
{% endblock %}
