{% extends 'layout.html' %}

{% block pageTitle %}
  Course intake
{% endblock %}

{% block pageScripts %}
<script src="/js/main.js"></script>
<script>
  function change() // no ';' here
{
  var btn = document.getElementById("toggle-filter");
  if(btn.innerText=="Show filter"){
     btn.innerText="Hide filter";
    }
  else{
    btn.innerText="Show filter";
    }
}
</script>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        {{ backLink({
            "href": "COSA-term-1-overview",
            "text": "Go back to term 1 overview"
        }) }}
        <h1 class="nhsuk-heading-l">
          <span class="nhsuk-caption-l nhsuk-caption--bottom">NHS Learning Support Fund</span>
          Student who marked themselves as no longer in attendance for term {% if data['term'] %}{{ data['term'] }}{% else %}1{% endif %}
        </h1>

        <p class="nhsuk-body-s">
          <b>Course name:</b> Diagnostic Radiography<br>
          <b>Academic year:</b> September 2023<br>
          <b>Study year:</b> Year 1
        </p>

    </div>

    <div class="nhsuk-grid-column-full">

      <p>These students have declared themselves as no longer attending the course. You can confirm the status of the individual students.</p>

      <p><a href="#">Download details of students who are no longer in attendance (CSV, 432KB)</a></p>

      <div class="nhsuk-table-responsive">
                  <table class="nhsuk-table">
                    <thead class="nhsuk-table__head">
                      <tr class="nhsuk-table__row">
                        <th class="nhsuk-table__header" scope="col">Name</th>
                        <th class="nhsuk-table__header" scope="col">Date of birth</th>
                        <th class="nhsuk-table__header" scope="col">Attendance type</th>
                        <th class="nhsuk-table__header" scope="col">Start date</th>
                        <th class="nhsuk-table__header" scope="col">Actions</th>
                      </tr>
                    </thead>

                    <tbody class="nhsuk-table__body">

                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell "><a href="student-details-amara">Emmit Mar</a></td>
                        <td class="nhsuk-table__cell ">15 June 2003</td>
                        <td class="nhsuk-table__cell ">Full time</td>
                        <td class="nhsuk-table__cell ">28 September 2022</td>
                        <td class="nhsuk-table__cell "><a href="COSA-student-status-change?location=declined">Confirm status</a></td>
                      </tr>

                      <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell "><a href="student-details-amara">Emmit Mar</a></td>
                        <td class="nhsuk-table__cell ">15 June 2003</td>
                        <td class="nhsuk-table__cell ">Full time</td>
                        <td class="nhsuk-table__cell ">28 September 2022</td>
                        <td class="nhsuk-table__cell "><a href="COSA-student-status-change?location=declined">Confirm status</a></td>
                      </tr>

                    </tbody>
                  </table>
                </div>




    </div>

  </div>

{% endblock %}
