{% extends 'layout.html' %}

{% block pageTitle %}
Claim outcome
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <form action="v5/COSA-student-emailed" method="POST">
        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                      Emit Mar maternity leave status confirmed
                </h1>
            </div>
        </div>

        <h2 class="nhsuk-heading-m">What happens next</h2>

          <p>Emit Mar has been been emailed confirmation of their LSF maternity leave status and will continue to receive Learning Support Fund payments.</p>

        <button class="nhsuk-button" type="submit">Continue</button>
      </form>
    </div>

</div>
{% endblock %}
