{% extends 'layout.html' %}

{% block pageTitle %}
Claim outcome
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {% if data['name'] == 'Amara Ansari' %}
      <form action="TDAE-claims-list?Ansari=submitted" method="POST">
      {% else %}
      <form action="TDAE-claims-list" method="POST">
      {% endif %}
        <form action="TDAE-claims-list?Blogs-status=submitted" method="POST">

            <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
                <div class="nhsuk-card__content">
                    <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                        Claim submitted for
                        {% if data['name'] %}
                        {{ data['name'] }}
                        {% else %}
                        Amara Ansari
                        {% endif %}
                    </h1>
                </div>
            </div>

            <p>This has been sent to the NHS Business Services Authority and the student has been updated with the outcome.</p>

            <button class="nhsuk-button" type="submit">Return to claims list</button>
        </form>

    </div>

</div>
{% endblock %}
