{% extends 'layout.html' %}

{% block pageTitle %}
  Register for an NHS Learning Support Fund account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Register for an NHS Learning Support Fund account</h1>

        <p>Easily manage your information by signing up for an NHS Learning Support Fund account</p>

        <p>By registering an account, you can easily:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>apply for NHS Learning Support Fund</li>
            <li>update your personal details</li>
            <li>check the status of your claims</li>
            <li>view details of your scheduled payments including when your next payment will be made</li>
        </ul>
        <p>In order to register for an account you will need:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>an active email account</li>
            <li>your postal address and contact information</li>
        </ul>
        <p>Do not create an account if you are a final year student who may need to extend their course. Please visit our <a href="#">website</a> for further information.</p>

        <p><strong>Registering takes around 5 minutes.</strong></p>

        <a class="nhsuk-button" href="contact-details">Start now</a>

        <p>Already registered? <a href="sign-in">Sign in to your NHS Learning Support Fund account</a></p>

        <h2 class="nhsuk-heading-m">Other ways to manage your account</h2>
        <p>You are in control of the personal information linked to your account. It is your responsibility to regularly check this as inaccurate information could result in delays to your payments.</p>
        <p>if you have any general queries about your account or the NHS LSF, you can contact us using the details below:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Telephone: 0300 330 0521</li>
            <li>Text relay service: 0800 7311 888</li>
            <li>Twitter: <a href="#">NHSBSA_LSF</a></li>
            <li>Facebook: <a href="#">LearningSupportFund</a></li>
        </ul>
        <p>We are open Monday to Friday 8am to 6pm and Saturday 9am to 3pm.</p>

    </div>

  </div>
{% endblock %}
