{% extends 'layout.html' %}

{% block pageTitle %}
Student declaration
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="v4/TDAE-student-declaration" method="POST">

        <h1 class="nhsuk-heading-xl">Student declaration</h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Declaration
              </span>
            </h3>
            <p>Review all information you have provided before completing this declaration. Read this declaration carefully before accepting it. If you choose not to accept it, your funding application will not be processed.</p>
        <p>I declare that:</p>
        <ol class="nhsuk-list nhsuk-list--number nhsuk-u-margin-bottom-7">
            <li>I am undertaking a pre-registration healthcare programme at a university in England that is eligible for Travel and Dual Accommodation Expenses.</li>
            <li>I have read and understood the relevant booklet/s and/or any other other information regarding the conditions for claiming Travel and Dual Accommodation Expenses.</li>
            <li>By signing this declaration I am also aware of the main NHS Learning Support Fund terms and conditions, including the Privacy Notice and Consent to share information clauses, as set out in the declaration I signed when I registered for my NHS LSF account.</li>
            <li>I confirm that I have enrolled and commenced on my programme of study and am still in active training.</li>
            <li>I confirm that the expenses claimed were essentially incurred as a result of my attending practice placements and that my normal daily travel to university costs have been deducted.</li>
            <li>I confirm that I have used the cheapest available transport, where available, to access the practice placement/s.</li>
            <li>I confirm that, if I have claimed for a private motor vehicle, I have appropriate insurance in place.</li>
            <li>I understand that the administration of Travel and Dual Accommodation Expenses and responsibility for counter fraud and security management in the NHS are both responsibilities of the NHS Business Services Authority. I understand that NHSBSA Student Services may share the information on this form with NHS Counter Fraud Authority for the purposes of the prevention, detection, investigation and prosecution of fraud or any other unlawful activity affecting the NHS.</li>
            <li>I understand and accept that if I fail to give sufficient notice of any change to my bank or building society account details, or provide incorrect details, NHSBSA Student Services cannot take responsibility for payments made to an incorrect account, delayed payments or non-payment of the funding.</li>
            <li>I understand and accept that the terms and conditions (including rates) of Travel and Dual Accommodation Expenses may change at any time without notice, and the scheme is subject to continued government funding, which may cease at any time without notice.</li>
            <li>I declare that the information given on this form and in any supporting documents provided is complete and accurate. I understand and accept that if I provide NHSBSA Student Services with false or misleading information, financial support may be refused or withdrawn and I may be liable to prosecution and/or civil proceedings.</li>
        </ol>
          </div>

        

        <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-7">
            <input class="nhsuk-checkboxes__input" id="student-declaration" name="student-declaration" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="student-declaration">
              Accept declaration
            </label>
        </div>

        <button class="nhsuk-button" type="submit">Submit claim</button><br>
        <a href="TDAE-start-claim">Cancel</a>

        </form>

    </div>

</div>
{% endblock %}