{% extends 'layout.html' %}

{% block pageTitle %}
Claim Travel and Dual Accommodation Expenses
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <!-- <form action="" method="POST"> -->

            <h1 class="nhsuk-heading-xl">Claim Travel and Dual Accommodation Expenses</h1>

            <p>You are now able to claim travel expenses online if your mode of transport is by car and the same costs are incurred each day you travel to your placement. You will also be able to claim back any accommodation costs you have incurred.</p>

            <h2 class="nhsuk-heading-l">Alternative travel</h2>
            <p>If you need to claim for different costs incurred over multiple days or your travel is not by car you will need to complete the <a href="#">Travel and Dual Accommodation Expenses form</a>.</p>
            <p>When completed send your TDAE Application form and any associated receipts to your university.</p>
            <p>Your university will review your TDAE Application and inform the NHS Business Services Authority of authorised claims which you will be able to view under your <a href="academic-year-details">academic year details</a>.</p>
            <p>Once received, your application will be processed within 20 working days.</p>

            <h2 class="nhsuk-heading-l">Claiming online</h2>
            <p>When claiming online you will need to provide details of your normal place of study, placement address and information about your travel and accommodation. You wil also be required to upload evidence to support your claim.</p>
            <p>What evidence to provide for a travel:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>car parking - receipts, permits or invoices</li>
                <li>tunnel and toll charges - receipts</li>
                <li>Congestion and clean air charges - receipts, permits or invoices</li>
            </ul>
            <p>What evidence to provide for accommodation:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Invoice</li>
                <li>Receipt</li>
            </ul>

            <a class="nhsuk-button nhsuk-u-margin-top-3" href="TDAE-incur-costs">Start now</a>

        <!-- </form> -->

    </div>

</div>
{% endblock %}
