{% extends 'layout.html' %}

{% block pageTitle %}
Student and University details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Hire car booking 2 details</h1>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Hire car cost
        </dt>
        <dd class="nhsuk-summary-list__value">
          £175
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Booking start and end date
        </dt>
        <dd class="nhsuk-summary-list__value">
          1 December 2023 to <br>
          3 December 2023
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Authorised by
        </dt>
        <dd class="nhsuk-summary-list__value">
          John Doe
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Reason for booking
        </dt>
        <dd class="nhsuk-summary-list__value">
          My own car had an issue
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Evidence
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="/images/hire-car-booking-confirmation-2.jpg" target="_blank" rel="noopener">hire-car-booking-confirmation-2.jpg<span class="nhsuk-u-visually-hidden"> evidence</span></a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Student comments
        </dt>
        <dd class="nhsuk-summary-list__value">
          My car took longer at the garage to get repaired then they originally said it would. So I needed another hire car.
        </dd>
      </div>

    </dl>

      {% if (data['read-only'] != 'true') and (data['scenario'] != 'previous') %}
      <a class="nhsuk-button" href="TDAE-checked-hire-vehicle-2">Continue</a>
      {% endif %}

  </div>

</div>
{% endblock %}
