{% extends 'layout.html' %}

{% block pageTitle %}
Which elements were you aware of?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}


        <form action="v1/DHSC-elements" method="POST">

                <div class="nhsuk-form-group">
              
                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Department of Health and SocialCare questionnaire</span>Which elements were you aware of?</h1>
                    </legend>
              
                    <div class="nhsuk-hint" id="example-hint">
                      Select all that apply
                    </div>
              
                    <div class="nhsuk-checkboxes">
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="whole-package" name="elements-aware" type="checkbox" value="whole package">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="whole-package">
                          Whole Package
                        </label>
                      </div>
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="training-grant" name="elements-aware" type="checkbox" value="training grant">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="training-grant">
                          Training Grant £5,000
                        </label>
                      </div>
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="specialist-subject" name="elements-aware" type="checkbox" value="specialist subject">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="specialist-subject">
                          Specialist subject payment £1,000
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="parental-support" name="elements-aware" type="checkbox" value="parental support">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="parental-support">
                          Parental Support £2,000
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="none-of-above" name="elements-aware" type="checkbox" value="none of the above">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="none-of-above">
                          None of the above
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="prefer-not-say" name="elements-aware" type="checkbox" value="prefer not to say">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="prefer-not-say">
                          Prefer not to say
                        </label>
                      </div>

                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="other" name="elements-aware" type="checkbox" value="other">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="other">
                          Other
                        </label>
                      </div>
              
                    </div>
                  </fieldset>
              
                </div>

                <button class="nhsuk-button" type="submit">Next</button><br>
                <a href="academic-year-details">Cancel</a>
            
        </form>

    </div>

</div>
{% endblock %}