{% extends 'layout-public.html' %}

{% block pageTitle %}
Not eligible
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		<div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
			<div class="nhsuk-card__content">
			  <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
				Cannot claim Travel and Dual Accommodation Expenses
			  </h1>
			</div>
		</div>

		<p>You cannot make a claim if you do not receive the Learning Support Fund Training Grant.</p>

		<p>If you've applied for the Training Grant, you need to wait until it's approved before submitting a claim.</p>

		<p>If you have not applied for the Training Grant, you can do this in your Academic year details.</p>

		<p><a href="../academic-year-details">Return to Academic year details</a></p>

	</div>

</div>
{% endblock %}
