<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Learning Support Fund
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Learning Support Fund</span>Web
    </h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
    <p class="nhsuk-body-l">An online system accessed by NHSBSA Processor staff.
    </p>

    <hr>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 6</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Continuous improvements 2025
          <span class="nhsuk-caption-l nhsuk-caption--bottom"></span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TDAE timesheets available to view but no action required.</li>
          <li>TDAE period of placement travel dates skipped</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li></li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all examples of uploaded evidence are representative of the cost they're linked to. There is a parking ticket used as a generic example of evidence simply to show the functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v6/current-search-student">Search student</a>

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 5</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) - Version 3
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing the journey for BSA staff to process TDAE claims after HEIs have completed their checks. Updating BSA Admin toolkit and improving user journeys.</span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Manage users journey improved with more accessible components and seaparating questions across pages.</li>
          <li>A read-only version of a student claim including all TDAE expenses.</li>
          <li>A student claim that includes all TDAE expenses - This is Emmit Mar's claim.</li>
          <li>A student claim that includes both Taxi and Overseas costs (including Insurance and Visa Fees) - This is Alyssa Geary's claim.</li>
          <li>A student claim that includes Accommodation and Accommodation Travel expenses - This is Daniel Jackson's claim.</li>
          <li>The ability for CCS Agents to add a feedback note to the student's claim, as well as a general note to the student's record.</li>
          <li>The screens which include the claim dates and claim value - These appear on the student's course details under the TDAE tab, as well as on the Task List within individual claims.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>The read-only version of a student claim.</li>
          <li>The student claim that includes both Taxi and Overseas costs (including Insurance and Visa Fees) - This is Alyssa Geary's claim.</li>
          <li>A student claim that includes Accommodation and Accommodation Travel expenses - This is Daniel Jackson's claim.</li>
          <li>The ability for CCS Agents to add a feedback note to the student's claim, as well as a general note to the student's record.</li>
          <li>The screens which include the claim dates and claim value - These appear on the student's course details under the TDAE tab, as well as on the Task List within individual claims.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>NHSBSA Processors and CCS Agents like that they're able to view a read-only version of a claim as will help answer student's queries e.g., if they've spotted a duplicate claim/ticket warning and want to double check this.</li>
          <li>NHSBSA Processors appreciate the types of information we collect from the students r.e., their taxi journey/costs. By providing details around who it was authorised by, and the reason why a taxi was needed is very helpful information and will help NHSBSA to process taxi claims more easily with the context/detail provided.</li>
          <li>CCS Agents find it easier to identify the right claim by checking both the claim date and claim value with the student.</li>
          <li>CCS Agents and NHSBSA Processors like how easy it is to add a feedback/general note to the student's claim or record. They like the transparency this will create.</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Not all examples of uploaded evidence are representative of the cost they're linked to. There is a parking ticket used as a generic example of evidence simply to show the functionality.</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v5/current-search-student">Search student</a>
        <a class="nhsuk-button nhsuk-button--secondary" href="v5/wfm-example">Work Manager</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="#">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View BSA Admin user journeys</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 4</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) - Version 2
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing the journey for BSA staff to process TDAE claims after HEIs have completed their checks. </span>
        </h2>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v4/current-search-student">Search student</a>
        <a class="nhsuk-button nhsuk-button--secondary" href="v4/wfm-example">Work Manager</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="https://miro.com/app/board/uXjVPDrGVvc=/?moveToWidget=3458764565770429521&cot=14">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v4)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 3</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE) - Version 1
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing the journey for BSA staff to process TDAE claims after HEIs have completed their checks. </span>
        </h2>

        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Added accommodation details</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v3/wfm-example">Work Manager</a>
        <a class="nhsuk-button nhsuk-button--secondary" href="v3/current-search-student">Search student</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="https://miro.com/app/board/uXjVPDrGVvc=/?moveToWidget=3458764552773240542&cot=14">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v3)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 2</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing the journey for BSA staff to process TDAE claims after HEIs have completed their checks. </span>
        </h2>
        <!-- <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Personas
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">

            </ul>
          </div>
        </details> -->
        <!-- <h3 class="nhsuk-heading-m">Hypothesis A</h3>
        <p style="background: #DEE0E2; padding: 20px;"></p> -->
        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v2/wfm-example">Work Manager</a>
        <a class="nhsuk-button nhsuk-button--secondary" href="v2/current-search-student">Search student</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="#">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v2)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Iteration 1</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Updating the toolkit
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Taking a replica of LSF Web and transferring to the new
            toolkit.</span>
        </h2>
        <!-- <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Personas
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">

                </ul>
              </div>
            </details> -->
        <!-- <h3 class="nhsuk-heading-m">Hypothesis A</h3>
            <p style="background: #DEE0E2; padding: 20px;"></p> -->
        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="#">Learning Support Fund Web</a>


        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="#">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v1)</span>
          </a>
        </div>
      </div>
    </details>

  </div>
</div>
{% endblock %}
