<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Add comments for NHSBSA about this claim
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Admin menu</a></li>
          <li class="nhsuk-breadcrumb__item">Student search</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!-- End breadcrumbs -->

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
        
            <!-- <form action="v2/TDAE-" method="POST"> -->
        
                <h1 class="nhsuk-heading-l">Check reasons for returning to student</h1>
        
                <dl class="nhsuk-summary-list">
        
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        What is the reason to send the claim back to the student?
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {{ data['return-student'] }}
                      </dd>
        
                      <dd class="nhsuk-summary-list__actions">
        
                        <a href="#">
                          Change<span class="nhsuk-u-visually-hidden"> reason</span>
                        </a>
        
                      </dd>
        
                    </div>
        
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Feedback to the student for
                        {% if data['return-student'] == 'Decline claim' %}
                        declining
                        {% else %}
                        returning
                        {% endif %}
                        the claim
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        {{ data['return-more-detail'] }}
                      </dd>
        
                      <dd class="nhsuk-summary-list__actions">
        
                        <a href="#">
                          Change<span class="nhsuk-u-visually-hidden"> details</span>
                        </a>
        
                      </dd>
        
                    </div>
        
                  </dl>
        
                <a class="nhsuk-button" href="TDAE-sent-to-student">Submit to student</a>
              
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div id="options" class="options">
            <li><a href="admin-interface">Student search</a></li>
            <li><a class="active" href="TDAE-claims-list">Travel expense claims</a></li>
            <li><a href="#">Manage users</a></li>
            <li><a href="#">Manage universities</a></li>
            <li><a href="#">Manage courses</a></li>
            <li><a href="#">Manage rates</a></li>
            <li><a href="#">Manage term payment percentages</a></li>
            <li><a href="#">Manage knowledge base</a></li>
            <li><a href="#">Manage enrolement year</a></li>
            <li><a href="#">Manage attendance status</a></li>
            <li><a href="#">Manage note types</a></li>
            <li><a href="#">Manage forms</a></li>
            <li><a href="#">Manage payment runs</a></li>
            <li><a href="#">Invalid bank details</a></li>
            <li><a href="#">Reporting menu</a></li>
            <li><a href="#">Accessibility</a></li>
          </div>
        </ul>
      </div>
    </div>

    </div>
  </div>

</div>

{% endblock %}