{% extends 'layout-custom-header.html' %}

{% block pageTitle %}
Have all Higher Education Institute details been provided?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds"> 
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

      <form action="v2/TDAE-authoriser-approved" method="POST">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-heading-l">Have all Higher Education Institute details been provided?</h1>
            </legend>
            <div class="nhsuk-radios" data-module="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="hei-details-yes" name="hei-details" type="radio"
                  value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="hei-details-yes">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="hei-details-no" name="hei-details" type="radio"
                  value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="hei-details-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="nhsuk-button" type="submit">
          Save and continue
        </button>
      </form>

    </div>

  </div>
{% endblock %}
