{% extends 'layout-public.html' %}

{% block pageTitle %}
  What is your address?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-l">What is your address?</h1>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="building-name-number">
              Building name or number
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="building-name-number" name="building-name-number" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-line-1">
              Address line 1
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="address-line-1" name="address-line-1" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-line-2">
              Address line 2 (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="address-line-2" name="address-line-2" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-line-3">
              Address line 3 (optional)
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="address-line-3" name="address-line-3" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="town-city">
              Town or city
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="town-city" name="town-city" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="postcode">
              Postcode
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="postcode" name="postcode" type="text">
        </div>

        <a class="nhsuk-button" href="username-password">Continue</a><br>
        <p><a href="start-screen">Cancel</a></p>

    </div>

  </div>
{% endblock %}
