{% extends 'layout-public.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    <form action="v9/APPLY-upload-sl-award-letter" method="POST">

      <h1 class="nhsuk-heading-l">Upload your evidence</h1>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Rules for evidence files
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Evidence must be:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>readable, not blurry</li>
              <li>the original, full document</li>
              <li>in colour</li>
              <li>the right way up - not upside down or sideways</li>
              <li>not altered by computer software</li>
              <li>not password protected</li>
              <li>JPG, JPEG, PNG or PDF format</li>
              <li>no more than 8MB</li>
            </ul>
          </div>
        </details>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              I'm using an iPhone or iPad
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Any photos you take of your evidence may be in HEIC format. This is also known as HEIF. We cannot accept photos in this format.</p>

            <p>To check if you need to change your Camera settings to make JPEG your default image format, visit <a href="https://support.apple.com/en-gb/HT207022#:~:text=Capturing%20this%20media" rel="noopener" target="_blank">Apple Support's advice (opens in a new tab)</a> on this.</p>
          </div>
        </details>

        <div id="filenameGroup" class="nhsuk-form-group">

          <label for="file" class="nhsuk-label">Choose a file</label>

          <div class="nhsuk-form-group-error" id="fileSizeErrorGroup" hidden="true">
            <span class="nhsuk-u-visually-hidden">Error: </span>
            <span id="fileSizeErrorMessage" class="nhsuk-error-message"></span>
          </div>
          <input id="file"
            class="nhsuk-input  nhsuk-u-width-three-quarters" type="file"
            name="file" aria-describedby="doc-upload-hint" />
        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit" name="action" id="action" data-module="nhsuk-button" data-prevent-double-click="true" data-submit="true">Upload file</button>
          <br>
          <p><a href="APPLY-submit-your-evidence">Cancel</a></p>
        </div>

      </form>

    </div>

  </div>
{% endblock %}
