{% extends 'layout-public.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

      <form action="v9/APPLY-student-reference-number" method="POST">
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-heading-l">What is your student finance reference number?</h1>
            </legend>

            <p>This may be called a Customer Reference Number or a SAAS Reference Number on letters or emails from your student finance body.</p>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  I cannot find or do not know my reference number
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>You can recover your reference number from your relevant student finance body.</p>
                <!--<p>You can recover your reference number online if you get student finance from:</p>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li><a href="https://logon.slc.co.uk/reset/details/pages/ForgotCRN.xhtml?_locale=en_UK&cookieConsent=reject" target="_blank">Student Finance England (opens in a new tab)</a></li>
                    <li><a href="https://logon.slc.co.uk/reset/details/pages/ForgotCRN.xhtml?_locale=en_CY&cookieConsent=reject" target="_blank">Student Finance Wales (opens in a new tab)</a></li>
                    <li><a href="https://logon.slc.co.uk/reset/details/pages/ForgotCRN.xhtml?_locale=en_NI&cookieConsent=reject" target="_blank">Student Finance Northern Ireland (opens in a new tab)</a></li>
                  </ul>
                <p>If your student finance is from Student Awards Agency Scotland you will need to <a href="https://www.saas.gov.uk/contact-us" target="_blank">contact them (opens in a new tab)</a>.</p>-->
              </div>
            </details>

            <div class="nhsuk-form-group">
							<input class="nhsuk-input nhsuk-u-width-two-thirds" name="sfReferenceNo" id="sfNumber" type="text" maxlength="15" value="">
						</div>
          </fieldset>

        </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <p><a href="academic-year-details">Cancel</a></p>

      </form>

    </div>

  </div>
{% endblock %}
