{% extends 'layout-public.html' %}

{% block pageTitle %}
Choose a username and password
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
  			<div class="nhsuk-card__content">
  			  <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            The link has expired or is not valid
          </h1>
        </div>
      </div>

      <a class="nhsuk-button" href="sign-in">Go to your NHS Learning Support Fund account</a>

    </div>

</div>
{% endblock %}
