{% extends 'layout-public.html' %}

{% block pageTitle %}
Which grant component are you applying for?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}


        <form action="v9/DHSC-which-grant-applying-for" method="POST">

                <div class="nhsuk-form-group">
              
                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Department of Health and SocialCare questionnaire</span>Which grant component are you applying for?</h1>
                    </legend>
              
                    <div class="nhsuk-hint" id="example-hint">
                      Select all that apply
                    </div>
              
                    <div class="nhsuk-checkboxes">
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="training-grant" name="grant" type="checkbox" value="training grant">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="training-grant">
                          Training Grant £5,000
                        </label>
                      </div>
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="specialist-subject-payment" name="grant" type="checkbox" value="specialist subject payment">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="specialist-subject-payment">
                          Specialist subject payment £1,000
                        </label>
                      </div>
              
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="parental-support" name="grant" type="checkbox" value="parental support">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="parental-support">
                          Parental Support £2,000
                        </label>
                      </div>
              
                    </div>
                  </fieldset>
              
                </div>

                <button class="nhsuk-button" type="submit">Submit now</button><br>
                <a href="academic-year-details">Cancel</a>
            
        </form>

    </div>

</div>
{% endblock %}