{% extends 'layout-public.html' %}

{% block pageTitle %}
  What is your email address?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Reset your password</span>What is your email address?</h1>

        <p>If your email address is linked to a NHS Learning Support account we'll send you a password reset email.</p>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="recover-username">
              Email address
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="recover-username" name="recover-username" type="text">
        </div>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              I cannot access my emails
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>If you cannot access your emails, contact us on:</p>
            <ul class="nhsuk-list">
              <li>Telephone: 0300 330 0521</li>
              <li>Text relay service: 0800 7311 888</li>
            </ul>
            <p>We're open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>

          </div>
        </details>

        <a class="nhsuk-button" href="recovery-sent-password">Send email</a><br>
        <p><a href="sign-in">Cancel</a></p>

    </div>

  </div>
{% endblock %}
