{% extends 'layout-public.html' %}

{% block pageTitle %}
  What are your contact details?
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Reset your password</span>Create a new password</h1>

			<div class="nhsuk-form-group">
				<label for="newPassword" class="nhsuk-label" id="newPassword-label">New password</label>
				<div class="nhsuk-hint" id="question-hint">Enter a password between 8 and 35 characters</div>
				<input class="nhsuk-input nhsuk-input--width-20"
					id="newPassword" type="password" autocomplete="off"
					aria-required="true" aria-describedby="question-hint" name="newPassword" value="" />
			</div>

			<div class="nhsuk-form-group">
				<label for="passwordConfirm" class="nhsuk-label" id="passwordConfirm-label">Confirm new password</label>
				<input class="nhsuk-input nhsuk-input--width-20"
					id="passwordConfirm" type="password" autocomplete="off"
					aria-required="true" name="passwordConfirm" value="" />
			</div>

      <a class="nhsuk-button" href="recovery-sent-password-changed">Save and continue</a><br>
      <p><a href="sign-in">Cancel</a></p>

    </div>

  </div>
{% endblock %}
