{% extends 'layout-public.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Check your answers</h1>

        {% if data['change'] == 'yes' %}
          <div class="nhsuk-warning-callout">
  				  <h2 class="nhsuk-warning-callout__label">
  				    <span role="text">
  				      <span class="nhsuk-u-visually-hidden">Important: </span>
  				      University feedback
  				    </span>
  				  </h2>
  				  <p class="nhsbsa-overflow-wrap">Your Alnwick placement address postcode is incorrect it should be NE66 2NT.</p>
  				</div>
        {% endif %}

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              University student ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              Q5109476
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="change-student-id?TDAE=true&change=yes">
                Change<span class="nhsuk-u-visually-hidden"> university student ID</span>
              </a>
            </dd>
          </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Claim dates
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['incur-cost-start-day'] %}
                  {{ data['incur-cost-start-day'] }} <span class="cya-month">{{ data['incur-cost-start-month'] }}</span> {{ data['incur-cost-start-year'] }}
                  to<br>
                  {% if data['incur-cost-day'] %}
                    {{ data['incur-cost-day'] }} <span class="cya-month">{{ data['incur-cost-month'] }}</span> {{ data['incur-cost-year'] }}
                  {% endif %}
                {% else %}
                  2 February 2024 to<br>
                  8 February 2024
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                {% if data['task-completed'] != 'yes' %}
                  <a href="TDAE-incur-costs">
                    Change<span class="nhsuk-u-visually-hidden"> claim start date</span>
                  </a>
                {% endif %}
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Academic year
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {% if data['academic-year'] == 'yes' %}
                    September 2022 to 2023
                  {% else %}
                    September 2023 to 2024
                  {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">

              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Receive DSA
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="capitalize">{{ data['dsa-support'] }}</span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-dsa-help">
                  Change<span class="nhsuk-u-visually-hidden"> if you receive DSA</span>
                </a>
              </dd>
            </div>

            {% if data['dsa-support'] == "yes" %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Claiming DSA taxi costs
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="capitalize">{{ data['dsa-travel'] }}</span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-dsa-travel">
                  Change<span class="nhsuk-u-visually-hidden"> if you want to claim DSA taxi costs</span>
                </a>
              </dd>
            </div>
            {% endif %}

            {% if data['dsa-travel'] != "yes" %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Paid costs for
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="capitalize">{{ data['claiming-for'] }}</span>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-travel-accommodation?change=yes">
                  Change<span class="nhsuk-u-visually-hidden"> paid costs for</span>
                </a>
              </dd>
            </div>
            {% endif %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                {% if data['address-number'] != '1' %}
                  Placement addresses
                {% else %}
                  Placement address
                {% endif %}
              </dt>
              <dd class="nhsuk-summary-list__value">
                  {% if data['address-number'] != '1' %}
                    <ul class="nhsuk-list">
                      <li>Alnwick Hospital, NE66 2NS</li>
                      <li>Newcastle Royal Victoria Infirmary, NE1 2AB</li>
                    </ul>
                  {% elseif data['international'] == 'true' %}
                      {% if data['international-placement-building-name'] %}
                          {{ data['international-placement-building-name'] }}<br>
                          {{ data['international-placement-address-line-1'] }}<br>
                          {% if data['international-placement-address-line-2'] %}
                              {{ data['international-placement-address-line-2'] }}<br>
                          {% endif %}
                          {% if data['international-placement-address-line-3'] %}
                              {{ data['international-placement-address-line-3'] }}<br>
                          {% endif %}
                          {{ data['international-placement-address-town'] }}<br>
                          {% if data['international-placement-address-region'] %}
                              {{ data['international-placement-address-region'] }}<br>
                          {% endif %}
                          {% if data['international-placement-address-postcode'] %}
                              {{ data['international-placement-address-postcode'] }}<br>
                          {% endif %}
                          {{ data['international-placement-address-country'] }}
                      {% else %}
                          <!-- Default international address -->
                          Mnazi Mmoja Hospital<br>
                          Kaunda Road<br>
                          Zanzibar<br>
                          R5JR R2G<br>
                          Tanzania
                      {% endif %}
                  {% else %}
                      {% if data['placement-building-name'] %}
                          {{ data['placement-building-name'] }}<br>
                          {{ data['placement-address-line-1'] }}<br>
                          {% if data['placement-address-line-2'] %}
                              {{ data['placement-address-line-2'] }}<br>
                          {% endif %}
                          {% if data['placement-address-line-3'] %}
                              {{ data['placement-address-line-3'] }}<br>
                          {% endif %}
                          {{ data['placement-address-town'] }}<br>
                          {{ data['placement-address-postcode'] }}<br>
                      {% else %}
                          <!-- Default UK address -->
                          Alnwick Hospital<br>
                          Infirmary Drive<br>
                          Alnwick<br>
                          NE66 2NS
                      {% endif %}
                  {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="TDAE-placement-address-cya?change=yes&address-number=2&placement-2-building-name=Newcastle Royal Victoria Infirmary&placement-2-address-postcode=NE1 2AB">
                    Change<span class="nhsuk-u-visually-hidden"> placement address</span>
                </a>
              </dd>
            </div>

            <!-- If user only selects Overseas from 'Which costs did you pay for screen' do not display term-time address details -->
            {% if 'car' in data['claiming-for'] or 'Public transport' in data['claiming-for'] or 'Cycle' in data['claiming-for'] or 'community' in data['claiming-for'] or 'accommodation' in data['claiming-for'] or 'travel to accommodation' in data['claiming-for'] or 'taxi' in data['claiming-for'] or 'hire-car' in data['claiming-for'] or data['dsa-travel'] == "yes" %}
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Term time address
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {% if data['term-building-name'] %}
                        {{ data['term-building-name'] }}<br>
                        {{ data['term-address-line-1'] }}<br>
                        {% if data['term-address-line-2'] %}
                            {{ data['term-address-line-2'] }}<br>
                        {% endif %}
                        {% if data['term-address-line-3'] %}
                            {{ data['term-address-line-3'] }}<br>
                        {% endif %}
                        {{ data['term-address-town'] }}<br>
                        {{ data['term-address-postcode'] }}<br>
                    {% else %}
                        <p>Stephenson House<br>
                            Stoddart St<br>
                            Shieldfield<br>
                            Newcastle upon Tyne<br>
                            NE2 1AW</p>
                    {% endif %}
                </dd>
                {% if data['submit-claim'] != 'completed' %}
                <dd class="nhsuk-summary-list__actions">
                  {% if data['task-completed'] != 'yes' %}
                    <a href="TDAE-term-time-address?change-address=true">
                      Change<span class="nhsuk-u-visually-hidden"> term time address</span>
                    </a>
                  {% endif %}
                </dd>
                {% endif %}
            </div>
            {% endif %}


        </dl>

        <!--<div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>Check these answers carefully. You'll not be able to change some of them after continuing.</p>
        </div>-->

        <form action="v9/TDAE-eligibility-cya" method="POST">
          <button class="nhsuk-button" type="submit">Save and go to task list</button><br>
          <p><a href="#">Cancel</a></p>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        const months = {
          "01": "January",
  				"02": "February",
  				"03": "March",
  				"04": "April",
  				"05": "May",
  				"06": "June",
  				"07": "July",
  				"08": "August",
  				"09": "September",
  				"1": "January",
  				"2": "February",
  				"3": "March",
  				"4": "April",
  				"5": "May",
  				"6": "June",
  				"7": "July",
  				"8": "August",
  				"9": "September",
  				"10": "October",
  				"11": "November",
  				"12": "December",
        };

        $(".cya-month").text(function () {
          const month = $(this).text();
          console.log("month:", month);
          console.log("months[month]:", months[month]);
          return months[month];
        });
      });
      </script>


</div>
{% endblock %}
