{% extends 'layout-public.html' %}

{% block pageTitle %}
What accommodation address were you travelling to?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <form action="v9/TDAE-accommodation-previous-address" method="POST">

          <h1 class="nhsuk-heading-l">Which accommodation address were you staying at?</h1>

          <div class="nhsuk-hint nhsuk-u-margin-bottom-2">
            You can choose a previously submitted address or add a new accommodation address.
          </div>

          <br>

          <div class="nhsuk-form-group">
            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="accommodation-address-1" name="accommodation-address" type="radio" value="1">
                <label class="nhsuk-label nhsuk-radios__label" for="accommodation-address-1">
                  Premier Inn Alnwick Hotel, NE66 2PF
                  <details class="nhsuk-details" style="margin-bottom: 0;">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View full address
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      Premier Inn Alnwick Hotel<br>
                      Willowburn Industrial Estate<br>
                      South Road<br>
                      Alnwick<br>
                      NE66 2PF
                    </div>
                  </details>
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="accommodation-address-1" name="accommodation-address" type="radio" value="1">
                <label class="nhsuk-label nhsuk-radios__label" for="accommodation-address-1">
                  Premier Inn Newcastle Cramlington, NE23 7QA
                  <details class="nhsuk-details" style="margin-bottom: 0;">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View full address
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      Premier Inn Newcastle Cramlington<br>
                      Moor Farm Roundabout<br>
                      Off Front St<br>
                      Annitsford<br>
                      Cramlington<br>
                      NE23 7QA
                    </div>
                  </details>
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="accommodation-address-1" name="accommodation-address" type="radio" value="1">
                <label class="nhsuk-label nhsuk-radios__label" for="accommodation-address-1">
                  Holiday Inn Gosforth Park, NE13 6BP
                  <details class="nhsuk-details" style="margin-bottom: 0;">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        View full address
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      Holiday Inn Gosforth Park<br>
                      Great North Road<br>
                      Seaton Burn<br>
                      Newcastle upon Tyne<br>
                      NE13 6BP
                    </div>
                  </details>
                </label>
              </div>

              <p>or</p>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="accommodation-address-new" name="accommodation-address" type="radio" value="new-address">
                <label class="nhsuk-label nhsuk-radios__label" for="accommodation-address-new">
                  Add a new address
                </label>
              </div>

            </div>
          </div>


        <!-- If no previous accommodation address found, user has to enter a new address - page heading will change to -->
        <!--
        <h1 class="nhsuk-heading-l">What was the address of your accommodation?</h1>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="accommodation-building-name">
            Building name or number
          </label>
          <input class="nhsuk-input" id="accommodation-building-name" name="accommodation-building-name" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="nhsuk-input" id="address-line-1" name="address-line-1" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="nhsuk-input" id="address-line-2" name="address-line-2" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-line-3">
            Address line 3 (optional)
          </label>
          <input class="nhsuk-input" id="address-line-3" name="address-line-3" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town">
            Town or city
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-county">
            County (optional)
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
        </div>
        -->



          <button class="nhsuk-button" type="submit">Continue</button><br>
          <a href="TDAE-task-list">Cancel</a>

        </form>

      </div>

    </div>
{% endblock %}
