{% extends 'layout-public.html' %}

{% block pageTitle %}
  Which mode of transport do you take to and from your normal place of study?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

    <form action="v9/TDAE-placement-week-days" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  {% if data['address-number'] == '2' or data['address-number'] == '3' or data['address-number'] == '4' %}
                    Which days did you travel to your placements on?
                  {% else %}
                    Which days did you travel to your placement on?
                  {% endif %}


                </h1>
              </legend>

              <p>
                You need to confirm your travel dates for each 7 day period.
              </p>

              <p>If you worked a night shift, select the day your shift started.</p>

              <div class="nhsuk-hint" id="example-hint">
                Select all that apply
              </div>

              {% if data['placement-week'] == '2' %}

              <div class="nhsuk-checkboxes">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Monday 27 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Tuesday 28 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Wednesday 29 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Thursday 30 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Friday 31 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Saturday 1 February 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Sunday 2 February 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__divider">or</div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Thursday 12 October 2023" name="example" type="checkbox" value="none" data-checkbox-exclusive data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Thursday 12 October 2023">
                    I did not travel to my placement on any of these dates
                  </label>
                </div>

              </div>

              {% else %}

              <div class="nhsuk-checkboxes">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Friday 6 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Friday 6 October 2023">
                    Monday 20 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Saturday 7 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Saturday 7 October 2023">
                    Tuesday 21 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Sunday 8 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Sunday 8 October 2023">
                    Wednesday 22 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Monday 9 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Monday 9 October 2023">
                    Thursday 23 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Tuesday 10 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Tuesday 10 October 2023">
                    Friday 24 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Wednesday 11 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Wednesday 11 October 2023">
                    Saturday 25 January 2025
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="Thursday 12 October 2023" name="example" type="checkbox" value="text message" data-checkbox-exclusive-group="period-dates">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="Thursday 12 October 2023">
                    Sunday 26 January 2025
                  </label>
                </div>

              </div>
              {% endif %}
            </fieldset>

          </div>

      <a class="nhsuk-button nhsuk-button--secondary" href="TDAE-placement-week-days?placement-week=2">Save and add more dates</a><br>
      <button class="nhsuk-button" type="submit">Save and continue</button><br>
      <p><a href="TDAE-start-claim">Cancel</a></p>

    </form>

    </div>

  </div>
{% endblock %}
