{% extends 'layout-public.html' %}

{% block pageTitle %}
Additional costs for your normal daily journey
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v9/TDAE-normal-lift-contribution-amount" method="POST">

			<div class="nhsuk-form-group">
				<label class="nhsuk-label" for="input-width-5">
					<h1 class="nhsuk-heading-l">
						<h1 class="nhsuk-heading-l">How much do you contribute in total per day?</h1>
					</h1>
				</label>
				<label class="nhsuk-label" for="example">
					Cost in pounds
				</label>
				<div class="nhsuk-input__prefix" aria-hidden="true">£</div>
				<input class="nhsuk-input__prefix-input nhsuk-input nhsuk-input--width-5" id="normal-lift-cost" name="normal-lift-cost" type="text">
			</div>

			<details class="nhsuk-details">
				<summary class="nhsuk-details__summary">
					<span class="nhsuk-details__summary-text">
						What if your contribution covers more than one day?
					</span>
				</summary>
				<div class="nhsuk-details__text">
					<p>If you purchase a pass, such as a monthly parking ticket, you will need to calculate the daily cost.</p>
					<h2 class="nhsuk-heading-s">Calculating the extra daily cost</h2>
					<p>You need to work out:</p>
						<ul>
							<li>how many days you drove to university in the period your pass covers</li>
							<li>how many of those days are in the period you're claiming for</li>
						</ul>
					<p>Then divide the total cost of your pass by the number of eligible days for the correct daily cost.</p>
					<h3 class="nhsuk-heading-xs">For example</h3>
					<p>You bought a monthly parking pass for £20, but only drove to university on 10 days in the period you're claiming for. The extra daily cost is £2.</p>
				</div>
			</details>

			{% if 'overseas' in data['claiming-for'] %}
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            My costs are in a foreign currency
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>You need to enter all costs in pounds sterling.</p>

            <p>If you used a card to pay costs, your bank statement should show you the correct value.</p>

            <p>If you used cash, you need to convert your costs using the exchange rate on the day that you paid them.</p>
          </div>
      	</details>
      {% endif %}

			<button class="nhsuk-button" type="submit">Continue</button>
			<p><a href="TDAE-start-claim">Cancel</a></p>

		</form>

	</div>

</div>
{% endblock %}
