{% extends 'layout-public.html' %}

{% block pageTitle %}
  Do you receive travel support from Disabled Students’ Allowance?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v9/TDAE-dsa-travel" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Do you want to claim the public transport cost back from a taxi journey?
                </h1>
              </legend>

              <!--<p>You can claim the public transport equivalent cost for taxi journeys where the extra cost of a taxi has been reimbursed by DSA.</p>
              <p>You'll need to give evidence of being eligible for DSA taxi costs and your taxi costs.</p>
              <!--<p>You'll need to give evidence of:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>being eligible for DSA taxi costs</li>
                <li>your taxi costs</li>
              </ul>-->

              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    What is the public transport cost?
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>If you took a taxi during your placement, Disabled Students' Allowance (DSA) may have reimbursed some of the costs for that.</p>
                  <p>They calculate what they pay you using the actual cost of your journey minus what the public transport journey would have cost.</p>
                  <p>For example, your taxi journey cost £20. The bus to your destination cost £5. DSA would reimburse £15.</p>
                  <p>You can claim back the public transport journey cost that DSA did not.</p>
                </div>
              </details>

              <p>If you need to claim for any other costs, you'll need to submit a separate claim. </p>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="dsa-travel-yes" name="dsa-travel" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="dsa-travel-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="dsa-travel-no" name="dsa-travel" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="dsa-travel-no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <p><a href="TDAE-start-claim">Cancel</a></p>

    </form>

    </div>

  </div>
{% endblock %}
