{% extends 'layout-public.html' %}

{% block pageTitle %}
Do you pay costs for term time accommodation?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

	<div class="nhsuk-grid-column-two-thirds">

		{{ backLink({
		"href": "javascript:history.go(-1)",
		"text": "Go back"
		}) }}

		<form action="v9/TDAE-accommodation-term-time-costs" method="POST">



			<div class="nhsuk-form-group">

				<fieldset class="nhsuk-fieldset">
				  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
					<h1 class="nhsuk-fieldset__heading">
						Do you pay costs for term time accommodation?
					</h1>
				  </legend>

				  <div class="nhsuk-hint" id="costs-hint">
					For example, a rented house or halls of residence.
				  </div>
			  
				  <div class="nhsuk-radios">
			  
					<div class="nhsuk-radios__item">
					  <input class="nhsuk-radios__input" id="example-1" name="accommodation-costs" type="radio" value="yes">
					  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
						Yes
					  </label>
					</div>
			  
					<div class="nhsuk-radios__item">
					  <input class="nhsuk-radios__input" id="example-2" name="accommodation-costs" type="radio" value="no">
					  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
						No
					  </label>
					</div>
			  
				  </div>
				</fieldset>
			  
			  </div>

			<button class="nhsuk-button" type="submit">Continue</button><br>
			<a href="TDAE-task-list">Cancel</a>

		</form>

	</div>

</div>
{% endblock %}
