{% extends 'layout-public.html' %}

{% block pageTitle %}
  Do you receive travel support from Disabled Students Allowance?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v9/TDAE-dsa-travel" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Do you want to claim DSA taxi costs?
                </h1>
              </legend>

              <p>You can claim the public transport equivalent cost for taxi journeys where the extra cost of a taxi has been reimbursed by DSA. You'll need to give evidence of claiming DSA Taxi allowance from Student Loans Company.</p>

              <p>You cannot claim other TDAE costs in the same claim. You will need to claim them in a separate new claim.</p>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="dsa-travel-yes" name="dsa-travel" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="dsa-travel-yes">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="dsa-travel-no" name="dsa-travel" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="dsa-travel-no">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

        <button class="nhsuk-button" type="submit">Continue</button><br>
        <p><a href="TDAE-start-claim">Cancel</a></p>

    </form>

    </div>

  </div>
{% endblock %}
