{% extends 'layout-public.html' %}

{% block pageTitle %}
  Choose a username and password
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-l">Create a username and password</h1>

        <p>Your password must contain at least 3 of the following:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>an uppercase letter</li>
          <li>a lowercase letter</li>
          <li>a number</li>
          <li>one of these symbols, !#£$_@</li>
        </ul>

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="username">
              Username
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="username" name="username" type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="password">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="confirm-password">
              Confirm password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="confirm-password" name="confirm-password" type="password">
        </div>
        <a class="nhsuk-button" href="registration-cya">Continue</a><br>
        <p><a href="start-screen">Cancel</a></p>

    </div>

  </div>
{% endblock %}
