<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Learning Support Fund
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl">Learning Support Fund</h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
    <p class="nhsuk-body-l">Providing a digital service for University staff, Students and NHSBSA Processors to access the Learning Support Fund.
    </p>

    <hr>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Learning Support Fund Portal
        </h3>
        <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online portal accessed by University staff.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="lsf-portal/index">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">LSF portal</span>
          </a>
        </div>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Learning Support Fund Public 
        </h3>
        <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online portal accessed by students.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="lsf-public/index">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">LSF public</span>
          </a>
        </div>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Learning Support Fund Web
        </h3>
        <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online portal accessed by BSA processor staff.</p>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="lsf-web/index">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">LSF web</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}