<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/autocomplete/accessible-autocomplete.min.css" />
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  Learning Support Fund
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at
"primaryLinks": [
      {
        "url"  : "https://www.nhs.uk/conditions",
        "label" : "Health A-Z"
      },
      {
        'url' : 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url' : 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url'  : 'https://www.nhs.uk/conditions/social-care-and-support/',
        'label' : 'Care and support'
      },
      {
        'url'  : 'https://www.nhs.uk/pregnancy/',
        'label' : 'Pregnancy'
      },
      {
        'url' : 'https://www.nhs.uk/nhs-services/',
        'label' : 'NHS services'
      }
    ] -->
    {% block header %}

    <header class="nhsuk-header" role="banner">
      <script>
        function clearSessionData() {
          // Perform actions to clear session data here
          // For example:
          sessionStorage.clear(); // Clears all data stored in sessionStorage

          // Optionally, you can redirect to the desired page after clearing session data
          window.location.href = "current-search-student";
        }
      </script>
      <div class="nhsuk-width-container nhsuk-header__container">
        <div class="nhsbsa-sign-in__container">
          <div class="nhsuk-header__logo">
            <a class="nhsuk-header__link nhsuk-header__link--service" href="/" aria-label="NHS Learning Support Fund">
              <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
                <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
                <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
              </svg>
              <span class="nhsuk-header__service-name">Learning Support Fund</span>
            </a>
          </div>
          <div class="nhsuk-header__content" id="content-header">
            <div class="nhsuk-header__menu">
              <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
            </div>

              <div class="nhsbsa-text__white">
                <span class="nhsbsa-heading-space">
                  Signed in as <span class="nhsuk-u-margin-right-3">nhs.nhsbsa+10@gmail.com</span>
                  |
                  <a class="nhsbsa-signout__link nhsuk-u-margin-left-3 nhsuk-u-margin-right-3" id="signOut" href="sign-in"  data-toggle="dialog" data-target="dialog-signOut" aria-haspopup="true" aria-label="sign out">Sign out</a>
                </span>
              </div>

          </div>
        </div>
      </div>
      <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
        <div class="nhsuk-width-container">
          <p class="nhsuk-header__navigation-title">
            <span id="label-navigation">Menu</span>
            <button class="nhsuk-header__navigation-close" id="close-menu">
              <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </svg>
              <span id="close-menu-text" class="nhsuk-u-visually-hidden">Close menu</span>
            </button>
          </p>

          <ul class="nhsuk-header__navigation-list">
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" id="adminMenuLink" href="https://learning-support-fund.herokuapp.com/lsf-portal/v9/dashboard-top-nav?user-role=TDAE">
                Dashboard
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            {% if data['user-role'] != 'TDAE' %}
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" id="adminMenuLink" href="courses">
                Courses
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            {% endif %}
            {% if data['user-role'] != 'COSA' %}
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" href="TDAE-claims-list" id="logoutLink">
                TDAE claims
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            {% endif %}
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" id="studentSearch" href="search-for-student">
                Student search
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" href="general-query" id="logoutLink">
                General queries
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            {% if data['user-role'] == 'Admin' %}
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" href="user-search" id="changePasswordLink">
                User administration
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
            {% endif %}
            <li class="nhsuk-header__navigation-item ">
              <a class="nhsuk-header__navigation-link" href="change-password" id="changePasswordLink">
                Change password
                <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>



      <!-- <header class="nhsuk-header" role="banner">


        <script>
        function clearSessionData() {
          // Perform actions to clear session data here
          // For example:
          sessionStorage.clear(); // Clears all data stored in sessionStorage
          window.location.href = "current-search-student";
        }
      </script>

        <div class="nhsuk-width-container nhsuk-header__container">
          <div class="nhsuk-header__logo nhsuk-header__logo--only nhsbsa-custom-header">
            <a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS homepage">
              <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
              <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
              <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
              </svg>

              <span class="nhsuk-header__service-name">
              Learning Support Fund
              </span>
            </a>
          </div>
          <hr class="nhsbsa-custom-hr">
          <div class="nhsbsa-header--content">

              <div class="nhsuk-grid-column-one-quarter nhsbsa-custom-header-link">
                <a href="/lsf-web/v5/admin-view/admin-menu">Admin menu</a>
              </div>
              <div class="nhsuk-grid-column-one-quarter nhsbsa-custom-header-link">
                <a href="#" onclick="clearSessionData()">Student search</a>
              </div>
              <div class="nhsuk-grid-column-one-quarter nhsbsa-custom-header-link">
                <a href="#">Change password</a>
              </div>
              <div class="nhsuk-grid-column-one-quarter nhsbsa-custom-header-link">
                <a href="#">Log out</a>
              </div>

          </div>
        </div>


      </header> -->
    {% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
