<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Learning Support Fund
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Learning Support Fund</span>Public</h1>
    <!-- Add your content here -->
    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
    <p class="nhsuk-body-l">An online system accessed by students.</p>

    <hr>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 5</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implement accommodation into the journey.</span>
        </h2>

        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>As part of the version 1 release we are including accommodation as the only a few details we need to capture alongside evidence of accommodation.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v5/start-screen">Learning Support Fund Public</a>

        <!-- TDAE Prototype link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v5/TDAE-returning-student/academic-year-details#tab-two">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">TDAE Prototype</span>
          </a>
        </div>
        <!-- User journey link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v5/user-journey">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v5)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 4</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Changing multi-file upload to sing file upload.</span>
        </h2>

        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Originaly version was to provide the students with the option to add multiple files at once to the file upload</li>
          <li>We have now changed this to be a single file upload, with the option to still add more evidence but as a single file upload not in bulk.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v4/start-screen">Learning Support Fund Public</a>

        <!-- TDAE Prototype link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v4/TDAE-returning-student/academic-year-details#tab-two">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">TDAE Prototype</span>
          </a>
        </div>
        <!-- User journey link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v4/user-journey">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v4)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 3</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing the Task List pattern into the flow.</span>
        </h2>

        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Task lists were used as part of the HEI journey originally but after talking through this with HEIs it seemed this would also benefit the students too.</li>
          <li>Implemented the task list as part of the Student journey.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v3/start-screen">Learning Support Fund Public</a>

        <!-- TDAE Prototype link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v3/TDAE-returning-student/academic-year-details#tab-two">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">TDAE Prototype</span>
          </a>
        </div>
        <!-- User journey link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v3/user-journey">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v3)</span>
          </a>
        </div>
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 2</small></span>
      </summary>
      <div class="nhsuk-details__text">
        <h2 class="nhsuk-heading-l">Travel and Dual Accommodation Expenses (TDAE)
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Implementing a digital claim process for TDAE.</span>
        </h2>

        <hr>

        </ul>
        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>A first version of the Travel and Dual Accommodation Expenses claim to be done online, this first journey allows users to apply for car journeys and additional costs (parking, tunnel or toll road costs) only, with the plan to iterate on this and provide alternative journeys and accommodation in the future.</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v2/start-screen">Learning Support Fund Public</a>

        <!-- TDAE Prototype link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v2/TDAE-start-screen">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">TDAE Prototype</span>
          </a>
        </div>
        <!-- TDAE Prototype link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v2/TDAE-returned/academic-year-details?change=">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">TDAE (Returned to student) Prototype</span>
          </a>
        </div>
        <!-- User journey link -->
        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
          <a class="nhsuk-action-link__link" href="v2/user-journey">
            <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">View user journey (v2)</span>
          </a>
        </div>
      </div>
    </details>


        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Version 1</small></span>
          </summary>
          <div class="nhsuk-details__text">
            <h2 class="nhsuk-heading-l">Updating the toolkit
              <span class="nhsuk-caption-l nhsuk-caption--bottom">Taking a replica of LSF Public and transferring to the new toolkit.</span>
            </h2>
            <!-- <details class="nhsuk-details nhsuk-expander">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Personas
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">

                </ul>
              </div>
            </details> -->
            <!-- <h3 class="nhsuk-heading-m">Hypothesis A</h3>
            <p style="background: #DEE0E2; padding: 20px;"></p> -->
            <hr>

            </ul>
            <h3 class="nhsuk-heading-m">What we created:</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>A replica of the current LSF Public using the old NHSBSA toolkit, and transferring this over to the new NHS toolkit.</li>
            </ul>
            <h3 class="nhsuk-heading-m">What we plan to test:</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>...</li>
            </ul>
            <h3 class="nhsuk-heading-m">What we found:</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>...</li>
            </ul>
            <h3 class="nhsuk-heading-m">Any known issues?</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>A design crit will be completed for all LSF Public screens and version 2 of the system will be created to be more inline with the new toolkit, as there are some outdated elements on various screens.</li>
            </ul>
            <hr>

            <a class="nhsuk-button" href="v1/start-screen">Learning Support Fund Public</a>


            <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
              <a class="nhsuk-action-link__link" href="user-journey">
                <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                  </path>
                </svg>
                <span class="nhsuk-action-link__text">View user journey (v1)</span>
              </a>
            </div>
          </div>
        </details>

  </div>
</div>
{% endblock %}
