{% extends 'layout.html' %}

{% block pageTitle %}
  LSF Public User Journey
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--bottom">Version 1</span>User Journey</h1>

        <div class="nhsuk-form-group">
            <iframe width="768" height="432" src="https://miro.com/app/live-embed/uXjVPIGA_Bs=/?moveToViewport=-9419,6878,20474,10763&embedId=727932780221" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
        <a class="nhsuk-button" href="./v1/start-screen">Learning Support Fund Public</a>

    </div>

  </div>
{% endblock %}
