test{% extends 'layout.html' %}

{% block pageTitle %}
    What comments would you like to provide to the NHSBSA regarding this claim?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds"> 
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v2/TDAE-nhsbsa-comments" method="POST">

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="nhsbsa-comments">
              <h1 class="nhsuk-heading-l">What comments would you like to provide to the NHSBSA regarding this claim?</h1>
            </label>
            <textarea class="nhsuk-textarea" id="nhsbsa-comments" name="nhsbsa-comments" rows="5"></textarea>
          </div>

        <button class="nhsuk-button" type="submit">Next</button><br>
        <a href="TDAE-claims-list">Cancel</a>

    </form>

    </div>

  </div>
{% endblock %}
