send back to student{% extends 'layout.html' %}

{% block pageTitle %}
  What is the reason to send the claim back to the student?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

    <form action="v6/TDAE-send-to-student" method="POST">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Why are you returning the claim to {% if data['name'] %}
                    {{ data['name'] }}
                    {% else %}
                    Joe Bloggs
                    {% endif %}?
                </h1>
              </legend>

              <div class="nhsuk-hint" id="example-hint">
                Select all that apply.
              </div>

              <div class="nhsuk-checkboxes">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="return-reason" type="checkbox" value="University travel details incorrect">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    University travel details incorrect
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="return-reason" type="checkbox" value="Placement travel details incorrect">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    Placement travel details incorrect
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="return-reason" type="checkbox" value="Placement travel evidence incorrect or missing">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Placement travel evidence incorrect or missing
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="return-reason" type="checkbox" value="Vehicle hire details and evidence incorrect or missing">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Vehicle hire details and evidence incorrect or missing
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-4" name="return-reason" type="checkbox" value="Accommodation details or evidence incorrect">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-4">
                    Accommodation details or evidence incorrect
                  </label>
                </div>

              </div>
            </fieldset>

          </div>


        <button class="nhsuk-button" type="submit">Continue</button><br>

    </form>

    </div>

  </div>
{% endblock %}
