{% extends 'layout.html' %}

{% block pageTitle %}
Claim details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back"
    }) }}


    <h1 class="nhsuk-heading-l">Period 1 placement additional costs</h1>

    <p>This information outlines the additional costs incurred and evidence travelling to placement during period 1.</p>

    <h2 class="nhsuk-heading-s">Student comments</h2>
    <p>Some sort of comment here about the mileage / additional costs.</p>

    <h2 class="nhsuk-heading-s">Parking charges on Monday 14 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Cost amount
        </dt>
        <dd class="nhsuk-summary-list__value">
          £4.00
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Evidence
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
            View <span class="nhsuk-u-visually-hidden">(opens in new tab) evidence</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-s">Parking charges on Tuesday 15 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Cost amount
        </dt>
        <dd class="nhsuk-summary-list__value">
          £4.00
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Evidence
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
            View <span class="nhsuk-u-visually-hidden">(opens in new tab) evidence</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-s">Parking charges on Wednesday 15 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Cost amount
        </dt>
        <dd class="nhsuk-summary-list__value">
          £4.00
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Evidence
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
            View <span class="nhsuk-u-visually-hidden">(opens in new tab) evidence</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-s">Parking charges on Thursday 16 August 2023</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 40%;">
          Placement address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle Hospital,  NE1 1AA
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                View full address
              </span>
            </summary>
            <div class="nhsuk-details__text">
              Newcastle Hospital<br>
              Main Street<br>
              Newcastle<br>
              NE1 1AA
            </div>
          </details>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Cost amount
        </dt>
        <dd class="nhsuk-summary-list__value">
          £4.00
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Evidence
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="/images/Screenshot 2023-02-06 at 17.09.59.png" target="_blank" rel="noopener">
            View <span class="nhsuk-u-visually-hidden">(opens in new tab) evidence</span>
          </a>
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button" href="TDAE-placement-overview">Continue</a>

  </div>

</div>
{% endblock %}
